.CartHeader {
  display: flex;
  justify-content: center;
  gap: 13px;
  padding-top: 28px;
  cursor: default;
  flex-wrap: wrap;
}
.CartHeader p.active {
  color: black;
}

.CartHeader p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #a9a9a9;
}
.CartHeader p.active::before {
  content: "";
  border: 1px solid black;
}

.CartHeader p::before {
  content: "";
  border-radius: 50%;
  border: 1px solid #b2b2b2;
  display: block;
  width: 20px;
  height: 20px;
}
.CartHeader p.Passed::before {
  content: "";
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.select2-selection__rendered {
  display: none;
}
.slider-OnlineShop .owl-carousel .owl-stage-outer {
  border-radius: 0;
}
.Userform .row {
  padding-right: 15px;
  padding-left: 15px;
}
div.Checkout .Userform .form-group {
  display: grid;
  align-items: center;
  gap: 4px;
  padding: 0;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .related-product__carousel .owl-item {
    width: 225px !important;
  }
  .col-lg-12 .ShopNowInCart#ShopNowInCheckout {
    height: auto;
    margin-top: 22px !important;
  }
  .CardCarouselCart {
    height: 400px;
    padding: 0;
    margin: 25px 0;
  }
  .Splitted div.Image-One {
    padding: 20px 0 !important;
  }
  .topping {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  div.Checkout .Summery ul:nth-child(odd) {
    width: 100%;
  }
  div.Checkout .Summery ul {
    width: 100%;
  }
  #wizard .content.clearfix .row .col-md-4,
  #wizard .content.clearfix .row .col-md-12,
  .row .col-md-6 {
    padding: 0 !important;
  }
  .wizard .actions > ul {
    gap: 20px;
  }
  .wizard .actions li a {
    width: 150px !important;
    text-align: center;
    font-style: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  .wizard .actions li:not(.disabled) + li,
  .wizard .actions li:not(:first-child):last-child {
    margin-left: 0px !important;
  }
  .PromocodeInput .form-group {
    display: grid !important;
  }
  .PayWithCardButton .card-line {
    width: 65px !important;
    height: 13px !important;
  }
  .PayWithCardButton .left-side {
    background-color: #5de2a3;
    width: 100px !important;
  }
  .PayWithCardButton .new {
    font-size: 17px;
    color: #67748e;
    padding: 9px;
    margin: 0 !important;
  }
  .PayWithCardButton {
    display: flex;
    width: auto !important;
    height: 47px !important;
  }
}
.product-checkout-page {
  width: 250px;
}

.smallSummary {
  display: flex;
  /*grid-template-columns: repeat(3,1fr);*/
  justify-content: center;
  flex-wrap: wrap;
}
div.Checkout .Summery ul {
  margin-top: 27px;
  margin-left: 0px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 19px;
  width: 50%;
}

div.Checkout .Summery ul:nth-child(odd) {
  border-right: 1px solid #efefef;
}
#successPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5151516e;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 826px;
  animation: fadeIn 0.3s ease-in-out, fadeOut 2s 0.5s ease-in-out;
  text-align: center;
}
#successPopup img {
  width: 400px;
}
#successPopup p {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Totals ul {
  display: grid;
  gap: 9px;
  margin-left: 20px;
}
.Totals ul li.total {
  border-top: 1px solid #d3d3d3;
  margin-top: 10px;
  padding-top: 10px;
  width: 291px;
}
.PromocodeInput {
  display: grid;
  gap: 10px;
  padding-bottom: 23px;
  /*justify-content: left;*/
  justify-content: center;
}
.PromocodeInput .form-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}
.PromocodeInput input {
  width: 250px;
}
.PromocodeInput button {
  /* margin-top: 17px; */
}
.ShopNowInCart {
  display: grid;
  background-size: cover;
  height: 235px;
  background-position: center;
  margin-bottom: 38px;
  border-radius: 10px;
  justify-content: center;
  padding: 37px;
  margin-top: 30px;
}
.ShopNowInCart h4 {
  color: white;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}
.ShopNowInCart a {
  width: 151px;
  height: 45px;
  display: block;
  margin: auto;
  border-radius: 12px;
  background-color: transparent;
  border-color: white;
}
.ShopNowInCart a:hover {
  background-color: black;
  border-color: black;
  color: white;
}

input.installments {
  cursor: pointer;
  display: block;
}
div.Checkout {
  /*display: grid;*/
  display: block;
  /*grid-template-columns: repeat(2,1fr);*/
  justify-content: center;
  margin-top: 50px;
  border: 1px solid gainsboro;
  border-radius: 17px;
  padding: 24px;
}
div.Checkout .Userform .form-group {
  display: grid;
  align-items: center;
  gap: 4px;
  padding: 0;
}
div.Checkout .Userform {
  /* width: 50%; */
  /*border-right: 1px solid #dadadaee;*/
}
div.Checkout .Userform h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

div.Checkout .Userform .form-group label {
  margin: 0;
  text-align: left;
  color: #646464;
  font-size: 15px;
}
span.asterisk {
  color: red;
}
/*div.Checkout .Summery{*/
/*  border-right: 1px solid #dadadaee;*/
/*}*/

div.Checkout .Summery .Receipt {
}
div.Checkout .Summery h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

div.Checkout .Summery li {
}
div.Checkout .Summery li:not(:first-of-type) {
  margin-left: 20px;
}

div.ZhomeLogoCheckout {
  /* background-image: url("./assets/imgs/UI/website/Home/Background.jpg"); */
  width: -webkit-fill-available;
  height: 124px;
  background-size: cover;
  background-position: center center;
}

div.ZhomeLogoCheckout p {
  height: -webkit-fill-available;
  color: white;
  font-size: 39px;
  letter-spacing: 10px;
  left: 842px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
div.PayNow {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
div.PayNow a {
  width: 230px;
}
div.PayNow button.PayButton {
  background-color: var(--MainColor);
  width: 230px;
}
.wizard .content .form-control {
  max-width: none !important;
}
.wizard .steps {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wizard .steps > ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7b7f89),
    to(#7b7f89)
  );
  background-image: linear-gradient(#7b7f89, #7b7f89);
  background-size: calc(100% - 50px) 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.wizard .steps > ul li a {
  display: inline-block;
}
.wizard .audible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.wizard .steps > ul li.current span.number,
.wizard .steps > ul li.done span.number {
  background-color: var(--mainColor);
}





p.Continue-Shopping {
  cursor: pointer;
  border: 1px solid #319c55;
  background-color: #319c55;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 180px;
  margin: auto;
}

.wizard .content .form-control {
  padding: 5px;
  min-height: 50px;
  max-width: none;
  border-radius: 4px;
  border: solid 1px #ececec;
}
.wizard .steps > ul li span.number {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #7b7f89;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.next-button {
  color: var(--mainColor);
  font-size: 22px;
}
.next-button:hover i {
  transition: all 0.4s;
  padding-left: 5px;
}
.back-button {
  color: var(--mainColor);
  font-size: 22px;
}
.back-button:hover i {
  transition: all 0.4s;
  padding-left: 5px;
}

/*Checkout form Buttons*/
.PayWithCardButton {
  background-color: #ffffff;
  display: flex;
  width: 270px;
  height: 50px;
  position: relative;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  margin-bottom: 16px;
  border: 1px solid #eee;
}

.PayWithCardButton:hover {
  transform: scale(1.03);
}

.PayWithCardButton:hover .left-side {
  width: 100%;
}

.PayWithCardButton .left-side {
  background-color: #5de2a3;
  width: 130px;
  /*height: 120px;*/
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
  overflow: hidden;
}

.PayWithCardButton .right-side {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.PayWithCardButton .right-side:hover {
  background-color: #f9f7f9;
}

.PayWithCardButton .arrow {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.PayWithCardButton .new {
  font-size: 17px;
  font-family: "Lexend Deca", sans-serif;
  margin-left: 20px;
}

.PayWithCardButton .card {
  width: 70px;
  height: 46px;
  background-color: #c7ffbc;
  border-radius: 6px;
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
}

.PayWithCardButton .card-line {
  width: 65px;
  height: 13px;
  background-color: #80ea69;
  border-radius: 2px;
  margin-top: 7px;
}

@media only screen and (max-width: 480px) {
  /*  .PayWithCardButton  {*/
  /*  transform: scale(0.7);*/
  /*}*/

  .PayWithCardButton:hover {
    transform: scale(0.74);
  }

  .PayWithCardButton .new {
    font-size: 17px;
  }
}

.PayWithCardButton .buttons {
  width: 8px;
  height: 8px;
  background-color: #379e1f;
  box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
  border-radius: 50%;
  margin-top: 5px;
  transform: rotate(90deg);
  margin: 10px 0 0 -30px;
}

.PayWithCardButton:hover .card {
  animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.PayWithCardButton:hover .post {
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
  }
}

.PayWithCardButton .post {
  width: 63px;
  height: 75px;
  background-color: #dddde0;
  position: absolute;
  z-index: 11;
  bottom: 10px;
  top: 120px;
  border-radius: 6px;
  overflow: hidden;
}

.PayWithCardButton .post-line {
  width: 47px;
  height: 9px;
  background-color: #545354;
  position: absolute;
  border-radius: 0px 0px 3px 3px;
  right: 8px;
  top: 8px;
}

.PayWithCardButton .post-line:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 9px;
  background-color: #757375;
  top: -8px;
}

.PayWithCardButton .screen {
  width: 47px;
  height: 23px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 8px;
  border-radius: 3px;
}

.PayWithCardButton .numbers {
  width: 12px;
  height: 12px;
  background-color: #838183;
  box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 52px;
}

.PayWithCardButton .numbers-line2 {
  width: 12px;
  height: 12px;
  background-color: #aaa9ab;
  box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 68px;
}

@keyframes slide-post {
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
}

.PayWithCardButton .dollar {
  position: absolute;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  color: #4b953b;
  text-align: center;
}

.PayWithCardButton:hover .dollar {
  animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-COD {
  text-decoration: none;
  line-height: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  color: #121212;
  border: 1px solid #eee;
  cursor: pointer;
  height: 50px;
  margin-bottom: 16px;
  border-radius: 6px;
}

.button-COD .button-decor {
  position: absolute;
  inset: 0;
  background-color: var(--clr);
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 0;
}

.button-COD .button-content {
  display: flex;
  align-items: center;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  color: #67748e;
  height: 50px;
}

.button-COD .button__icon {
  width: 48px;
  background-color: #5de2a2;
  display: grid;
  place-items: center;
}

.button-COD .button__text {
  display: inline-block;
  transition: color 0.2s;
  padding: 2px 1.5rem 2px;
  padding-left: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-COD .button-COD:hover .button__text {
  color: #fff;
}

.button-COD .button-COD:hover .button-decor {
  transform: translate(0);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border: none !important;
}
