<!-- Cart -> Checkout -> Payment -->
<section>
    <div class="container">
        <div class="CartHeader">
            <p>
                {{ 'Cart' | translate }}
            </p>
            >
            <p class="active">
                {{ 'Checkout' | translate }}
            </p>
            >
            <p>
                {{ 'Payment' | translate }}
            </p>
        </div>
    </div>
</section>

    <!-- Checkout form -->
    <section>
        <div class="container">
            <div class="Checkout d-block">
                <!--Total Summary -->
                <div class="Summery">
                    <div class="Receipt">
                        <h4>{{ 'ReceiptSummary' | translate }}</h4>
                        <!-- Product One -->
                        <div class="smallSummary">
                            @for (order of orderData.Orders; track $index) {
                                <ul>
                                    <div class="product-checkout-page">
                                        <img [src]="order.product.MainImage" class="w-100" [alt]="order.product.Name">
                                        <div>
                                            <li>{{order.product.Name}}</li>
                                            <li>x{{order.Quantity}}    </li>
                                            <li>{{ 'Price' | translate }} {{order.Price | currency: " EGP "}}</li>
                                            @if(order.WithInstallation != 0){
                                                <li>{{ 'InstallationPrice' | translate }} {{order.product.InstallationCost | currency: " EGP "}}</li>
                                            }
                                            @if(order.product.sale){
                                                <li>{{ 'Saved' | translate }}: {{(order.product.Price - order.product.sale.PriceAfter) | currency: " EGP " }}</li>
                                            }
                                        </div>
                                    </div>
                                </ul>
                              }
                        </div>
                    </div>

                    <p id="deliveryFees"></p>
                    @if (checkPromocodeForm.value.promoCode) {
                      <h6 id="promocode-div">{{ 'Promocode' | translate }} <span id="promocode">{{ checkPromocodeForm.value.promoCode }}</span></h6>
                    }
                    @if(savedAmount() > 0){
                      <h6 id="saved-amount">{{ 'Saved' | translate }}: {{ savedAmount() | currency: 'EGP' }}</h6>
                    }
                    <h6 id="FinalCheckoutHide">
                        {{ 'Total' | translate }} <span id="FinalCheckout">{{ total() | currency: 'EGP' }}</span>
                    </h6>
                </div>

                <div class="mb-4 wizard clearfix">
                  <div class="steps clearfix">
                    <ul role="tablist">
                      <li role="tab" aria-disabled="false" aria-selected="true" [ngClass]="{'current': step === 1, 'disabled': step !== 1}">
                        <a id="wizard-t-0" aria-controls="wizard-p-0">
                          <span class="current-info audible">current step: </span>
                          <span class="number">1</span>
                        </a>
                      </li>
                      <li role="tab" aria-disabled="true" [ngClass]="{'current': step === 2, 'disabled': step !== 2}" >
                        <a id="wizard-t-1" aria-controls="wizard-p-1">
                          <span class="number">2</span>
                        </a>
                      </li>
                      <li role="tab" class="disabled" aria-disabled="true" [ngClass]="{'current': step === 3, 'disabled': step !== 3}" >
                        <a id="wizard-t-2" aria-controls="wizard-p-2">
                          <span class="number">3</span>
                        </a>
                      </li>
                      <li role="tab" class="disabled last" aria-disabled="true" [ngClass]="{'current': step === 4, 'disabled': step !== 4}" >
                        <a id="wizard-t-3" aria-controls="wizard-p-3">
                          <span class="number">4</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <form [formGroup]="userInfo" (ngSubmit)="submitUserInfo()">
                    <!--User Info-->
                    @if(step == 1){
                      <section>
                          <div class="Userform">

                              <h4>{{ 'ContactInformation' | translate }}</h4>
                              @if(isLogged){

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserName" class="form-control-label">{{ 'CheckoutName' | translate }}</label>
                                                <input class="form-control" id="UserName" type="text" formControlName="Name" autocomplete="off" [disabled]="isLogged && orderData.User.email_verified_at != null">
                                            <!-- <input class="form-control" type="hidden"  formControlName="FirstName" [value]="orderData.firstName">
                                                <input class="form-control" type="hidden"  formControlName="LastName"  [value]="orderData.lastName" > -->
                                                  <input class="form-control" type="hidden" formControlName="CartID">
                                                  @if (userInfo.get('Name')?.errors &&
                                                      userInfo.get('Name')?.touched) {
                                                      <div
                                                          class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                      >
                                                          <i class="fa-solid fa-xmark"></i>
                                                          @if(userInfo.get('Name')?.errors?.['required']) {
                                                          <p>Name field is required</p>
                                                          } @else if (userInfo.get('Name')?.errors?.['minLength']) {
                                                          <p>Name should be more than 3 letters</p>
                                                          }
                                                      </div>
                                                  }
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserEmail" class="form-control-label">{{ 'CheckoutEmail' | translate }}</label>
                                            <input class="form-control" id="UserEmail" type="email" formControlName="email" [value]="orderData.User.email" autocomplete="off" [disabled]="isLogged && orderData.User.email_verified_at != null">
                                            @if (userInfo.get('email')?.errors &&
                                              userInfo.get('email')?.touched) {
                                              <div
                                                  class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                              >
                                                  <i class="fa-solid fa-xmark"></i>
                                                  @if(userInfo.get('email')?.errors?.['required']) {
                                                  <p>Email field is required</p>
                                                  } @else if (userInfo.get('email')?.errors?.['email']) {
                                                  <p>Write a valid email</p>
                                                  }
                                              </div>
                                              }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserMainAddress" class="form-control-label">{{ 'CheckoutAddress' | translate }}</label>
                                            <textarea class="form-control" id="UserMainAddress" formControlName="Address"></textarea>
                                              @if (userInfo.get('Address')?.errors &&
                                                  userInfo.get('Address')?.touched) {
                                                  <div
                                                      class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                  >
                                                      <i class="fa-solid fa-xmark"></i>
                                                      @if(userInfo.get('Address')?.errors?.['required']) {
                                                      <p>Address field is required</p>
                                                      }
                                                  </div>
                                              }
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserPhone" class="form-control-label">{{ 'CheckoutPhone' | translate }}</label>
                                            <input class="form-control" id="UserPhone" type="number" formControlName="Phone">
                                              @if (userInfo.get('Phone')?.errors &&
                                                  userInfo.get('Phone')?.touched) {
                                                  <div
                                                      class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                  >
                                                      <i class="fa-solid fa-xmark"></i>
                                                      @if(userInfo.get('Phone')?.errors?.['required']) {
                                                      <p>Phone field is required</p>
                                                      }
                                                  </div>
                                              }
                                        </div>
                                    </div>
                                </div>
                                <a class="btn border-none next-button mt-2 d-flex justify-content-end gap-2 align-items-center" (click)="next()">{{ 'Next' | translate }} <i class="fa-solid fa-chevron-right"></i> </a>
                              }
                              @else{

                                <div class="DarkShadow">
                                    <div id="signInOverlay" class="overlaySignIn">
                                        <div class="cardOverlay" id="signInCard">
                                            <h2>{{ 'ZhomeCommunity' | translate }}</h2>
                                            <p style="font-size: 13px;">{{ 'ZhomeCommunityText' | translate }}</p>
                                            <div class="Div-Overlay-Sign">
                                                <div class="InnerDiv-Overlay">
                                                    <a routerLink="/login" class="ButtonSignInOverlay"><img src="assets/imgs/UI/website/Cart/refer.png" alt="Sign In"></a>
                                                    <p class="small-txt">{{ 'HaveAccount' | translate }}</p>
                                                </div>
                                                <div class="InnerDiv-Overlay">
                                                    <a routerLink="/register" class="ButtonSignUpOverlay"><img src="assets/imgs/UI/website/Cart/add-user.png" alt="Sign Up"></a>
                                                    <p class="small-txt">{{ 'ZhomeCommunityNewUser' | translate }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="FirstName" class="form-control-label">{{ 'FirstName' | translate }}</label>
                                                <input class="form-control" id="FirstName" type="text" autocomplete="off" [disabled]="true">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="LastName" class="form-control-label">{{ 'LastName' | translate }}</label>
                                                <input class="form-control" id="LastName" type="text" autocomplete="off" [disabled]="true" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="UserEmail" class="form-control-label">{{ 'CheckoutEmail' | translate }}</label>
                                                <input class="form-control" id="UserEmail" type="email" autocomplete="off" disabled >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="UserPhone" class="form-control-label">{{ 'CheckoutPhone' | translate }}</label>
                                                <input class="form-control" id="UserPhone" type="number" autocomplete="off"[disabled]="true" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="UserCity" class="form-control-label">{{ 'City' | translate }}</label>
                                                <input class="form-control" id="UserCity" type="text"[disabled]="true" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="UserCountry" class="form-control-label">{{ 'Country' | translate }}</label>
                                                <input class="form-control" id="UserCountry" type="text"[disabled]="true" >
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="UserAddress" class="form-control-label">{{ 'CheckoutAddress' | translate }}</label>
                                                <textarea class="form-control" id="UserAddress"[disabled]="true" ></textarea>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="UserBuilding" class="form-control-label">{{ 'Building' | translate }}</label>
                                                <input class="form-control" id="UserBuilding" type="text" disabled >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="UserFloor" class="form-control-label">{{ 'Floor' | translate }}</label>
                                                <input class="form-control" id="UserFloor" type="number" [disabled]="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="UserApartment" class="form-control-label">{{ 'Apartment' | translate }}</label>
                                                <input class="form-control" id="UserApartment" type="number" [disabled]="true">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                              }
                          </div>
                      </section>
                    }

                    <!--Address-->
                    @if(step == 2 && isLogged){
                      <section>
                          <div class="Userform">
                              <h4>{{ 'ShippingInformation' | translate }}</h4>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="form-group">
                                              <label for="UserShippingAddress" class="form-control-label">{{ 'CheckoutAddress' | translate }}</label>
                                              <textarea class="form-control" id="UserShippingAddress" formControlName="UserShippingAddress"></textarea>
                                                @if (userInfo.get('UserShippingAddress')?.errors &&
                                                    userInfo.get('UserShippingAddress')?.touched) {
                                                    <div
                                                        class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                    >
                                                        <i class="fa-solid fa-xmark"></i>
                                                        @if(userInfo.get('UserShippingAddress')?.errors?.['required']) {
                                                        <p>Shipping Address field is required</p>
                                                        }
                                                    </div>
                                                }
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="UserCountry">{{ 'Country' | translate }}</label>
                                              <select id="UserCountry" formControlName="Country" class="form-control" (change)="onCountryChange($event)">
                                                  <option disabled selected hidden>{{ 'SelectCountry' | translate }}</option>
                                                  <option *ngFor="let country of countries" [value]="country.code">
                                                    <img [src]="country.flag" alt="{{ country.name }}" style="width: 20px; margin-right: 5px;">
                                                    {{ country.name }}
                                                  </option>

                                              </select>
                                                @if (userInfo.get('Country')?.errors &&
                                                    userInfo.get('Country')?.touched) {
                                                    <div
                                                        class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                    >
                                                        <i class="fa-solid fa-xmark"></i>
                                                        @if(userInfo.get('Country')?.errors?.['required']) {
                                                        <p>Country field is required</p>
                                                        }
                                                    </div>
                                                }
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="UserCity">{{ 'City' | translate }}</label>
                                              <select id="UserCity" formControlName="City" [disabled]="isCitySelectDisabled" [(ngModel)]="selectedCity" class="form-control">
                                                  <option disabled selected hidden>{{ 'SelectCity' | translate }}</option>
                                                  <option *ngFor="let city of cities" [value]="city.name">
                                                    {{ city.name }}
                                                  </option>
                                              </select>
                                                @if (userInfo.get('City')?.errors &&
                                                    userInfo.get('City')?.touched) {
                                                    <div
                                                        class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                    >
                                                        <i class="fa-solid fa-xmark"></i>
                                                        @if(userInfo.get('City')?.errors?.['required']) {
                                                        <p>City field is required</p>
                                                        }
                                                    </div>
                                                }
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="UserBuilding" class="form-control-label">{{ 'Building' | translate }}</label>
                                                <input class="form-control" id="UserBuilding" type="text" formControlName="Building">
                                                @if (userInfo.get('Building')?.errors &&
                                                    userInfo.get('Building')?.touched) {
                                                    <div
                                                        class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                    >
                                                        <i class="fa-solid fa-xmark"></i>
                                                        @if(userInfo.get('Building')?.errors?.['required']) {
                                                        <p>Building field is required</p>
                                                        }
                                                    </div>
                                                }
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="UserFloor" class="form-control-label">{{ 'Floor' | translate }}</label>
                                              <input class="form-control" id="UserFloor" type="text" formControlName="Floor">
                                                @if (userInfo.get('Floor')?.errors &&
                                                    userInfo.get('Floor')?.touched) {
                                                    <div
                                                        class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                    >
                                                        <i class="fa-solid fa-xmark"></i>
                                                        @if(userInfo.get('Floor')?.errors?.['required']) {
                                                        <p>Floor field is required</p>
                                                        }
                                                    </div>
                                                }
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="UserApartment" class="form-control-label">{{ 'Apartment' | translate }}</label>
                                              <input class="form-control" id="UserApartment" type="text" formControlName="Apartment">
                                                @if (userInfo.get('Apartment')?.errors &&
                                                    userInfo.get('Apartment')?.touched) {
                                                    <div
                                                        class="alert danger d-flex align-items-baseline text-danger position-absolute"
                                                    >
                                                        <i class="fa-solid fa-xmark"></i>
                                                        @if(userInfo.get('Apartment')?.errors?.['required']) {
                                                        <p>Apartment field is required</p>
                                                        }
                                                    </div>
                                                }
                                          </div>
                                      </div>
                                  </div>

                          </div>
                          <div class="d-flex justify-content-between mt-3">
                            <a class="btn border-none back-button" (click)="back()"><i class="fa-solid fa-chevron-left"></i> {{ 'Back' | translate }}  </a>
                            <button type="submit" class="btn border-none next-button">{{ 'Next' | translate }} <i class="fa-solid fa-chevron-right"></i> </button>
                          </div>

                      </section>
                    }
                </form>
                    <!--Promocode-->
                    @if(step == 3 && isLogged){
                      <section>
                        <form [formGroup]="checkPromocodeForm" (ngSubmit)="checkPromocode()">
                          <h4 class="text-center mb-5" style="font-size: 30px;">{{ 'Promocode' | translate }}</h4>
                          <div class="PromocodeInput">
                              <div class="form-group d-flex align-items-center">
                                  <input class="form-control" type="text" id="promoCodeInput" formControlName="promoCode" placeholder="Promocode" autocomplete="off">
                                  <button class="btn btn-primary p-2" type="submit" id="checkPromoCodeButton">{{ 'Check' | translate }}</button>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between mt-3">
                            <a class="btn border-none next-button" (click)="back()"><i class="fa-solid fa-chevron-left"></i> {{ 'Back' | translate }}</a>
                            <a class="btn border-none back-button" (click)="next()">{{ 'Next' | translate }} <i class="fa-solid fa-chevron-right"></i></a>
                          </div>
                        </form>
                      </section>
                    }

                    <!--Payment-->
                    @if(step == 4 && isLogged){
                      <section>
                          <h4 class="text-center mb-5" style="font-size: 30px;">{{ 'PaymentOptions' | translate }}</h4>
                            <div class="PayNow">
                                <div class="PayWithCardButton" (click)="cardPay()" id="checkoutButton">
                                    <div class="left-side">
                                        <div class="card">
                                            <div class="card-line"></div>
                                            <div class="buttons"></div>
                                        </div>
                                        <div class="post">
                                            <div class="post-line"></div>
                                            <div class="screen">
                                                <div class="dollar">$</div>
                                            </div>
                                            <div class="numbers"></div>
                                            <div class="numbers-line2"></div>
                                        </div>
                                    </div>
                                    <div class="right-side">
                                        <div class="new">{{ 'PaywithCard' | translate }}</div>
                                    </div>
                                </div>
                                <button class="button-COD" style="--clr: #00ad54;" (click)="cashPay()"  id="CODButton">
                                    <span class="button-decor"></span>
                                    <div class="button-content">
                                        <div class="button__icon">
                                            <img src="assets/imgs/UI/website/Cart/cash-on-delivery.png" alt="Cash on Delivery">
                                        </div>
                                        <span class="button__text">{{ 'CashOnDelivery' | translate }}</span>
                                    </div>
                                </button>
                            </div>
                            <div class="d-flex gap-2 justify-content-center mt-3">
                              <a class="btn border-none back-button" (click)="back()"><i class="fa-solid fa-chevron-left"></i> {{ 'Back' | translate }}</a>
                            </div>
                      </section>
                    }

                <div class="ZhomeLogoCheckout">
                    <p>Zhome</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Selling Product -->
    <section>
        <div class="container">
            <div class="col-lg-12 p-0">
                <div class="ShopNowInCart" style="background-image: url('assets/imgs/UI/website/Cart/bence-boros-anapPhJFRhM-unsplash.jpg');">
                    <h4>
                        {{ 'CheckTheNewest' | translate }}<br>
                        Apple Products
                    </h4>
                    <a routerLink="/shop" class="btn btn-secondary">{{ 'ShopNowButton' | translate }}</a>
                </div>
            </div>
        </div>
    </section>



