@if(product){

    <!-- Header -->
    <div class="container pt-3">
        <ul class="list-unstyled thm-breadcrumb thm-breadcrumb__two">
            <li><a routerLink="/home">{{ 'Home' | translate }} : </a></li>
            <li><a routerLink="/shop">{{ 'Shop' | translate }} :</a></li>
            <li>
                @if(currentLang === 'ar'){
                    {{product.ArabicName | titlecase }}
                }
                @else{
                    {{product.Name | titlecase }}
                }
            </li>
        </ul>
    </div>

        <!-- Details -->
        <section class="product-details NearestDiv">
            <div class="container">
                <div class="row RowReverseInArabic justify-content-center">
                    <div class="col-lg-6">
                        <div class="product-details__image">
                            <img class="img-fluid MainUpperImage" [src]="product.MainImage" width="500px" height="500px" [alt]="product.Name" />
                            <a href="#" class="product-details__img-popup img-popup">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <div class="additional-images-container">
                            <div class="swiper additional-images-slider">
                              <owl-carousel-o [options]="ImagesSlider">
                                  @for (image of productImages ; track $index){
                                      <ng-template carouselSlide>
                                        <div class="swiper-slide">
                                            <div class="additional-image m-2">
                                                <img class="img-fluid h-100" [src]="image.Image" style="width:130px;object-fit: cover;" [alt]="product.Name" />
                                            </div>
                                        </div>
                                      </ng-template>

                                  }
                              </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details__content ">
                            <!-- Product With Sale -->
                                <h1 class="product-details__title">
                                    {{product.Name}}
                                </h1>
                                @if(product.sale){
                                    <input type="hidden" name="PriceAfterSale" [value]="product.sale.PriceAfter" >
                                    <p class="product-details__price">{{ product.sale.PriceAfter | currency:'EGP' }} </p>
                                    <p class="product-details__price" style="text-decoration: line-through; font-size:19px">{{ product.Price | currency:'EGP' }}</p>
                                }
                                @else{
                                    <p class="product-details__price">{{ product.Price | currency:'EGP' }}</p>
                                }

                                <p class="product-details__text">
                                    @if(currentLang === 'ar'){
                                        {{ product.ArabicDescription }}
                                    }
                                    @else{
                                        {{ product.Description }}
                                    }

                                </p>
                                <p class="product-details__categories">
                                    <span class="text-uppercase"> {{ 'Category' | translate }} </span>
                                    <a routerLink="/category">
                                        @if(currentLang === 'ar'){
                                            {{ product.subcategory.category.ArabicName }}
                                        }
                                        @else{
                                            {{ product.subcategory.category.Category }}
                                        }

                                    </a>
                                    <br />
                                    <span class="text-uppercase"> {{ 'Brand' | translate }}  </span>
                                    <a routerLink="/brand">
                                        {{ product.brand.Brand }}
                                    </a>
                                </p>

                                <div class="product-details__button-block d-grid gap-1">
                                  <input type='hidden' name='Quantity' [value]="product.Quantity" />
                                  @if(product.Quantity > 0){
                                    <div class="quantity-spinner">
                                      <button (click)="decrementQuantity()" [disabled]="quantity <= 1">-</button>
                                      <input type="number" [(ngModel)]="quantity" min="1" [max]="product.Quantity" [id]="'quantity-'+product.ID">
                                      <button (click)="incrementQuantity()" [disabled]="quantity >= product.Quantity">+</button>
                                    </div>
                                    <button (click)="addToCart(product.ID , quantity)" class="thm-btn product-details__cart-btn ml-3">
                                        {{ 'AddtoCart' | translate }} <span>+</span>
                                    </button>
                                  }
                                  @else if(product.Quantity <= 0){
                                    <p class='OutStock'> {{ 'OutofStock' | translate }} </p>
                                  }
                                </div>
                                @if(product.Quantity > 0){
                                    <p class="product-details__availabelity">
                                        <span>{{ 'Availability' | translate }}</span>
                                        <i class='fa-solid fa-check'></i> {{ 'AvailableInstock' | translate }}
                                    </p>
                                }
                                @else{
                                    <p class="product-details__availabelity">
                                        <span>{{ 'Availability' | translate }}</span>
                                        <span style='color: red;'><i class='fa-solid fa-xmark' style='color: red;'></i>{{ 'CurrentlyOutofstock' | translate }}  </span>
                                    </p>
                                }

                                <div class="Product-Platforms DisplayFlex">
                                    @for(platform of productPlatforms ; track $index){
                                        <a>
                                            <div class="platform">
                                                <img [src]="platform.Logo" [alt]="platform.Platform">
                                                <p>{{platform.Platform}}</p>
                                            </div>
                                        </a>
                                    }
                                </div>
                                <p class="product-details__social">
                                    <a href="" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href=""  target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                </p>
                        </div>
                    </div>
                    <hr class="separator">

                    <div class="col-lg-12">
                        <div class="container d-grid justify-content-center">
                            <h2 class="ProductDetails-Text">
                                @if(currentLang === 'ar'){
                                    {{product.product_details.ArabicTitle}}
                                }
                                @else{
                                    {{product.product_details.Title}}
                                }

                            </h2>
                            <div class="Images-ProductsDetails">
                                <div class="Image-One-ProductDetails fadeInUp">
                                    <img [src]="product.product_details.CoverImage" alt="Cover Image">
                                </div>
                            </div>
                            <div class="Text-under-images-ProductDetails">
                                <div class="text-one-ProductDetails">
                                    <div class="top-text">
                                        <img [src]="product.brand.Logo" [alt]="product.brand.Brand">
                                        <h3>{{ 'Brand' | translate }}</h3>
                                    </div>
                                    <div class="bottom-text">
                                        <p>
                                            {{ product.Name + ' is a ' + product.brand.Brand}}
                                        </p>
                                    </div>

                                </div>
                                <div class="text-one-ProductDetails">
                                    <div class="top-text">
                                    <i class="fa-solid fa-folder"></i>
                                    <h3>{{ 'Platform' | translate }}</h3>
                                    </div>
                                    <div class="bottom-text">
                                        <div class="Product-Platforms">
                                            @for(platform of productPlatforms ; track $index){
                                                <a href="">
                                                    <div class="platform">
                                                        <img [src]="platform.Logo" [alt]="platform.Platform">
                                                        <p>{{platform.Platform}}</p>
                                                    </div>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if(product.InstallationCost){
                                    <div class="text-one-ProductDetails">
                                        <div class="top-text">
                                            <i class="fa-solid fa-gears"></i>
                                            <h3>{{ 'ProfessionalInstallation' | translate }}</h3>
                                        </div>
                                        <div class="bottom-text">
                                            <p>
                                                {{ 'TextProfessionalInstallation' | translate }} {{ product.InstallationCost | currency:'EGP' }}.
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="text-one-ProductDetails">
                                    <div class="top-text">
                                        <i class="fa-solid fa-house-signal"></i>
                                        <h3>{{ 'Technology' | translate }}</h3>
                                    </div>
                                    <div class="bottom-text">
                                        <p>
                                            {{ getTechnologyString() }}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- {{-- Features --}} -->
                    @if(product.features){
                      <div class="Features-Product-Page mt-5 pt-5">
                          <h2>Features</h2>
                          <div class="container">
                              <div class="card-slider-wrapper">
                                  <div class="card-slider">
                                      <div class="mt-5 pt-3">
                                          <owl-carousel-o [options]="FeaturesSlider">
                                              @for (feature of product.features; track $index) {
                                                  <ng-template carouselSlide>
                                                      <div class="Feature-details">
                                                          <img [src]="feature.Image" [alt]="feature.Feature">
                                                          <div class="bottom-text">
                                                          <h3>{{feature.Feature}}</h3>
                                                          <p>{{feature.Description}}</p>
                                                          </div>
                                                      </div>
                                                  </ng-template>

                                              }
                                          </owl-carousel-o>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    }

                    <!-- Expert Review -->
                    <div class="mt-4" style="border-bottom:1px solid #eeee; ">
                        <div class="product-details__review-form">
                            <h2 class="mb-4 text-center">{{ 'ExpertReview' | translate }}</h2>
                            <!-- Reviews -->
                            <div class="product-details__review mb-4">
                                <div class="ExpertReview m-auto mt-5">
                                    <div class="product-details__review-form">
                                        <div class="product-details__review-single">
                                            <div class="product-details__review-left">
                                                <img src="assets/dist/img/avatar2.png" width="70px" height="70px" alt="Image" />
                                            </div>
                                            <div class="product-details__review-right">
                                                <div class="product-details__review-top">
                                                    <div class="product-details__review-top-left">
                                                        <h3 class="product-details__review-title">{{product.evaluations.admin}}</h3>
                                                        <span class="product-details__review-sep">-</span>
                                                        <span class="product-details__review-date">{{ 'ExpertEng' | translate }}</span>
                                                    </div>
                                                </div>
                                                <p class="product-details__review-text">
                                                    @if(currentLang === 'ar'){
                                                        {{product.evaluations.ArabicEvaluation}}
                                                    }
                                                    @else{
                                                        {{product.evaluations.Evaluation}}
                                                    }

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Part 2 -->
                <div class="row LessMarginHere mt-5 pt-5">
                    <div class="col-lg-6">
                        <div class="product-details__content ProductDetails_Section_last">
                                <h3 class="product-details__title">
                                    @if(currentLang === 'ar'){
                                        {{product.product_details.ArabicTitle2}}
                                    }
                                    @else{
                                        {{product.product_details.Title}}
                                    }

                                </h3>
                                <ul>
                                    <li>
                                        <span><i class="fa-solid fa-check"></i></span>
                                        <p>{{product.brand.Brand + " Brand" }} </p>
                                    </li>
                                    <li>
                                        <span><i class="fa-solid fa-check"></i></span>
                                        <p>
                                            {{ 'CompitableWith' | translate }}
                                            @for(platform of productPlatforms ; track $index){
                                                    {{platform.Platform}}
                                            }
                                            Platfrom
                                        </p>
                                    </li>
                                    @for(feature of product.features ; track $index){
                                        <li>
                                            <span><i class="fa-solid fa-check"></i></span>
                                            <p>{{feature.Feature}}</p>
                                        </li>
                                    }

                                    <li>
                                        <span><i class="fa-solid fa-check"></i></span>
                                        <p>{{ 'FreeTransportation' | translate }}</p>
                                    </li>

                                    @if(product.InstallationCost){
                                        <li>
                                            <span><i class="fa-solid fa-check"></i></span>
                                            <p>{{ 'TextProfessionalInstallation' | translate }}{{ product.InstallationCost | currency:'EGP' }}</p>
                                        </li>
                                    }

                                </ul>
                                <div class="product-details__button-block d-grid gap-1">
                                    @if(product.Quantity > 0){
                                      <button
                                        type="button"
                                        class="thm-btn product-details__cart-btn"
                                        (click)="addToCart(product.ID)"
                                        title="Add to Cart"
                                      >
                                      @if(!isAdded){
                                       {{ 'AddtoCart' | translate }}
                                      }
                                      @else {
                                        <i class="fa-solid fa-check"></i>
                                      }
                                      </button>
                                    }
                                    @else if(product.Quantity <= 0){
                                        <p class='OutStock text-center' style='font-size: 20px;'>{{ 'OutofStock' | translate }}</p>
                                    }
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details__image LastProductDetails">
                            <img class="img-fluid" [src]="product.MainImage" [alt]="product.Name" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- User Reviews and FAQ , Video and Description-->
        <section class="product-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-details__content">
                            <div class="accrodion-grp" data-grp-name="product-details__accrodion">
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <a (click)="toggleCollapse('description')" class="accordion-toggle" role="button" [attr.aria-expanded]="!collapseStates['description']"  [ngClass]="{'collapsed': collapseStates['description']}" class="accordion-toggle">{{ 'ProductDescription' | translate }}</a>
                                    </div>
                                    <div class="collapse" id="Description" [ngClass]="{'collapse': collapseStates['description'], 'show': !collapseStates['description']}">
                                        <div class="inner">
                                            <div class="product-details__review-form">
                                                <!-- Description -->
                                                <div class="Product-spacification">
                                                    <div class="container">
                                                        <div class="Details">
                                                            <h5>{{ 'Capacity' | translate }}</h5>
                                                            <div class="Details-info">
                                                                <p>{{ 'Capacity' | translate }}(m)</p>
                                                                <span>{{ product.product_details.Capacity + 'm'}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="Details">
                                                            <h5>{{ 'Noise' | translate }}</h5>
                                                            <div class="Details-info">
                                                                <p>{{ 'NoiseLevel' | translate }}(dBA)</p>
                                                                <span>50 dBA</span>
                                                            </div>
                                                        </div>
                                                        <div class="Details">
                                                            <h5> {{ 'PhysicalSpecification' | translate }}</h5>
                                                            <div class="many-details">
                                                                <div class="Details-info">
                                                                    <p>{{ 'NetDimension' | translate }}(WxHxD)</p>
                                                                    <span>{{ product.product_details.Width + 'x' + product.product_details.Height +  'x' + product.product_details.Length}}</span>
                                                                </div>
                                                                <div class="Details-info">
                                                                    <p>{{ 'NetWeight' | translate }}(kg)</p>
                                                                    <span>{{ product.product_details.Weight + 'KG'}}</span>
                                                                </div>
                                                                <div class="Details-info">
                                                                    <p>{{ 'Color' | translate }}</p>
                                                                    <div class="Colorsdiv">
                                                                        @if(product.product_details.Color){
                                                                            <span class="color" [ngStyle]="{'background-color': product.product_details.Color}">
                                                                            </span>
                                                                        }
                                                                        @else if (product.product_details.Color2){
                                                                            <span class="color" [ngStyle]="{'background-color': product.product_details.Color2}">
                                                                            </span>
                                                                        }
                                                                        @else if (product.product_details.Color3){
                                                                            <span class="color" [ngStyle]="{'background-color': product.product_details.Color3}">
                                                                            </span>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if(product.product_details.AirPurification){
                                                            <div class="Details">
                                                                <h5>{{ 'AirPurification' | translate }}</h5>
                                                                <div class="many-details">
                                                                    <div class="Details-info">
                                                                        <p>Indcator (cleanliness)</p>
                                                                        <span>{{ product.product_details.AirPurification }}</span>
                                                                    </div>

                                                                    @if(product.product_details.PreFilter){
                                                                        <div class="Details-info">
                                                                            <p>Pre Filter</p>
                                                                            <span>
                                                                                @if(product.product_details.PreFilter){
                                                                                    Yes
                                                                                }
                                                                                @else{
                                                                                    No
                                                                                }
                                                                            </span>
                                                                        </div>
                                                                    }
                                                                    @if(product.product_details.DustCollecting){
                                                                        <div class="Details-info">
                                                                            <p>Dust Collecting</p>
                                                                            <span> {{ product.product_details.DustCollecting ? 'Yes' : 'No' }}</span>
                                                                        </div>
                                                                    }
                                                                    @if(product.product_details.DeodorizingFilter){
                                                                        <div class="Details-info">
                                                                            <p>Deodorizing Filter</p>
                                                                            <span>{{ product.product_details.DeodorizingFilter  ? 'Yes' : 'No' }}</span>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        @if(product.product_details.PowerConsumption){
                                                            <div class="Details">
                                                                <h5>{{ 'ElectricalDate' | translate }}</h5>
                                                                <div class="Details-info">
                                                                    <p>Power Consumption(W)</p>
                                                                    <span>{{ product.product_details.PowerConsumption +' W' }}</span>
                                                                </div>
                                                            </div>
                                                         }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tech details -->
                                @if(product.faqs && product.faqs.length > 0){
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <a (click)="toggleCollapse('faq')" class="accordion-toggle" role="button" [attr.aria-expanded]="!collapseStates['faq']"  [ngClass]="{'collapsed': collapseStates['faq']}" class="accordion-toggle">{{ 'TechnicalDetails' | translate }}</a>
                                        </div>
                                        <div class="collapse " id="FAQ" [ngClass]="{'collapse': collapseStates['faq'], 'show': !collapseStates['faq']}">
                                            <div class="inner">
                                                <div class="product-details__review-form mt-3">
                                                    <!-- FAQ -->
                                                    <div class="product-details__review mb-4">
                                                        @for(faq of product.faqs; track $index){
                                                            <div class="product-details__review-single" style="padding: 1px 30px;border:none;justify-content: left;">
                                                                <div class="product-details__review-right">
                                                                    <div class="FAQ"  style="gap: 0px;">
                                                                        <div class="Question">
                                                                            {{ faq.Question }}
                                                                        </div>
                                                                        <div class="Answer">
                                                                            <p class="product-details__review-text mt-3"> {{ faq.Answer }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- Video -->
                                @if(product.product_details.Video){
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <a (click)="toggleCollapse('video')" class="accordion-toggle" role="button" [attr.aria-expanded]="!collapseStates['video']"  [ngClass]="{'collapsed': collapseStates['video']}" class="accordion-toggle">{{ 'Video' | translate }}</a>
                                        </div>
                                        <div class="collapse" id="Video" [ngClass]="{'collapse': collapseStates['video'], 'show': !collapseStates['video']}">
                                            <div class="inner">
                                                <div class="product-details__review-form text-center">
                                                    <!-- Video -->
                                                    <div class="product-details__review mb-5">
                                                        <source [src]="product.product_details.Video" type="video/mp4">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- You may also like -->
        <section>
            <div class="container">
                <h3 class="related-product__title">{{ 'YouMayAlsoLike' | translate }}</h3>
                <div class="related-product__carousel">
                    <owl-carousel-o [options]="ProductsSlider">
                        @for(product of products ; track $index){
                            <ng-template carouselSlide>
                                <div class="item">
                                    <app-product-card [product]="product"></app-product-card>
                                </div>
                            </ng-template>

                        }
                    </owl-carousel-o>
                </div>
            </div>
        </section>

}
