<section class="mt-5 pt-5">
  <div class="wrapper">

      <form method="POST" enctype="multipart/form-data">
          <div id="wizard" class="wizard clearfix vertical mt-5 p-0">
            <div class="content clearfix">

              @if(step === 1){
                <section>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                          <p class="m-0 section-name">Which of these rooms do you want to furnish ?</p>
                        </div>
                        <div class="col-md-6">
                          <app-room-selection (roomSelected)="onRoomsSelected($event)"></app-room-selection>
                        </div>
                        <div class="d-flex gap-2 mt-3">
                          <a class="buttons" (click)="nextWithRooms()">Next</a>
                        </div>
                    </div>
                </section>
              }

              @if(step === 2){
                <section>
                  <div class="row align-items-center">
                    <div class="col-md-5">
                        <p class="m-0 section-name">Select the rooms that you see yourself in</p>
                    </div>
                    <div class="col-md-7">

                      <app-room-design-display [selectedRooms]="selectedRooms"></app-room-design-display>

                    </div>

                    <div class="d-flex gap-2 mt-3">
                      <a class="buttons" (click)="next()">Next</a>
                      <a class="buttons" (click)="back()">Previous</a>
                    </div>
                  </div>
                </section>
              }

              @if(step === 3){
                <section>
                  <div class="row align-items-center">
                    <div class="col-md-5">
                        <p class="m-0 section-name">Which of these furniture items do you love?</p>
                    </div>
                    <div class="col-md-7">
                        <div class="bedroom-boxes items-furniture">
                            <!-- Bedrooms  -->
                            @if(furnitureType === 'bedroom'){
                              <!-- Bedrooms -->
                              <div class="row">
                                <h4>Bedrooms</h4>
                                <div class="items-furniture-box">
                                  <owl-carousel-o [options]="FurnitureSlider">
                                    @for (furniture of bedroomFurniture; track $index) {
                                      <ng-template carouselSlide>
                                        <app-furniture-items [furniture]="furniture"></app-furniture-items>
                                      </ng-template>
                                    }
                                  </owl-carousel-o>
                                </div>
                              </div>

                              <!-- wardrobe -->
                              <div class="row">
                                <h4>wardrobe</h4>
                                <div class="items-furniture-box">
                                  <owl-carousel-o [options]="FurnitureSlider">
                                    @for (furniture of wardrobeFurniture; track $index) {
                                    <ng-template carouselSlide>
                                      <app-furniture-items [furniture]="furniture"></app-furniture-items>
                                    </ng-template>
                                    }
                                  </owl-carousel-o>
                                </div>
                              </div>
                            }

                            <!-- Chairs  -->
                            <div class="row">
                                <h4>Armchairs</h4>
                                <div class="items-furniture-box">
                                  <owl-carousel-o [options]="FurnitureSlider">
                                    @for (furniture of chairFurniture; track $index) {
                                    <ng-template carouselSlide>
                                      <app-furniture-items [furniture]="furniture"></app-furniture-items>
                                    </ng-template>
                                    }
                                  </owl-carousel-o>
                                </div>
                            </div>

                            <!-- Sofa  -->
                            @if(furnitureType === 'living' || furnitureType === 'dinning'){
                              <div class="row">
                                <h4>Sofa</h4>
                                <div class="items-furniture-box">
                                  <owl-carousel-o [options]="FurnitureSlider">
                                    @for (furniture of sofaFurniture; track $index) {
                                    <ng-template carouselSlide>
                                      <app-furniture-items [furniture]="furniture"></app-furniture-items>
                                    </ng-template>
                                    }
                                  </owl-carousel-o>
                                </div>
                              </div>
                            }

                            <!-- Dinning room -->
                            @if(furnitureType === 'dinning'){
                              <div class="row">
                                <h4>Dinning</h4>
                                <div class="items-furniture-box">
                                  <owl-carousel-o [options]="FurnitureSlider">
                                    @for (furniture of diningFurniture; track $index) {
                                    <ng-template carouselSlide>
                                      <app-furniture-items [furniture]="furniture"></app-furniture-items>
                                    </ng-template>
                                    }
                                  </owl-carousel-o>
                                </div>
                              </div>
                            }

                        </div>
                    </div>
                    <div class="d-flex gap-2 mt-3">
                      <a class="buttons" (click)="next()">Next</a>
                      <a class="buttons" (click)="back()">Previous</a>
                    </div>
                  </div>
                </section>
              }

              @if(step === 4){
                <section>
                  <div class="row align-items-center">
                    <div class="col-md-5">
                        <p class="m-0 section-name">Select your preferred color palette</p>
                    </div>
                    <div class="col-md-7">

                      <app-color-palette></app-color-palette>

                    </div>

                    <div class="d-flex gap-2 mt-3">
                      <a class="buttons" (click)="next()">Next</a>
                      <a class="buttons" (click)="back()">Previous</a>
                    </div>
                  </div>
                </section>
              }
            </div>
          </div>
      </form>
  </div>
</section>
