<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/admin/dashboard" class="brand-link">
    <img
      src="../../../../assets/imgs/Admin/img/web/Logo/Icon.png"
      alt="Zhome Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Zhome</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="../../../../assets/imgs/Admin/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block">
          <p>{{ adminName }}</p>
        </a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!--Dashboard -->
        <li class="nav-item">
          <a routerLink="/admin/dashboard" routerLinkActive="" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!--Website -->
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="" class="nav-link">
            <i class="nav-icon fa-solid fa-desktop"></i>
            <p>Website</p>
          </a>
        </li>
        <!--Admins -->
        <li class="nav-item">
          <a class="nav-link" (click)="toggleSubMenu('admins')">
            <i class="nav-icon fa-solid fa-user-tie"></i>
            <p>
              Admins
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul [class.show]="isSubMenuOpen('admins')" class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/admin/admins"
                routerLinkActive=""
                class="nav-link Admins"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Admins</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/roles"
                routerLinkActive=""
                class="nav-link Roles"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Roles</p>
              </a>
            </li>
          </ul>
        </li>
        <!--Users -->
        <li class="nav-item">
          <a
            routerLink="/admin/users"
            routerLinkActive=""
            class="nav-link Users"
          >
            <i class="nav-icon fa-solid fa-users"></i>
            <p>Users</p>
          </a>
        </li>
        <!--Products -->
        <li class="nav-item">
          <a (click)="toggleSubMenu('products')" class="nav-link">
            <i class="nav-icon fa-solid fa-box-open"></i>
            <p>
              Products
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul [class.show]="isSubMenuOpen('products')" class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/admin/products"
                routerLinkActive=""
                class="nav-link Products"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Products</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/categories"
                routerLinkActive=""
                class="nav-link Category"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Categories</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/brands"
                routerLinkActive=""
                class="nav-link Brands"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Brands</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/platforms"
                routerLinkActive=""
                class="nav-link Platform"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Platforms</p>
              </a>
            </li>
          </ul>
        </li>
        <!--Features -->
        <li class="nav-item">
          <a routerLink="/admin/features" routerLinkActive="" class="nav-link">
            <i class="nav-icon fa-solid fa-star"></i>
            <p>Features</p>
          </a>
        </li>
        <!--Collections -->
        <li class="nav-item">
          <a
            routerLink="/admin/collections"
            routerLinkActive=""
            class="nav-link"
          >
            <i class="nav-icon fa-solid fa-object-group"></i>
            <p>Collections</p>
          </a>
        </li>
        <!--Payments -->
        <li class="nav-item">
          <a routerLink="/admin/payments" routerLinkActive="" class="nav-link">
            <i class="nav-icon fa-solid fa-money-bill-1-wave"></i>
            <p>Payments</p>
          </a>
        </li>
        <!--Inventory -->
        <li class="nav-item">
          <a routerLink="/admin/inventory" routerLinkActive="" class="nav-link">
            <i class="nav-icon fa-solid fa-boxes-stacked"></i>
            <p>Stock</p>
          </a>
        </li>
        <!--Orders -->
        <li class="nav-item">
          <a (click)="toggleSubMenu('orders')" class="nav-link">
            <i class="nav-icon fa-solid fa-cart-shopping"></i>
            <p>
              Orders
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul [class.show]="isSubMenuOpen('orders')" class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/admin/orders/shop"
                routerLinkActive=""
                class="nav-link Orders.ShopOrders"
              >
                <i class="nav-icon fa-solid fa-shop"></i>
                <p>Shop</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/orders/tools"
                routerLinkActive=""
                class="nav-link Orders.ToolsOrder"
              >
                <i class="nav-icon fa-solid fa-store"></i>
                <p>Tools</p>
              </a>
            </li>
          </ul>
        </li>
        <!--Sales -->
        <li class="nav-item">
          <a (click)="toggleSubMenu('sales')" class="nav-link">
            <i class="nav-icon fa-solid fa-sack-dollar"></i>
            <p>
              Sales
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul [class.show]="isSubMenuOpen('sales')" class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/admin/sales"
                routerLinkActive=""
                class="nav-link Sales"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Sales</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/admin/promocodes"
                routerLinkActive=""
                class="nav-link Sales.Promocode"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Promocodes</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">Others</li>
        <!--Subscribers -->
        <li class="nav-item">
          <a
            routerLink="/admin/subscribers"
            routerLinkActive=""
            class="nav-link"
          >
            <i class="nav-icon fa-solid fa-user-plus"></i>
            <p>Subscribers</p>
          </a>
        </li>
        <!--Contact  -->
        <li class="nav-item">
          <a
            routerLink="/admin/contact"
            routerLinkActive=""
            class="nav-link Contact"
          >
            <i class="nav-icon fa-solid fa-address-card"></i>
            <p>Contact</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
