<section class="auth">
  <div class="h-100 w-100">
    <div class="row h-100">
      <div class="wrapper h-100 justify-content-end">
        <div class="col-md-1 small-sidenav">
          <ul class="small-sidenav-ul">
            <li>
              <a routerLink="/home" title="Home"
                ><i class="fa-solid fa-house"></i
              ></a>
            </li>
            <li>
              <a routerLink="/shop" title="Shop"
                ><i class="fa-solid fa-store"></i
              ></a>
            </li>
            <li>
              <a routerLink="/about" title="About"
                ><i class="fa-solid fa-circle-info"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-md-5 box">
          <div class="form">
            <div class="content">
              <a routerLink="/home" class="ZhomeName">Zhome</a>
              <h3 class="login-form__title">Reset Your Password</h3>
              <p>
                New Member
                <a routerLink="/register" class="fw-bold"
                  >Create Your Account Now</a
                >
              </p>
            </div>

            @if (errorMsg) {
            <div class="alert alert-danger">
              {{ errorMsg }}
            </div>
            }
            @if(step === 1){
              <form [formGroup]="ForgetPasswordForm" (ngSubmit)="verifySubmit()">
                <div class="inputs login-form__form">
                  <div
                    class="login-form__field position-relative"
                    style="height: 82px"
                  >
                    <input
                      type="email"
                      id="email"
                      formControlName="email"
                      placeholder="Email Address"
                      required
                    />
                    @if (ForgetPasswordForm.get('email')?.errors &&
                    ForgetPasswordForm.get('email')?.touched) {
                    <div
                      class="alert danger d-flex align-items-baseline text-danger position-absolute"
                    >
                      <i class="fa-solid fa-xmark"></i>
                      @if(ForgetPasswordForm.get('email')?.errors?.['required']) {
                      <p>Email field is required</p>
                      } @else if (ForgetPasswordForm.get('email')?.errors?.['email']) {
                      <p>Write a valid email</p>
                      }
                    </div>
                    }
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <button type="submit" class="thm-btn contact-one__btn">
                    @if(isLoading == true){
                    <i class="fa-solid fa-spinner"></i>
                    } @else { Send Verification Code }
                  </button>
                </div>
              </form>
            }

            @if(step === 2){
              <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">
                <div class="inputs login-form__form">
                  <div
                    class="login-form__field position-relative"
                    style="height: 82px"
                  >
                    <input
                      type="text"
                      id="code"
                      formControlName="code"
                      placeholder="Verification Code"
                      required
                    />
                    @if (verifyCodeForm.get('code')?.errors &&
                    verifyCodeForm.get('code')?.touched) {
                    <div
                      class="alert danger d-flex align-items-baseline text-danger position-absolute"
                    >
                      <i class="fa-solid fa-xmark"></i>
                      @if(verifyCodeForm.get('code')?.errors?.['required']) {
                      <p>Verification Code field is required</p>
                      }
                    </div>
                    }
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <button type="submit" class="thm-btn contact-one__btn">
                    @if(isLoading == true){
                    <i class="fa-solid fa-spinner"></i>
                    } @else { Verify }
                  </button>
                </div>
              </form>
            }

            @if(step === 3){
              <form [formGroup]="ResetForm" (ngSubmit)="SubmitReset()">
                <div class="inputs login-form__form">
                  <div
                  class="login-form__field position-relative password-input"
                  style="height: 82px"
                >
                  <input
                    type="password"
                    class="password"
                    id="password"
                    formControlName="password"
                    placeholder="Enter Password"
                    required

                    #pass
                  />
                  @if (ResetForm.get('password')?.errors &&
                  ResetForm.get('password')?.touched) {
                  <div
                    class="alert danger d-flex align-items-baseline text-danger position-absolute"
                  >
                    <i class="fa-solid fa-xmark"></i>
                    @if(ResetForm.get('password')?.errors?.['required']) {
                    <p>Password field is required</p>
                    } @else if
                    (ResetForm.get('password')?.errors?.['minLength']) {
                    <p>Password should be more than 9 numbers or letters</p>
                    }
                  </div>
                  }
                  <i
                    class="fa"
                    [ngClass]="show ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="togglePasswordVisibility(pass)"
                  ></i>
                </div>
                <div class="login-form__field position-relative password-input" style="height: 82px">
                  <input
                    type="password"
                    class="password"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    placeholder="Confirm Password"
                    required
                    #confirmPass
                  />
                  @if (ResetForm.get('confirmPassword')?.errors &&
                    ResetForm.get('confirmPassword')?.touched) {
                    <div class="alert danger d-flex align-items-baseline text-danger position-absolute">
                      <i class="fa-solid fa-xmark"></i>
                      @if(ResetForm.get('confirmPassword')?.errors?.['required']) {
                        <p>Confirm password field is required</p>
                        } @else if
                        (ResetForm.get('confirmPassword')?.errors?.['passwordsDoNotMatch']) {
                        <p>Passwords do not match</p>
                        }
                    </div>
                  }
                  <i class="fa" [ngClass]="show ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility(confirmPass)"></i>
                </div>
                  <button type="submit" class="thm-btn contact-one__btn">
                    @if(isLoading == true){
                    <i class="fa-solid fa-spinner"></i>
                    } @else { Reset }
                  </button>
                </div>
              </form>
            }
          </div>
        </div>
        <div class="col-md-6 box details">
          <img
            src="assets/imgs/UI/SignIn/RobotHand.jpg"
            class="w-100 h-100"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

