/* Navbar */
nav.navbar {
    padding: 11rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    z-index: 999;
}
nav.navbar-light .navbar-brand {
    color: white;
    padding: 24px;
    background-color: var(--MainColor);
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
}
nav.stricked-menu.stricky-fixed {
background-color: white;
}
nav.stricked-menu.stricky-fixed ul li.nav-item a {
color: #343333;
}


ul.navbar-nav {
margin-left: 27rem;
gap: 29px;
}
.navbar-light .navbar-nav .nav-link {
color: white;
font-size: 17px;
}
.nav-icon i {
color: white;
}
nav.stricked-menu.stricky-fixed .nav-icon i {
color: #343333;
}

.nav-button {
background-color: var(--MainColor);
color: white;
border-radius: 4px;
}
.nav-button:hover {
background-color: white;
color: black;
}
nav.stricked-menu.stricky-fixed ul li.nav-item a.nav-button {
color: white;
}
nav.stricked-menu.stricky-fixed ul li.nav-item a.nav-button:hover {
background-color: #1a798f;
color: white;
}
/*Nav for mobile screen*/
@media (max-width: 767px) {
    main.d-flex.align-items-center{
        transform: translateY(0px) !important;
    }
    nav.navbar {
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #343333;
    }
    .navbar-light .navbar-nav .nav-link.nav-button  {
        color: white;
    }
    .navbar-light .navbar-nav .nav-link.nav-button:hover  {
        background-color: #49909f;
    }

    .navbar-light .topbar-one__right.list-unstyled .nav-icon i {
        color: #343333;
    }
    .navbar-light .navbar-toggler {
        margin: 13px;
        margin-bottom: 10px;
    }
    .navbar-expand-lg .navbar-collapse {
        height: auto;
        overflow: hidden !important;
        background: #ffffff;
    }

    ul.navbar-nav {
        margin-left: 0;
        gap: 16px;
        text-align: center;
    }
    ul.topbar-one__right.list-unstyled{
        margin-left: 0px;
        justify-content: center;
        margin-top: 20px;
    }
    .nav-button {
        width: 43%;
        margin: auto;
    }
    .Build .Products-home h3{
        text-align: center;
        color: white;
        font-size: 44px !important;
        margin-top: 50px;
        padding: 11px !important;
    }
    /*Shop Nav*/
    .header-navigation.ShopNav .main-navigation {
        margin-left: 0px;
        display: block;
    }
    .header-navigation ul.navigation-box > li, .top-wrapper > li {
        text-align: center;
    }
    .header-navigation.ShopNav .main-navigation {
        background: white;
        margin-left: 0px;
        transform: translateY(0px);
        overflow-y: unset;
    }
    .header-navigation.ShopNav ul.navigation-box > li + li, .top-wrapper > li + li {
        margin-left: 0px;
    }
    .header-navigation.ShopNav ul.navigation-box > li > a {
            padding: 0;
    }
    .header-navigation.ShopNav ul.navigation-box > li:first-child, .top-wrapper > li:first-child {
        padding-left: 0;
    }
    .header-navigation.ShopNav ul.navigation-box {
            display: grid !important;
            justify-content: stretch;
    }

    .header-navigation.ShopNav ul.navigation-box > li:hover > .submenu, .top-wrapper > li:hover>.submenu {
        display: none !important;
    }
    .header-navigation.ShopNav ul.topbar-one__right.list-unstyled{
        margin-left: 0px !important;
    }
    .header-navigation.ShopNav ul.navigation-box > li:hover > .submenu.categories, .top-wrapper > li:hover>.submenu {
        display: none !important;
    }
    .header-navigation.ShopNav ul.navigation-box > li:hover > .submenu#BrandsInNav, .top-wrapper > li:hover>.submenu#BrandsInNav {
        display: none !important;
    }
    .ShopNavMainDiv  .nav-icon {
        font-size: 27px;
    }
    .ShopNavMainDiv  .nav-icon i{
        color: #7f7f7f;
    }
    .ShopIconsNav{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 20px;
        align-items: center;
    }

    .ShopNavMainDiv .SearchAndNav{
        display: flex;
        align-items: center;
    }
    .ShopNavMainDiv .SearchAndNav nav.ShopNav{
        z-index: 1;
        padding: 0;
        display: block;
        transform: translateX(0);
        position: relative;
        border-bottom: none;
    }
    .ShopNavMainDiv  .topbar-one__right.list-unstyled{
        display: none;
    }
    /*Phone Screen Nav*/
    .SmallScreen.ShopNav{
        width: -webkit-fill-available !important;
        transform: translateX(0) !important;
        position: unset !important;
        border: none;
    }

    .ShopNavMainDiv.SmallScreenNav .navbar-brand{
        font-size: 18px;
        background-color: rgb(89, 204, 230);
        color: white;
        padding: 15px;
        margin: auto;
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .ShopNavMainDiv.SmallScreenNav .SearchAndNav{
            width: 100%;
    }
    .ShopNavMainDiv.SmallScreenNav{
            width: 100%;
            place-content: center;
            align-items: center;
    }
    .header.hidden.stricky.stricked-menu.stricky-fixed .JoinUs {
        transition: all .6s ease-out;
        background: linear-gradient(to right, transparent 50%, var(--Maincolor) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
    }
    .JoinUs {
        color: white !important;
        border: 1px solid white;
        padding: 7px 15px;
        border-radius: 4px;
        transition: all .6s ease-out;
        background: linear-gradient(to right, var(--Maincolor) 50%, var(--Maincolor) 50%) !important;
        background-size: 200% 100%;
        background-position: right bottom;
    }
    .BigScreen .JoinUs:hover {
        background-position: left bottom;
        color: black !important;
        border: 1px solid var(--Maincolor);
        background: transparent !important;

    }
    .header.hidden.stricky.stricked-menu.stricky-fixed .JoinUs:hover {
        color: black !important;
        border: 1px solid var(--Maincolor);
        background-position: left bottom;
    }
    .header.hidden.stricky.stricked-menu.stricky-fixed #Icons div.separator{
        border-left: 1px solid var(--Maincolor);
        height: 25px;
        margin: 0px 8px;
    }

    /*Proposal*/
    .wizard .steps {
        overflow: hidden;
    }
    .wizard .content p {
        font-size: 14px;
    }
    .wizard .content .purpose-radios-wrapper .purpose-radio {
        display: flex;
        justify-content: center;
    }
    #wizard-p-7 .row {
        display: grid;
        gap: 0;
    }
    #wizard-p-7 .form-group {
    width: 100%;
    }
    #wizard-p-7 .FileType.form-control {
    width: 100% !important;
    margin-bottom: 20px;
    }
    #wizard-p-7 .form-group img{
        width: 50% !important;
        border-radius: 0px !important;
        margin: auto !important;
        object-fit: contain;
    }
    .wizard .actions > ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    /*Brands Page*/
    .PlatformSection {
        display: block !important;
    }
    .customer-logos .platform img {
        width: 70px !important;
        height: 55px !important;
        padding: 5px;
    }
    .customer-logos .platform {
        width: max-content;
    }
    .customer-logos .platform p {
        padding-right: 7px !important;
    }
    .customer-logos .slick-track {
        display: flex;
    }
    .CatInfo-Desc .customer-logos .slick-track {
        width: fit-content !important;
    }
    .Category-Product {
        display: grid !important;
        text-align: center;
        margin-top: 20px;
        justify-content: center !important;
    }
    .related-product__carousel .owl-item {
        width: 225px !important;
    }
    .slider-one .bottom-slider {
        top: -104px !important;
        width: fit-content;
    }
    .Fixed-bundle.slider-one__slider-1 {
            height: auto;
    }
    /*Shop Categories Filter*/
    .SellingProduct-Separated {

        gap: 0px !important;
        margin: 40px 0 !important;
        flex-wrap: wrap;
        padding: 16px !important;
    }
    .ShopNowInCart {
        margin-bottom: 38px;
        padding: 37px !important;
        margin-top: 0px !important;
        width: -webkit-fill-available;
    }
    .shop-category.padding-large{
            padding-top: 3em !important;
    }
    .CatInfo {
        flex-wrap: wrap;
        width: -webkit-fill-available !important;
    }
    .shop-category img.CategoryImg {
        width: -webkit-fill-available !important;
        margin-left: 0px !important;
        padding: 17px;
        height: 250px !important;
        margin-right: 0px !important;
    }
    .CatInfo .CatInfo-Desc {
        width: -webkit-fill-available !important;
        font-size: 13px;
    }
    .CatInfo .CatInfo-Desc .CategoryInMobile{
        display:grid !important;
    }

    .shop-category p.Desc {
        width: -webkit-fill-available !important;
        margin: auto;
        margin-top: 15px !important;
        padding: 0 26px !important;
    }
    .shop-category h6 {
        /* margin: auto; */
        margin-top: 27px !important;
        margin-left: 0px !important;
        margin-bottom: 10px !important;
        text-align:center !important;
    }
    .Brand img {
        margin: unset;
    }
    .FilterTransform {
        width: -webkit-fill-available;
        max-width: -webkit-fill-available;
        flex: auto;
    }
    .ToolOnlineShop{
        width: auto !important;
    }

    .product-details .product-details__image .MainUpperImage{
    height: 200px  !important;
    object-fit: contain  !important;
    object-position: center;
    }



    /*Nav New Design*/
    .ShopNavMainDiv{
        display: block ;
    }
    a.BrandName{
        padding: 21px 11px;
        background-color: #64caf8;
        color: white;
        font-size: 23px;
    }

    /*Cart Icon In small screen*/
    #cartIcon {
        top: 249px !important;
        right: 17px !important;
        width: 40px !important;
        height: 40px!important;
    }

    #cartIcon i {
        display: flex;
        justify-content: center;
        height: -webkit-fill-available;
        align-items: center;
    }
    .cart-dropdown#cartDropdown{
        top: 295px !important;
        right: 16px !important;
        max-width: 216px !important;
    }
    button.ContinuetoCheckoutDrop{
        font-size: 12px !important;
        padding: 10px;
        border: 1px solid #eee;
    }
    #cartDropdown p.TotalPriceCartIcon{
        text-align: center !important;
        font-size: 13px !important;
        font-weight: bold;
    }

    .FilterTransform #applyFilterBtn {
        padding: 15px !important;
        border-radius: 5px !important;
        background-color: #ffffff !important;
        color: #525252 !important;
        width: -webkit-fill-available !important;
        margin-top: 20px !important;
        border: 1px solid #eeee;
        font-size: 17px;
    }
    .FilterTransform #applyFilterBtn2{
        padding: 15px !important;
        border-radius: 5px !important;
        background-color: #ffffff !important;
        color: #525252 !important;
        width: -webkit-fill-available !important;
        margin-top: 20px !important;
        border: 1px solid #eeee;
        font-size: 17px;
        grid-column: span 2;
    }
    #filterOverlay .FilterTransform{
        padding:0px !important;
    }
    .widget.price.mb-50{
        /*display:none;*/
        width: -webkit-fill-available;
        margin-bottom: 10px;
        text-align: center;
    }
    .FilterTransform #applyFilterBtn:hover{
        background-color: #154352;
        transition-duration: 0.4s;
        color: white;
    }
    .menu-list.checkbox-list#BrandsExamples{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .checkbox-list#PlatformsExamples{
        display: flex;
        flex-wrap: wrap;
    }
    .checkbox-list#TechnologiesExamples{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .FilterTransform #applyFilterBtn{
        grid-column: span 2; /* This spans the last div across both columns */
    }
    .FilterTransform .TechCheckBox {
        border-radius: 8px !important;
        padding: 13px 0px !important;
    }
    div.BundlesButton{
        display:none !important;
    }
    .collapse:not(.show) {
        display: none !important;
    }

    .shop-category .Product-Platforms {
        margin: 0px 20px !important;
        justify-content: center !important;
    }


    .ShopNowInCart a{
        margin-top: 25px !important;
        margin: auto;
        border-radius: 12px;
        background-color: #ffffff40 !important;
        border: 1px solid white !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: black !important;
        font-size: 18px !important;
        font-weight: bold;
    }
    .container .col-lg-12 .ShopNowInCart {
        margin-top: 27px !important;
        height: auto !important;

    }

}