<header class="header hidden stricky" id="header">
    <nav class="navbar container p-0">
        <section class="navbar__left">
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <a routerLink="home" class="BrandName">
                Zhome
            </a>
        </section>

        <section class="navbar__center">
            <ul class="menu__inner">
                <li class="menu__item">
                    <a routerLink="shop" class="menu__link">Shop</a>
                </li>
            
                <li class="menu__item menu__dropdown">
                    <a href="#" class="menu__link">
                        Categories
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </section>

        <section id="Icons">
            <ul class="topbar-one__right list-unstyled ml-4">
                <!-- Profile -->
                <a routerLink="profile" class="nav-icon JoinUs hidInSign">
                    Profile
                </a>
                <div class="separator NewSeparator"></div>
                <!-- Cart -->
                <a routerLink="cart" class="nav-icon CartIcon CartIconNav">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="count" id="cart-count"></span>
                </a>
                    <!-- Logout -->
                <a class="nav-icon text-white" title="Logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            </ul>
        </section>
    </nav>
</header>

