<section class="auth">
  <div class="h-100 w-100">
    <div class="row h-100">
      <div class="wrapper h-100">
        <div class="col-md-6 box details">
          <img
            src="assets/imgs/UI/SignIn/RobotHand.jpg"
            class="w-100 h-100"
            alt=""
          />
        </div>
        <div class="col-md-5 box">
          <div class="form">
            <div class="content">
              <a routerLink="/home" class="ZhomeName">Zhome</a>
              <h3 class="login-form__title">Create Your Account</h3>
              <p>
                Already have an account
                <a routerLink="/login" class="fw-bold">Login now</a>
              </p>
            </div>
            @if (errorMsg) {
            <div class="alert alert-danger">
              {{ errorMsg }}
            </div>
            }
            <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
              <div class="inputs login-form__form">
                <div
                  class="login-form__field position-relative"
                  style="height: 82px"
                >
                  <input
                    type="text"
                    formControlName="name"
                    id="name"
                    placeholder="Name"
                    required
                  />
                  @if (registerForm.get('name')?.errors &&
                  registerForm.get('name')?.touched) {
                  <div
                    class="alert danger d-flex align-items-baseline text-danger position-absolute"
                  >
                    <i class="fa-solid fa-xmark"></i>
                    @if(registerForm.get('name')?.errors?.['required']) {
                    <p>Name field is required</p>
                    } @else if (registerForm.get('name')?.errors?.['minlength'])
                    {
                    <p>The name should be more than 3 letters</p>
                    } @else {
                    <p>The name should be less than 50 letters</p>
                    }
                  </div>
                  }
                  <i class="fa fa-user"></i>
                </div>
                <div
                  class="login-form__field position-relative"
                  style="height: 82px"
                >
                  <input
                    type="email"
                    formControlName="email"
                    id="email"
                    placeholder="Email Address"
                    required
                  />
                  @if (registerForm.get('email')?.errors &&
                  registerForm.get('email')?.touched) {
                  <div
                    class="alert danger d-flex align-items-baseline text-danger position-absolute"
                  >
                    <i class="fa-solid fa-xmark"></i>
                    @if(registerForm.get('email')?.errors?.['required']) {
                    <p>Email field is required</p>
                    } @else if (registerForm.get('email')?.errors?.['email']) {
                    <p>Kindly enter a valid email</p>
                    }
                  </div>
                  }
                  <i class="fa-solid fa-envelope"></i>
                </div>

                <div
                  class="login-form__field position-relative password-input"
                  style="height: 82px"
                >
                  <input
                    type="password"
                    formControlName="password"
                    class="password"
                    id="password"
                    placeholder="Enter Password"
                    required

                    #pass
                  />
                  @if (registerForm.get('password')?.errors &&
                  registerForm.get('password')?.touched) {
                  <div
                    class="alert danger d-flex align-items-baseline text-danger position-absolute"
                  >
                    <i class="fa-solid fa-xmark"></i>
                    @if(registerForm.get('password')?.errors?.['required']) {
                    <p>Password field is required</p>
                    } @else if
                    (registerForm.get('password')?.errors?.['minLength']) {
                    <p>Password should be more than 9 numbers or letters</p>
                    }
                  </div>
                  }
                  <i
                    class="fa"
                    [ngClass]="show ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="togglePasswordVisibility(pass)"
                  ></i>
                </div>

                <div class="flex items-center justify-end mt-4">
                  <button
                    [disabled]="registerForm.invalid"
                    type="submit"
                    class="thm-btn contact-one__btn"
                  >
                    @if(isLoading == true){
                    <i class="fa-solid fa-spinner"></i>
                    } @else { Join Now }
                  </button>
                </div>

                <p class="text-center mt-2 mb-3" style="color: #acacac">
                  Join us using social media accounts
                </p>
                <!--
                <a> login with google </a>
                <div
                  id="g_id_onload"
                  data-client_id="673202749345-8voabpo6qcntjihfmlq4acudh7pl8o88.apps.googleusercontent.com"
                  data-context="signin"
                  data-ux_mode="popup"
                  data-auto_prompt="false"
                ></div>

                <div
                  class="d-flex gap-3 align-items-center justify-content-center flex-wrap"
                  style="gap: 20px"
                >
                  <div
                    class="g_id_signin"
                    data-type="icon"
                    data-shape="square"
                    data-theme="filled_blue"
                    data-text="signin_with"
                    data-size="large"
                    data-locale="en-GB"
                  ></div>

                  <a href="../SignWithFacebook.php" class="facebook-login-btn">
                    <i class="fa-brands fa-facebook-f"></i>
                    <span>Join Using Facebook</span>
                  </a>
                </div> -->
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-1 small-sidenav">
          <ul class="small-sidenav-ul">
            <li>
              <a routerLink="/home" title="Home"
                ><i class="fa-solid fa-house"></i
              ></a>
            </li>
            <li>
              <a routerLink="/shop" title="Shop"
                ><i class="fa-solid fa-store"></i
              ></a>
            </li>
            <li>
              <a routerLink="/about" title="About"
                ><i class="fa-solid fa-circle-info"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
