/*Nav for mobile screen*/
@media (max-width: 767px) {
    h2.Home-Text {
        width: auto !important;
    }  
    .text-one {
        text-align: center !important;
    }
    .Platfroms h3 {
        margin-left: 0px !important;
    }
    .Footer .right-footer input {
        text-align: center !important;
    }
    .Footer .right-footer {
        text-align: center !important;
    }
    
    .burger .burger-line:nth-child(2) {
        width: 100%;
    }
    .burger {
        margin: auto;
        margin-right: 15px;
    }
    .menu {
        right: 0 !important;
        left: unset !important;
        transform: translate(100%);
    }
    .menu .menu__inner .menu__item .menu__link {
        justify-content: flex-end !important;
        flex-direction: row-reverse;
        justify-content: space-between !important;
    }
    .menu .menu__inner .menu__item .menu__link > i {
        transform: rotate(180deg) !important;
    }
    .scroll-to-top {
        bottom: 23px;
        left: 12px;
    }
    
    /*Proposal*/
    .wizard.vertical {
         padding-left: 0px !important; 
    }
    .wizard .content {
          text-align: right;
           margin-right:0px !important; 
    }
    .wizard .content .purpose-radio .purpose-radio-label {
        justify-content: right !important; 
        flex-direction: row-reverse !important;
    }
    
    #wizard-p-3 .purpose-radios-wrapper .purpose-radio:last-child {
        margin-right: 0px !important;
    }
    .wizard .content .purpose-radio .purpose-radio-label .label-icon {
        margin: 0 21px !important;
    }
    #wizard-p-5 .purpose-radio .purpose-radio-label {
        justify-content: right !important;
    }
    #wizard-p-5 .purpose-radios-wrapper .purpose-radio {
        margin-right: 0px !important;
        max-width: unset !important;
    }
    #wizard-p-5 .purpose-radios-wrapper .purpose-radio:last-child {
        margin-right: 0px !important;
        justify-content: center !important;
    }
    #wizard-p-7 .row {
        display: block !important;
    }
    .wizard .content .form-control {
        text-align: right;
    }
    #wizard-p-5 .Proposal-Platforms #AnyPlatform .label-text {
        display: block;
        margin: auto;
    }
    h1#ShopByCategory {
        text-align:  center !important;
    }

    .promocode .promoInfo h1 {
        text-align: center !important;
         margin-right: 0px !important;
    }
    .Category-Product a {
        justify-content: center !important;
    }
    
    .widget.price.mb-50 .widget-title {
        text-align: center !important; 
    }


}
/*Shop Nav*/
.header-navigation ul.navigation-box > li:hover > .submenu#BrandsInNav{
   left: -341px !important;
   border-top:none !important;
   transform: translateX(16px) !important;
}
.header-navigation ul.navigation-box > li > .submenu, .top-wrapper >li > .submenu.categories {
    left: -107px;
}
.top-wrapper >li>.submenu.categories :before {
    left: 104px;
}
.header-navigation ul.navigation-box > li > .submenu#BrandsInNav:before {
    left: 356px;
}
.header-navigation ul.navigation-box > li > .submenu.categories:before{
    left: 99px;
}
.header-navigation ul.navigation-box > li > .submenu#PlatformsInNav{
    border-top:none !important;
}
.header-navigation ul.navigation-box > li > .submenu#PlatformsInNav:before{
    left: 121px;
}
.header-navigation ul.navigation-box > li > .submenu.categories > li > a:after {
    content: "\f105";
    left: 20px  !important;
    top: 27%  !important;
    transform: rotate(180deg) !important;

}
.header-navigation ul.navigation-box > li > .submenu > li > a, .top-wrapper >li>.submenu.categories>li>a {
    text-align: right !important;
}
.header-navigation ul.navigation-box > li > ul.categories > li > .submenu {
    left: -214px !important;
}
h2.Home-Text {
    margin: auto; 
    width: 457px;
    text-align:center !important;
    margin-bottom: 25px;
}
.text-one {
    text-align: right;
}
section.testmonials .content .contentBox .text {
    text-align: center !important;
}
.Why .Features {
    flex-direction: row-reverse;
}
.Features h4 {
    text-align: right;
}
.Features p {
    text-align: right;
}
.Platfroms{
    flex-direction: row-reverse;
}
.Platfroms h3 {
    margin-right: 10px;
    margin-left: 50px;
}

.Build .Products-home h3 {
    text-align: center;
    color: white;
    font-size: 42px;
    margin-top: 50px;
    padding: 50px;
}
.Footer .left-footer {
    text-align: center;
}
.left-footer h2 {
    align-items: center;
    margin: auto;
}
.Footer .right-footer {
    text-align: right;
}
.subscriptions {
    justify-content: end;
}
.Footer .right-footer input {
    text-align: right;
}
/*SignIn and Up*/
.login-form__field i {
     right: 0; 
    left: 20px;
    width: fit-content;
}
.login-form__form input {
    text-align: right;
} 
.ForgetPassword {
    text-align: right;
}
/*Shop*/
.small-nav-header.main-navigation{
    /*flex-direction: row-reverse;*/
}
.BigScreen.ShopNav ul.navigation-box{
    flex-direction: row-reverse;
    text-align: center;
    gap: 50px;
}
#StartYourSystem-Shop h2.heading {
    text-align: right;
}
#StartYourSystem-Shop ul.nav {
    justify-content: right;
}
#StartYourSystem-Shop .card .Box-Sizes {
    justify-content: flex-end;
}
#Boxes .box p {
    text-align: right;
}
.Category-selected-shop .SubCategory-OnlineShop {
    flex-direction: row-reverse;
}
.boxes-shop.box-shop-sub.SubCategory-OnlineShop {
    justify-content: right !important;
}
.header-navigation ul.navigation-box > li:first-child, .top-wrapper > li:first-child{
    /*margin-left: 45px;*/
}
.product-details__content .Product-Platforms {
    justify-content: end;
}
.ProductDetails_Section_last ul li {
    justify-content: end;
    flex-direction: row-reverse;
}
h1#ShopByCategory {
    text-align: right;
}
.ToolOnlineShop h3{
        text-align: right;

}
.Fixed-bundle h2.slider-one__title{
      text-align: right;
}
.Category-Product a {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-direction: row-reverse;
}
.Category-Product a i.fa.fa-arrow-right{
        transform: rotate(180deg);
}
.countdown {
    flex-direction: row-reverse;
}

.thm-breadcrumb__two {
    justify-content: right;
    flex-direction: row-reverse;
    gap:10px;
}
.product-details__categories {
    text-align: right;
}
.Add_Cart_ProductPageTop{
      flex-direction: row-reverse;
    gap: 8px;  
}
.product-details .accrodion-title {
    text-align: right;
}
.Product-spacification .Details {
    justify-content: end;
    flex-direction: row-reverse;
    text-align: right;
}
/*About*/
.about-three__content {
  text-align:right;
}
.funfact-one__content {
    flex-direction: column;
}
.card-contact-left h3 {
    text-align: right !important;
}

.Cards-contact {

    text-align: right;
}
.Category-Product {
    flex-direction: row-reverse;
}
.FAQTop {
   text-align: right;
}

.card-contact-left {
    flex-direction: row-reverse;
}
.contact-one__content .no-gutters div{
    text-align: center;
}
.contact-one__field {
    text-align: right;
}
.CartHeader {
    flex-direction: row-reverse;
}
.topping {
    justify-content: end !important;
}
table.cart-table {
    direction: rtl;
}
.cta.ShopNowButton svg{
    transform: rotate(180deg);
}
/*Shop*/
.shop_grid_area .Page-flex{
    flex-direction: row-reverse;
}
.shop_grid_product_area .row{
    justify-content: flex-end !important;
}
.nav-link .icon.icon-shape.icon-sm.border-radius-md{
    flex-direction: row-reverse;

}
.widget-title {
    text-align: right;
}

div.BundlesButton a { 
    justify-content: right;
}
.RowReverseInArabic{
    flex-direction: row-reverse;
    text-align: right;
    
}
.product-details__button-block {
 justify-content: center;
}
.product-details .bootstrap-touchspin {
    margin: auto;
}
.product-details__social{
 justify-content: center;

}
.Text-under-images-ProductDetails {
    justify-content: end;
    flex-direction: row-reverse;
}
.Checkout .wizard .steps > ul {
    flex-direction: row-reverse;
}
.Checkout .wizard .content {
    margin-right:0px !important;
}
/*Proposal*/
@media (min-width: 768px){
    main {
        min-height: calc(143vh - 102px);
    }
    .wizard.vertical {
        padding-left: 138px !important;
    }
    .wizard.vertical .steps {
        left: unset !important;
        right: 0 !important;
    }
    .wizard .content {
        text-align: right;
        margin-right:90px;
    }
    .wizard .content .purpose-radios-wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
    }
    
    .wizard .content .purpose-radios-wrapper .purpose-radio {
        margin: 5px 2px;
    }
    .wizard .actions > ul {
        justify-content: center;
    }
    .wizard .content .form-control {
        text-align: right;
    }
    #wizard-p-3 .purpose-radios-wrapper .purpose-radio:last-child {
        margin-right: 18px !important;
    }
    
    #wizard-p-7 .row {
        justify-content: end !important;
        flex-direction: row-reverse;
    }
    #wizard-p-5 .purpose-radios-wrapper .purpose-radio {
        margin-right: 7px !important;
        max-width: calc( 33% - 18px);
    }
    #wizard-p-5 .purpose-radios-wrapper .purpose-radio:last-child {
         margin-right: 7px !important;
    }
}