:root {
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --color: #154352;
    --color2: #161d27;
    --color2-dark: #0f131a;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a, button {
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    background: none;
}
img, video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.BrandName{
    padding: 20px;
    background-color: var(--color);
    color: white;
    font-size: 19px;
}
.BrandName:hover{
    color: white;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
/*/
/ Elements Section*/
.section {
    margin: 0 auto;
    padding: 6rem 0 2rem;
}

.centered {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1rem;
}

/*/
/ Header Section*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    margin: 0 auto;

}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.navbar .navbar__left {
    display: flex;
    align-items: center;
    flex: 0 0 17%;
    width: -webkit-fill-available;
    justify-content: left;
    margin-left: 15px;
    flex-direction: row-reverse;
}
a.menu__link.JoinUsBtn {
    border: 1px solid white;
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
}
.menu__link.JoinUsBtn:hover{
    transition: 0.4s;
    background-color: var(--color);
    border: 1px solid var(--color);
}
.nav-icon.CartIcon {
    position: relative;
    display: flex;
    margin-right: 10px;
}
span.count{
    position: absolute;
    top: -12px;
    left: 10px;
    width: 18px;
    height: 18px;
    background-color: var(--MainColor);
    border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
#Icons .separator {
    border-left: 1px solid white;
    height: 27px;
    margin: 0px 8px;
}
#header.stricky.stricked-menu.stricky-fixed #Icons .separator {
    border-left: 1px solid black;
}
/*Striky*/
#header.stricky.stricked-menu.stricky-fixed{
    background-color: #fff;
    box-shadow: var(--shadow-medium);
}
#header.stricky.stricked-menu.stricky-fixed .nav-icon i {
    color: black;
}
#header.stricky.stricked-menu.stricky-fixed .menu .menu__inner .menu__item .menu__link {
    color: black;
}
.menu .menu__inner.SubCategoriesInNav .menu__item.menu__dropdown .menu__link{
    color: black !important;
}
#header.stricky.stricked-menu.stricky-fixed a.menu__link.JoinUsBtn {
    background-color: var(--color);
    border: 1px solid var(--color);
    color: white;
}
#header.stricky.stricked-menu.stricky-fixed a.menu__link.JoinUsBtn:hover {
    background-color: white;
    color: var(--color);
}
@media (max-width: 766px) {
    #header .navbar__left a.BrandName{
        display:none !important;
    }
    .navbar .navbar__left {
        flex: 0 0 auto;
        margin-top: 18px;
	}
}
.navbar .navbar__center {
    display: flex;
}
@media (max-width: 766px) {
    .navbar .navbar__center {
        flex: 0 0 100%;
        order: 3;
        align-items: center;
	}
}
ul.menu__inner{
    display:flex;
    gap:40px;
    align-items: center;
}

.navbar .navbar__right {
    display: flex;
    flex: 0 0 17%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1.5rem;
}
@media (max-width: 766px) {
    .navbar .navbar__right {
        flex: 0 0 auto;
        align-items: center;
	}
}
 .brand {
	 display: flex;
	 align-items: center;
	 order: 1;
}
 .brand svg {
	 width: 60px;
	 height: 60px;
}
.menu__ShopImg{
    display:none;
}
.menu__logo a.BrandName{
    display: none !important;
}
.menu__inner .copyright {
        display: none !important;
}
 @media (max-width: 766px) {
	 .menu {
		 position: fixed;
		 top: 0;
		 left: 0;
		 width: 350px;
		 max-width: 85%;
		 height: 100%;
		 z-index: 100;
		 background-color: #fff;
		 transform: translate(-100%);
		 transition: all 0.4s ease-in-out;
	}
	 .menu.is-active {
		 transform: translate(0%);
	}
	 .darkmode .menu {
		 background-color: var(--color2);
	}
    .menu[data-menu-id="1"] {
      overflow: scroll;
    }
    .menu[data-menu-id="1"] .menu__header {
      display:none;
    }
    .menu__logo{
        margin-top:35px;
    }
    .menu[data-menu-id="2"] {
      overflow: unset;
    }
    .menu[data-menu-id="3"] {
      overflow: unset;
    }
}
 .menu .menu__header {
	 display: none;
	 box-shadow: var(--shadow-medium);
}
 @media (max-width: 766px) {
	 .menu .menu__header {
		 position: relative;
		 top: 0;
		 display: flex;
		 align-items: center;
		 justify-content: flex-start;
		 height: 4rem;
		 z-index: 110;
		 visibility: hidden;
		 background: transparent;
	}
	 .menu .menu__header.is-active {
		 visibility: visible;
		 background-color: #fff;
	}
	 .menu .menu__header.is-active > .menu__arrow {
		 display: flex;
	}
	 .darkmode .menu .menu__header.is-active {
		 background-color: var(--color2);
	}
	section#Icons{
	    display:none;
	}
}
 @media (max-width: 766px) {
	 .menu .menu__header .menu__arrow {
		 display: none;
		 justify-content: center;
		 align-items: center;
		 cursor: pointer;
		 width: 3rem;
	}
	 .menu .menu__header .menu__arrow:hover i {
		 color: var(--color);
	}
	 .menu .menu__header .menu__arrow > i {
		 font-size: 1.5rem;
		 color: #000;
		 transition: all 0.25s ease;
	}
	 .darkmode .menu .menu__header .menu__arrow > i {
		 color: #fff;
	}
	.menu__inner {
	    display:block !important; 
	}
	
	.menu .menu__inner .menu__item .menu__link {
	    color:black  !important; 
	}
}
 @media (max-width: 766px) {
	 .menu .menu__header .menu__title {
		 cursor: pointer;
		 font-weight: 500;
		 text-transform: capitalize;
		 color: #000;
		 transition: all 0.25s ease;
	}
	 .menu .menu__header .menu__title:hover {
		 color: var(--color);
	}
	 .darkmode .menu .menu__header .menu__title {
		 color: #fff;
	}
	.menu__logo a.BrandName{
        margin: auto;
        display: block !important;
        text-align: center;
        width: fit-content;
        margin-bottom: 30px;
	}
	.menu__ShopImg{
	    display:flex !important;
        height: 175px;
	}
	.menu__ShopImg .menu_singleimg{
        width: 50%;
        height: auto;
        padding: 11px;
	}
	.menu__ShopImg .menu_singleimg img{
        object-fit: cover;
        height: 112px;
        width: -webkit-fill-available;
        border-radius: 7px;
	}
	.menu__ShopImg .menu_singleimg a.Link{
	    text-align: center;
        display: block;
        font-size: 13px;
        margin-top: 11px;
	}
	.menu__ShopImg .menu_singleimg .ImgLink:hover img{
        filter: brightness(0.8);
        transition-duration: 0.4s;
	}
	.menu__ShopImg .menu_singleimg a.Link:hover{
        color: #171721;
        transition-duration: 0.4s;
	}
    .menu__inner .copyright .Icons, .menu__inner  .copyright .Lang{
        display: block !important;
    }
    .menu__inner .copyright {
        display: grid !important;
        justify-content: center;
        border-top: 1px solid white;
        width: auto;
        margin: auto;
        place-items: center;
    }
    .menu__inner .copyright .copy {
        font-size: 12px !important ;
    }

}
@media (max-width: 766px) {
    .menu .menu__inner {
        height: 100%;
        margin-top: 15px;
	}
}
.menu .menu__inner .menu__item {
    position: static;
    display: inline-block;
    padding: 15px 20px 15px 0;
}
.menu .menu__inner .menu__item:last-child {
    padding-right: 0;
}
.menu .menu__inner .menu__item:hover > .menu__link {
color: #cdcdcd;
}
@media (max-width: 766px) {
    .menu .menu__inner .menu__item {
        display: block;
        padding: 0;
	}
}
@media (min-width: 767px) {
    .menu .menu__inner .menu__item:hover > .menu__link i {
        transform: rotate(-90deg);
	}
}
@media (min-width: 767px) {
    .menu .menu__inner .menu__item.menu__dropdown:hover > .submenu {
        opacity: 1;
        visibility: visible;
        width: max-content !important;
	}
}
.menu .menu__inner .menu__item .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    transition: all 0.25s ease;
}
@media (max-width: 766px) {
    .menu .menu__inner .menu__item .menu__link {
        justify-content: space-between;
        padding: 20px;
	}
}
.menu .menu__inner .menu__item .menu__link > i {
    display: none;
    margin-left: 5px;
    font-size: 1.35rem;
    transform: rotate(90deg);
    transition: 0.35s;
}
@media (max-width: 766px) {
    .menu .menu__inner .menu__item .menu__link > i {
        display: none;
        margin-left: 10px;
        transform: rotate(0deg);
	}
}

.submenu {
    position: absolute;
    z-index: 100;
    top: 110%;
    left: 50%;
    width: 100%;
    height: auto;
    padding: 20px 15px;
    border-radius: 0.25rem;
    border-top: 2px solid var(--color);
    background-color: #fff;
    box-shadow: var(--shadow-medium);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    transform: translateX(-50%);
}
@media (max-width: 766px) {
    .submenu {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        min-width: auto;
        margin: 0;
        padding: 100px 15px 0 15px;
        border-radius: 0;
        border-top: 0;
        box-shadow: none;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        transform: translateX(0%);
	}
    .submenu.is-active {
        display: block;
	}
}
 @media (min-width: 767px) {
	 .submenu {
		 animation: none !important;
	}
}
 @media (min-width: 767px) {
	 .submenu.megamenu__normal {
		 left: 65%;
		 max-width: 250px;
		 width: 100%;
		 height: auto;
		 margin: 0 auto;
	}
}
 @media (min-width: 767px) {
	 .submenu.megamenu__text, .submenu.megamenu__image {
		 display: flex;
		 flex-wrap: wrap;
		 max-width: 95%;
		 height: auto;
		 margin: 0 auto;
	}
}
@media (min-width: 975px) {
    .submenu.megamenu__text, .submenu.megamenu__image {
        max-width: 992px;
}
}
.submenu.megamenu__image .submenu__inner a {
    display: flex;
    flex-flow: column;
    align-items: center;
}
@media (max-width: 766px) {
    .submenu.megamenu__image .submenu__inner a {
        flex-flow: row;
        align-items: center;
        padding-bottom: 20px;
	}
}
.submenu.megamenu__image .submenu__inner a img {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 10px;
}
@media (max-width: 766px) {
    .submenu.megamenu__image .submenu__inner a img {
        width: 30%;
        height: 80px;
        margin-bottom: 0;
        margin-right: 15px;
    }
}
.megamenu__text{
    width: 50% !important;
}
.submenu .submenu__inner {
    width: 100%;
    text-align:center;
    padding: 0 15px;
}
@media (max-width: 766px) {
    .submenu .submenu__inner {
        width: 100%;
        padding: 0;
	}
}
.submenu .submenu__inner .submenu__title {
    font-size: 16px;
    font-weight: 500;
    color: var(--color);
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.darkmode .submenu .submenu__inner .submenu__title {
    color: var(--color);
}
@media (max-width: 766px) {
    .submenu .submenu__list {
        margin-bottom: 20px;
	}
}
.submenu .submenu__list li {
    display: block;
    line-height: 1;
    margin: 0 auto;
}
.submenu .submenu__list li a {
    display: inline-block;
    padding: 10px 0;
    line-height: 1.4;
    text-transform: capitalize;
    color: #000;
    transition: all 0.25s ease-in-out;
}
.submenu .submenu__list li a:hover {
    color: var(--color);
}
@media (max-width: 766px) {
    .submenu .submenu__list li a {
        display: block;
        font-size: 16px;
	}
}


 .overlay {
	 position: fixed;
	 display: block;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 9;
	 opacity: 0;
	 visibility: hidden;
	 background-color: rgba(0, 0, 0, 0.7);
	 transition: all 0.45s ease-in-out;
	 pointer-events: none;
}
 @media (max-width: 766px) {
	 .overlay {
		 cursor: url("https://i.imgur.com/cPh9Zm5.png"), zoom-out;
		 pointer-events: visible;
	}
	 .overlay.is-active {
		 opacity: 1;
		 visibility: visible;
	}
}
 .burger {
	 position: relative;
	 display: block;
	 cursor: pointer;
	 width: 25px;
	 height: 15px;
	 margin-right: 15px;
	 opacity: 0;
	 visibility: hidden;
	 background: transparent;
}
 @media (max-width: 766px) {
	 .burger {
		 opacity: 1;
		 visibility: visible;
	}
}
 .burger .burger-line {
	 position: absolute;
	 display: block;
	 left: 0;
	 width: 100%;
	 height: 2px;
	 opacity: 1;
	 border-radius: 15px;
	 background: #000;
}
 .darkmode .burger .burger-line {
	 background: #fff;
}
 .burger .burger-line:nth-child(1) {
	 top: 0px;
}
 .burger .burger-line:nth-child(2) {
	 top: 8px;
	 width: 70%;
}
 .burger .burger-line:nth-child(3) {
	 top: 16px;
}
 

ul.menu__inner.SubCategoriesInNav {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
}
#BrandsInNav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.submenu__inner.PlatformInNav {
    width: 85px;
    filter: brightness(1.1);
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JoinUs {
    color: white !important;
    border: 1px solid white;
    padding: 7px 15px;
    border-radius: 4px;
    transition: all .6s ease-out;
    background: linear-gradient(to right, #154352 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.JoinUs:hover {
    background-position: left bottom;
}
#header.stricky.stricked-menu.stricky-fixed .JoinUs{
    color: var(--color) !important;
    border: 1px solid var(--color);
    padding: 7px 15px;
    border-radius: 4px;
    transition: all .6s ease-out;
    background: linear-gradient(to right, #154352 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
#header.stricky.stricked-menu.stricky-fixed .JoinUs:hover {
    background-position: left bottom;
    color:white !important;
}
#Icons .separator{
    border-left: 1px solid white;
    height: 27px;
    margin: 0px 8px;
}
