
    <!-- Header -->
    <section>
      <div class="row p-0 m-0">
          <div class="col-md-9 main-img p-0 m-0">
            <owl-carousel-o [options]="ShopSlider">
              @for (product of products; track $index) {
              <ng-template carouselSlide>
                <img [src]="product.MainImage" class="w-100" [alt]="product.Name">
              </ng-template>
              }
            </owl-carousel-o>
    
          </div>
          <div class="col-md-3 side-imgs p-0 m-0">
            <img src="assets/imgs/UI/website/Shop/Escritorio.jpg" class="w-100" alt="">
            <img src="assets/imgs/UI/website/Shop/r-architecture-T6d96Qrb5MY-unsplash2.png" class="w-100" alt="">
          </div>
      </div>
    </section>

    <!-- <section class="shop-background site-banner  pb-0" style="min-height:150px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">Shop</h1>
                    <div class="breadcrumbs">
                      <span class="item">
                          <a routerLink="/home" style="color: #d1d1d1;">Home /</a>
                      </span>
                        <span class="item text-black">Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Filter and Products -->
    <section class="shop_grid_area">
        <div class="container" style="max-width: 1220px;">

          <div class="row align-items-center my-4">
            <div class="col-md-6 d-flex gap-3 align-items-center">
              <!-- Search -->
              <div class="breadcrumbs">
                <span class="item">
                    <a routerLink="/home" style="color: #d1d1d1;">Home /</a>
                </span>
                  <span class="item text-black">Shop</span>
              </div>
              <div class="input-wrapper mb-0">
                <button class="icon-search">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"></path>
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20"></path>
                  </svg>
                </button>
                <input [(ngModel)]="searchWord" placeholder="search.." class="input-search" name="text" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <mat-paginator 
                [length]="filteredProducts.length"
                [pageSize]="itemsPerPage"
                [pageSizeOptions]="[]"
                aria-label="Select page"
                (page)="onPageChange($event)">
              </mat-paginator>
            </div>
          </div>


          
          <div class="row">
            <!-- Filter -->
            <div class="col-4 col-md-4 col-lg-2 FilterTransform MainFilter">
              <div class="shop_sidebar_area">
                  <!-- Categories -->
                  <app-category-filter
                    [categories]="filterData.Filter_Data.categories"
                    (filterChange)="onFilterChange($event, 'category')">
                  </app-category-filter>

                  <!-- Brands -->
                  <app-brand-filter
                    [brands]="filterData.Filter_Data.brands"
                    (filterChange)="onFilterChange($event, 'brand')">
                  </app-brand-filter>

                  <!-- Platforms -->
                  <app-platform-filter
                    [platforms]="filterData.Filter_Data.platforms"
                    (filterChange)="onFilterChange($event, 'platform')">
                  </app-platform-filter>

                  <!-- Technologies -->
                  <app-tecnology-filter
                    [technologies]="filterData.Filter_Data.technologies"
                    (filterChange)="onFilterChange($event, 'technology')">
                  </app-tecnology-filter>

                  <!-- Price Range -->
                  <div class="widget price mb-3" *ngIf="isBrowser">
                      <h6 class="widget-title mb-3">{{ 'Filter by Price' }}</h6>
                      <div class="widget-desc">
                        <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice"  [options]="priceOptions"></ngx-slider>
                      </div>
                  </div>

                  <button class="btn btn-secondary reset-button" (click)="resetFilters()">Reset Filters</button>
                </div>
            </div>
            <!-- Products -->
            <div class="col-12 col-md-8 col-lg-10">
                <div class="shop_grid_product_area">
                    <div class="row d-flex justify-content-start pl-3" style="gap: 23px">
                        @for(product of paginatedProducts | search: searchWord  ; track $index){
                          <div class="item">
                            <app-product-card [product]="product"></app-product-card>
                          </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

