.navbar-nav {
    gap: 30px;
}
.navbar-nav .nav-item .nav-link{
  color:white;
  font-size: 20px;
}
.navbar-brand{
  padding: 22px;
  font-size: 21px;
  color: white;
  background-color: var(--mainColor);
}
.JoinUs{
  color: white;
  border: 1px solid white;
  padding: 7px 15px;
  border-radius: 4px;
  transition: all .6s ease-out;
  background: linear-gradient(to right, #154352 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.JoinUs:hover {
  color: white;
  background-position: left bottom;
}
.nav-link{
  font-size: 16px;
}
.horizontal-line{
  border: 1px solid white;
  height: 30px;
}
.nav-link i{
  color: white;
  padding: 5px;
}
.nav-link:hover i{
  transition: all 0.4s;
  color: var(--mainColor);

}
.navbar-brand:focus, .navbar-brand:hover {
  color: white !important;
}

.count{
  color: white;
  position: absolute;
  background-color: #154352;
  font-size: 14px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  top: -8px;
  left: 11px;
}

nav.navbar-blacked{

  border-bottom: 1px solid #eeee;

  .nav-item .nav-link {
    color: #3c3c3c;
  }
  .nav-link i {
    color: #3c3c3c !important;
  }
  .horizontal-line {
    border: 1px solid black;
  }
  .JoinUs {
    color: white;
    border: 1px solid white;
    padding: 7px 15px;
    border-radius: 4px;
    transition: all 0.6s ease-out;
    background: linear-gradient(to right, transparent 50%, #154352 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .JoinUs:hover {
    color: black;
    border: 1px solid var(--mainColor);
    background-position: left bottom;
  }
}

nav.navbar-shop{

  .nav-item .nav-link {
    color: #3c3c3c;
  }
  .nav-link i {
    color: #3c3c3c !important;
  }
  .horizontal-line {
    border: 1px solid black;
  }
  .JoinUs {
    color: white;
    border: 1px solid white;
    padding: 7px 15px;
    border-radius: 4px;
    transition: all 0.6s ease-out;
    background: linear-gradient(to right, transparent 50%, #154352 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .JoinUs:hover {
    color: black;
    border: 1px solid var(--mainColor);
    background-position: left bottom;
  }
}
