<!-- position-absolute -->
<nav
  class="navbar navbar-expand-lg pt-0 w-100 z-3 bg-transparent p-0"
  [ngClass]="{
    'navbar-blacked': isRoute(['/tools', '/product', '/cart', '/checkout' , '/interior-design' , '/categories' , '/brands' , '/platforms' , '/services' , '/proposal']),
    'navbar-home': isRoute(['/home', '/shop', '/about', '/contact']),
    'navbar-shop': isRoute([])
  }"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Zhome</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
      [ngClass]="{
        'navbar-blacked': isRoute(['/tools', '/product', '/cart', '/checkout' , '/interior-design' , '/categories' , '/brands' , '/platforms' , '/services']),
        'navbar-home': isRoute(['/home', '/shop', '/about', '/contact']),
        'navbar-shop': isRoute([])
      }"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 align-items-center mx-auto"
        [ngClass]="{
          'navbar-blacked': isRoute(['/tools', '/product', '/cart', '/checkout']),
          'navbar-home': isRoute(['/home']),
          'navbar-shop': isRoute(['/shop'])
        }">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">{{'Home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shop">{{'Shop' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="proposal">{{'Design' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">{{'About' | translate}}</a>
        </li>
      </ul>
      <div class="icons d-flex align-items-center gap-1">
        @if(!isLoggedIn) {
        <a class="nav-link JoinUs" routerLink="login">{{'JoinUs' | translate}}</a>
        } @else {
        <a class="nav-link JoinUs" routerLink="profile">{{'Profile' | translate}}</a>
        }

        <hr class="horizontal-line mx-2" />
        @if(!isLoggedIn) {
        <a class="nav-link" (click)="toggleSearchPopup()"
          ><i class="fa-solid fa-magnifying-glass"></i
        ></a>
        } @else {
        <a class="nav-link cursor-pointer" title="{{'LogOut' | translate}}" (click)="logout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        }
        <a class="nav-link position-relative" routerLink="cart"
          ><i class="fa-solid fa-shopping-cart"></i
        >
        <span class="count" id="cart-count">{{ cartCount }}</span>

      </a>
      </div>
    </div>
  </div>
</nav>

@if(isSearchVisible){
  <div class="search-popup"  @popupAnimation (click)="closePopupOnOutsideClick($event)" (keydown)="handleKeyPress($event)">
    <div class="search-popup-content">
      <div class="search-popup-header">
        <input
          type="text"
          placeholder="Search for Pages"
          [(ngModel)]="searchQuery"
          (input)="searchPages()"
          class="search-input"
        />
      </div>
      <div class="search-results">
        <ul>
          @for(page of filteredPages ; track $index){
            <li (click)="navigateToPage(page)">
              <a>{{ page.name }}</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
}
