<div class="container">
  <div class="block-title text-center mt-2">
    <p class="block-title__tag-line text-center">Zhome</p>
  </div>

  <h1>Build and Design Your Dream Home</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center">
          <div class="col-md-4 tool-box d-flex flex-column gap-2">
            <img src="./assets/imgs/UI/website/Tools/settings.png" alt="Proposal tool">
            <a routerLink="/tools">Create a personalized home proposal with your desired features and budget.</a>
          </div>

          <div class="col-md-4 tool-box d-flex flex-column gap-2">
            <img src="./assets/imgs/UI/website/Tools/staircase.png" alt="Interor tool">
            <a routerLink="/interior-design">Design your home's interior with our interactive tools and expert guidance.</a>
          </div>
      </div>
    </div>
  </div>
</div>
