<div class="palettes-container">
  @for(palette of palettes ; track $index){
    <div class="palette" (click)="selectPalette(palette)">
      <input type="checkbox" [id]="'palette' + palette.id" [value]="palette.id" [(ngModel)]="palette.checked" (change)="toggleCheck(palette)">
      @for(color of palette.colors ; track $index){
        <div [style.background-color]="color" class="color-box"></div>
      }
      @if(palette.checked){
        <span class="checkmark">&#10004;</span>
      }
    </div>
  }
  <div class="create-palette" (click)="openPopup()">
    <i class="fa-solid fa-plus"></i>
    <p> Create Your Own Palette</p>
  </div>

  @if(isPopupVisible){
    <div class="popup-container">
      <div class="popup-content">
        <p (click)="closePopup()">X</p>
        @for(color of customPalette ; track $index){
          <div [style.background-color]="color" class="color-box"></div>
        }
        <input type="color" style="margin: 10px;" #colorInput >
        <div>
          @if(!maxColors){
            <button class="add-new" (click)="addColorToCustomPalette(colorInput.value)">+</button>
          }
          @else{
            <button class="add-done" (click)="addCustomPaletteToList()"><i class="fa-solid fa-check"></i></button>
          }
          <button class="clear" (click)="clearCustomPalette()">Clear Palette</button>
        </div>
        
      </div>
    </div>
  }
</div>
