<!-- Welcome  -->
<section class="slider-one">
  <div
    id="index-background"
    style="
      background-image: url('assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
    "
  >
    <div class="parent-home">
      <p id="Welcome">Welcome to</p>
      <h1>Zhome</h1>
      <p id="welcome-text">One simple ecosystem for smart living solutions.</p>

      <div class="parent-buttons">
        <a routerLink="/tools" class="DesignButton">Design</a>
        <hr />
        <a routerLink="/shop" class="ShopButton">Shop Now</a>
      </div>
    </div>
  </div>
</section>

<!-- Text -->
<section>
  <div class="container">
    <h2 class="Home-Text">Build a smart home to uplift meaningful moments.</h2>
    <div class="Images-Home">
      <div class="Image-One">
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/Sliders/r-architecture-rOk4VSMS3Ck-unsplash.jpg"
          alt="Zhome Design"
        />
        <div class="overlay-button">
          <a routerLink="/tools" class="HomeImageInButton">
            <div class="d-grid justify-items-center gap-1 text-center g-1">
              <i class="fa-solid fa-house"></i>
              <p class="text-white">Get Your Design</p>
            </div>
          </a>
        </div>
      </div>
      <div class="Image-Two">
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/Sliders/james-mcdonald-74nIYjsOY88-unsplash.jpg"
          alt="Zhome Design"
        />
        <div class="overlay-button-two">
          <a routerLink="/tools" class="HomeImageInButton">
            <div class="d-grid justify-items-center gap-1 text-center g-1">
              <i class="fa-solid fa-house"></i>
              <p class="text-white">Get Your Design</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="Text-under-images">
      <div class="text-one">
        <h3>Design Online</h3>
        <p>
          'Use ZHome online tool and follow our simple questions to design your
          preferred system in minutes!
        </p>
      </div>
      <div class="text-one">
        <h3>Personal Advice</h3>
        <p>
          Our team of experts is there for you to answer all questions and
          customize your dream home individually.
        </p>
      </div>
      <div class="text-one">
        <h3>Professional Installation</h3>
        <p>
          Choose your preferred installation time, and our experienced local
          team will install it for you hassle-free!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Brands -->
<section class="mt-5 pt-3">
  <div class="customer-logos slider">
    <div class="slide Brand">
      <owl-carousel-o [options]="BrandsSlider">
        @for (brand of brands; track $index){
          <ng-template carouselSlide>
            <img loading="lazy" [src]="brand.Logo" [alt]="brand.Brand" [title]="brand.Brand" />
          </ng-template>
        }    
      </owl-carousel-o>
    </div>
  </div>
</section>

<!-- Start Your System -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<section id="StartYourSystem">
  <div class="container">
    <h2 class="heading">Start Your Own System</h2>
    <ul class="nav nav-tabs nav-primary" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          data-bs-toggle="tab"
          href="#Recommended"
          role="tab"
          aria-selected="true"
        >
          Recommendition
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#BestSelling"
          role="tab"
          aria-selected="false"
        >
          Best Selling
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#OnSale"
          role="tab"
          aria-selected="false"
        >
          On Sale
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#Bundles"
          role="tab"
          aria-selected="false"
        >
          Bundles
        </a>
      </li>
    </ul>
    <div class="tab-content py-3">
      <!-- Recommended -->
      <div class="tab-pane fade show active" id="Recommended" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <div
                  class="small-size box-1"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-2"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/sebastian-scholz-nuki-Fh3Dtg6QX4Q-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-3"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/SmartOutlet.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-4"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/SmartSwitch.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-5"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
              </div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/sebastian-scholz-nuki-Fh3Dtg6QX4Q-unsplash.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/SmartOutlet.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/SmartSwitch.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Best Selling -->
      <div class="tab-pane fade" id="BestSelling" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <div
                  class="Big-size box-1"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-2"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/sebastian-scholz-nuki-Fh3Dtg6QX4Q-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-3"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/SmartOutlet.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-4"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/SmartSwitch.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-5"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
              </div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/sebastian-scholz-nuki-Fh3Dtg6QX4Q-unsplash.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/SmartOutlet.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/SmartSwitch.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- On Sale -->
      <div class="tab-pane fade" id="OnSale" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <!-- @if($products->isNotEmpty())
                                        @php $number = 1 @endphp
                                        @foreach($products as $saleProduct)
                                            <div class="Big-size box-{{ $number++ }}" style="background-image: url({{asset("Admin/dist/img/web/Products/MainImage/$saleProduct->MainImage")}});">
                                                <a>{{ $saleProduct->Name }}</a>
                                            </div>
                                        @endforeach
                                    @endif -->
              </div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!-- @if($products->isNotEmpty())
                                        @php $number = 1 @endphp
                                        @foreach($products as $saleProduct)
                                            <div class="Big-size box-{{ $number++ }}" style="background-image: url({{asset("Admin/dist/img/web/Products/MainImage/$saleProduct->MainImage")}});">
                                                <a>{{ $saleProduct->Name }}</a>
                                            </div>
                                        @endforeach
                                    @endif -->
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bundles -->
      <div class="tab-pane fade" id="Bundles" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <div
                  class="Big-size box-1"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-2"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/sebastian-scholz-nuki-Fh3Dtg6QX4Q-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-3"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/SmartOutlet.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-4"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/SmartSwitch.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-5"
                  style="
                    background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                  "
                >
                  <a>Daley low</a>
                </div>
              </div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/sebastian-scholz-nuki-Fh3Dtg6QX4Q-unsplash.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/SmartOutlet.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/SmartSwitch.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                  <div
                    class="swiper-slide small-size"
                    style="
                      background-image: url(https://zhome.com.eg/Admin/Images/darryl-low-uqk9RAzm6lk-unsplash.jpg);
                    "
                  >
                    <a>Daley low</a>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a routerLink="/shop" class="cta ShopNowButton">
        <span class="hover-underline-animation">Shop Now</span>
        <svg
          viewBox="0 0 46 16"
          height="10"
          width="30"
          xmlns="http://www.w3.org/2000/svg"
          id="arrow-horizontal"
        >
          <path
            transform="translate(30)"
            d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
            data-name="Path 10"
            id="Path_10"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<!-- testmonials -->
<section class="testmonials">
  <h2>Testmonials</h2>
  <div class="tests">
    <div class="testmo active" data-id="content1">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/testmonials/algeria.jpeg"
        alt="Alegria testmonials"
      />
      <div>
        <h3>Alaa Abdelghafar</h3>
        <p>Allegria Sodic compound</p>
      </div>
      <div class="gradient"></div>
    </div>
    <div class="testmo" data-id="content2">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/testmonials/Mivida-logo.png"
        alt="Mivida testmonials"
      />
      <div>
        <h3>Sherif Youssef</h3>
        <p>Mivida</p>
      </div>
      <div class="gradient"></div>
    </div>
    <div class="testmo" data-id="content3">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/testmonials/mountain.png"
        alt="mountain view testmonials"
      />
      <div>
        <h3>Osama Elsayed</h3>
        <p>Mountain View Hyde Park</p>
      </div>
      <div class="gradient"></div>
    </div>
  </div>
  <div class="content">
    <div class="contentBox active" id="content1">
      <div class="text">
        <h2>Alaa Abdelghafar</h2>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        <p>
          ZHome was very helpful in upgrading my old security system and
          integrating it with my easy to use smart home system.
        </p>
        <p></p>
      </div>
    </div>
    <div class="contentBox" id="content2">
      <div class="text">
        <h2>Sherif Youssef</h2>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
        </span>

        <p>
          I was really surprised to find such a transparent and professional
          online platform like ZHome. They are very experienced and always there
          for me
        </p>
      </div>
    </div>
    <div class="contentBox" id="content3">
      <div class="text">
        <h2>Osama Elsayed</h2>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        <p>
          I like to design my own system and scenarios, this is what ZHome is
          all about, they gave me the perfect platform to customise, design and
          get my best suited system installed without trouble.
        </p>
        <p></p>
      </div>
    </div>
  </div>
</section>

<script>
  let card = document.querySelectorAll(".testmo");
  let contentBox = document.querySelectorAll(".contentBox");

  for (let i = 0; i < card.length; i++) {
    card[i].addEventListener("mouseover", function () {
      for (let i = 0; i < contentBox.length; i++) {
        contentBox[i].className = "contentBox";
      }
      document.getElementById(this.dataset.id).className = "contentBox active";

      for (let i = 0; i < card.length; i++) {
        card[i].className = "testmo";
      }
      this.className = "testmo active";
    });
  }
</script>

<!-- Control You Home -->
<section>
  <div class="container ControlHomeCont">
    <div class="ControlHome HomeSmallNone">
      <h2>Control Your Home</h2>
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/control-home/Exterior-II-scaled.jpg"
        class="MainImage"
        alt="Zhome Energy"
      />
      <div class="svg svg1">
        <p class="text-block">
          <b>Energy Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/eco-solar-panel-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Alarm"
        />
      </div>
      <div class="svg svg2">
        <p class="text-block">
          <b>Alarm Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/ring-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Alarm"
        />
      </div>
      <div class="svg svg3">
        <p class="text-block">
          <b>Light System</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/light-bulb-13-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Light system"
        />
      </div>
      <div class="svg svg4">
        <p class="text-block">
          <b>Sound System</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/sound-system-with-big-speakers-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Sound System"
        />
      </div>
      <div class="svg svg5">
        <p class="text-block">
          <b> Garage Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/garage-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Garage"
        />
      </div>
      <div class="svg svg6">
        <p class="text-block">
          <b>Lock System</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/lock-open-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Lock system"
        />
      </div>
      <div class="svg svg7">
        <p class="text-block">
          <b>Battery Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/battery-charging-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Battery system"
        />
      </div>
      <div class="svg svg8">
        <p class="text-block">
          <b>AC Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/air-conditioner-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome AC System"
        />
      </div>
      <div class="svg svg9">
        <p class="text-block">
          <b>Camera Control</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/camera-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Camera system"
        />
      </div>
      <div class="svg svg10">
        <p class="text-block">
          <b>Electricity Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/electricity-socket-circle-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Electricity system"
        />
      </div>
      <div class="svg svg11">
        <p class="text-block">
          <b>Shutter Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/window-blind-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome ShutterT system"
        />
      </div>
      <div class="svg svg12">
        <p class="text-block">
          <b>Irrigation Management</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/irrigation-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Irrigation system"
        />
      </div>
      <div class="svg svg13">
        <p class="text-block">
          <b>Electrical broom</b> <br />
          Always keep an eye on the energy production of your solar system as
          well as your energy consumption
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/gardening-grass-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Electrical Cleaner"
        />
      </div>
    </div>
  </div>
</section>

<!-- Why Zhome -->
<section class="WhyZhomeSection">
  <div class="Why">
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/customer.jpg"
        alt="Cutomer Service"
      />
      <div class="Info">
        <h4>Expert Consultation</h4>
        <p>Our Smart Home Experts will advise you for the best solution.</p>
      </div>
    </div>
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/medal-quality-svgrepo-com.svg"
        alt="Guarantee"
      />
      <div class="Info">
        <h4>Function Guarantee</h4>
        <p>We offer function guarantee with all our products</p>
      </div>
    </div>
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/verified-svgrepo-com.svg"
        alt="Main Source"
      />
      <div class="Info">
        <h4>Main Source</h4>
        <p style="max-height: 79px">
          We are the only trusted source for all your Smart Home needs.
        </p>
      </div>
    </div>
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/shipping-fast-solid-svgrepo-com.svg"
        alt="Free Shipping"
      />
      <div class="Info">
        <h4>Free Shipping</h4>
        <p>Enjoy our free shipping costs and get Free return period.</p>
      </div>
    </div>
  </div>
</section>

<!-- Tool and Shop -->
<section>
  <div class="container">
    <div class="Build">
      <div
        class="Products-home"
        style="
          background-image: url(./assets/imgs/UI/website/Home/About/bence-boros-anapPhJFRhM-unsplash-3.png);
        "
      >
        <h3 class="fw-bold text-dark">
          Discover our products and bundles made especially for your dream home
        </h3>
        <a routerLink="/shop" class="buttonBlack">Shop Now</a>
      </div>
      <div
        class="Products-home"
        style="
          background-image: url(./assets/imgs/UI/website/Home/About/pexels-andrew-neel-2312369-3.png);
        "
      >
        <h3>
          Use our customized tool to build your home or office in just few steps
        </h3>
        <a routerLink="/tools"> Discover Our Tool</a>
      </div>
    </div>
  </div>
</section>

<!-- Compitability -->
<section>
  <div class="container">
    <!-- Platforms -->
    <div class="Platfroms">
      <h3>Zhome Compability</h3>
      <owl-carousel-o [options]="PlatformSlider">
        @for (platform of platforms; track $index){
          <ng-template carouselSlide>
            <div class="Platform-home">
              <img
                loading="lazy"
                [src]="platform.Logo"
                [alt]="platform.Platform"
                [title]="platform.Platform"
              />
              <a routerLink="/platforms">{{ platform.Platform }}</a>
            </div>
          </ng-template>
        }    
      </owl-carousel-o>
    </div>
  </div>
</section>

