<!-- Welcome  -->
<section class="slider-one">
  <div
    id="index-background"
    style="
      background-image: url('assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
    "
  >
    <div class="parent-home">
      <p id="Welcome">{{'Welcome' | translate}}</p>
      <h1>{{'Zhome' | translate}}</h1>
      <p id="welcome-text">{{'SliderTextTwo' | translate}}</p>

      <div class="parent-buttons">
        <a routerLink="/tools" class="DesignButton">{{'Design' | translate}}</a>
        <hr />
        <a routerLink="/shop" class="ShopButton">{{'ShopNowButton' | translate}}</a>
      </div>
    </div>
  </div>
</section>

<!-- Text -->
<section>
  <div class="container">
    <h2 class="Home-Text">{{'ToolTextBelowSlider' | translate}}</h2>
    <div class="Images-Home">
      <div class="Image-One">
        <img
          loading="lazy"
          src="/assets/imgs/UI/website/Home/Sliders/r-architecture-rOk4VSMS3Ck-unsplash.jpg"
          alt="Zhome Design"
        />
        <div class="overlay-button">
          <a routerLink="/tools" class="HomeImageInButton">
            <div class="d-grid justify-items-center gap-1 text-center g-1">
              <i class="fa-solid fa-house"></i>
              <p class="text-white">{{'GetYourDesignButton' | translate}}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="Image-Two">
        <img
          loading="lazy"
          src="/assets/imgs/UI/website/Home/Sliders/james-mcdonald-74nIYjsOY88-unsplash.jpg"
          alt="Zhome Design"
        />
        <div class="overlay-button-two">
          <a routerLink="/tools" class="HomeImageInButton">
            <div class="d-grid justify-items-center gap-1 text-center g-1">
              <i class="fa-solid fa-house"></i>
              <p class="text-white">{{'GetYourDesignButton' | translate}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="Text-under-images">
      <div class="text-one">
        <h3>{{'DesignOnline' | translate}}</h3>
        <p>
          {{'DesignOnlineText' | translate}}
        </p>
      </div>
      <div class="text-one">
        <h3>{{'PersonalAdvice' | translate}}</h3>
        <p>
          {{'PersonalAdviceText' | translate}}
        </p>
      </div>
      <div class="text-one">
        <h3>{{'ProfessionalInstallation' | translate}}</h3>
        <p>
          {{'ProfessionalInstallationText' | translate}}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Brands -->
<section class="mt-5 pt-3">
  <div class="customer-logos slider">
    <div class="slide Brand">
      <owl-carousel-o [options]="BrandsSlider">
        @for (brand of brands; track $index){
          <ng-template carouselSlide>
            <img loading="lazy" [src]="brand.image_url" [alt]="brand.name" [title]="brand.name" />
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>

<!-- Start Your System -->
<section id="StartYourSystem">
  <div class="container">
    <h2 class="heading">{{'StartYourOwnSystem' | translate}}</h2>
    <ul class="nav nav-tabs nav-primary" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          [ngClass]="{ active: activeTab === 'Recommended' }"
          (click)="selectTab('Recommended')"
          role="tab"
          [attr.aria-selected]="activeTab === 'Recommended'"
        >
        {{'Recommendition' | translate}}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          [ngClass]="{ active: activeTab === 'BestSelling' }"
          (click)="selectTab('BestSelling')"
          role="tab"
          [attr.aria-selected]="activeTab === 'BestSelling'"
        >
        {{'BestSelling' | translate}}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          [ngClass]="{ active: activeTab === 'OnSale' }"
          (click)="selectTab('OnSale')"
          role="tab"
          [attr.aria-selected]="activeTab === 'OnSale'"
        >
        {{'OnSale' | translate}}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          [ngClass]="{ active: activeTab === 'Bundles' }"
          (click)="selectTab('Bundles')"
          role="tab"
          [attr.aria-selected]="activeTab === 'Bundles'"
        >
        {{'Bundles' | translate}}
        </a>
      </li>
    </ul>
    <div class="tab-content py-3">
      <!-- Recommended -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'Recommended' }" [hidden]="activeTab !== 'Recommended'" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <div
                  class="small-size box-1"
                  style="
                    background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-2"
                  style="
                    background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-3"
                  style="
                    background-image: url('./assets/imgs/UI/website/Home/Sliders/james-mcdonald-74nIYjsOY88-unsplash.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-4"
                  style="
                    background-image: url('./assets/imgs/UI/website/Home/Sliders/james-mcdonald-74nIYjsOY88-unsplash.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-5"
                  style="
                    background-image: url('./assets/imgs/UI/website/Home/Sliders/james-mcdonald-74nIYjsOY88-unsplash.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Best Selling -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'BestSelling' }" [hidden]="activeTab !== 'BestSelling'" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <div
                  class="Big-size box-1"
                  style="
                    background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-2"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-3"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-4"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-5"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- On Sale -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'OnSale' }" [hidden]="activeTab !== 'OnSale'" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <!-- @if($products->isNotEmpty())
                      @php $number = 1 @endphp
                      @foreach($products as $saleProduct)
                          <div class="Big-size box-{{ $number++ }}" style="background-image: url({{asset("Admin/dist/img/web/Products/MainImage/$saleProduct->MainImage")}});">
                              <a>{{ $saleProduct->Name }}</a>
                          </div>
                      @endforeach
                  @endif -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bundles -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'Bundles' }" [hidden]="activeTab !== 'Bundles'" role="tabpanel">
        <div class="wrapper">
          <div class="card" style="height: 469px">
            <div class="card-body ps-0">
              <div class="Box-Sizes">
                <div
                  class="Big-size box-1"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-2"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-3"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-4"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
                <div
                  class="small-size box-5"
                  style="
                  background-image: url('./assets/imgs/UI/website/Home/Sliders/AlexaBlueGround.jpg');
                  "
                >
                  <a>Daley low</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a routerLink="/shop" class="cta ShopNowButton">
        <span class="hover-underline-animation">{{'ShopNowButton' | translate}}</span>
        <svg
          viewBox="0 0 46 16"
          height="10"
          width="30"
          xmlns="http://www.w3.org/2000/svg"
          id="arrow-horizontal"
        >
          <path
            transform="translate(30)"
            d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
            data-name="Path 10"
            id="Path_10"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<!-- testmonials -->
<section class="testmonials">
  <h2>{{'Testmonials' | translate}}</h2>
  <div class="tests">
    <div
      *ngFor="let tab of tabs; let i = index"
      class="testmo"
      [ngClass]="{ active: activeTestmonialsTab === i }"
      (click)="selectTestmonialTab(i)"
    >
      <img [src]="tab.image" [alt]="tab.alt" loading="lazy" />
      <div>
        <h3>{{ tab.name }}</h3>
        <p>{{ tab.company }}</p>
      </div>
      <div class="gradient"></div>
  </div>

  </div>
  <div class="content">
    <div
      *ngFor="let content of contents; let i = index"
      class="contentBox"
      [ngClass]="{ active: activeTestmonialsTab === i }"
      [id]="content.id"
    >
      <div class="text">
        <h2>{{ content.name }}</h2>
        <span>
          <!-- Star SVGs -->
          <ng-container *ngFor="let star of stars">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6"
            >
              <path
                fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                clip-rule="evenodd"
              />
            </svg>
          </ng-container>
        </span>
        <p>{{ content.review }}</p>
      </div>
    </div>
  </div>

</section>


<!-- Control You Home -->
<section>
  <div class="container ControlHomeCont">
    <div class="ControlHome HomeSmallNone">
      <h2>{{'ControlYourHome' | translate}}</h2>
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/control-home/Exterior-II-scaled.jpg"
        class="MainImage"
        alt="Zhome Energy"
      />
      <div class="svg svg1">
        <p class="text-block">
          <b>{{'ControlHomeEnergy' | translate}}</b> <br />
          {{'ControlHomeEnergyText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/eco-solar-panel-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Alarm"
        />
      </div>
      <div class="svg svg2">
        <p class="text-block">
          <b>{{'ControlHomeAlarm' | translate}}</b> <br />
          {{'ControlHomeAlarmText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/ring-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Alarm"
        />
      </div>
      <div class="svg svg3">
        <p class="text-block">
          <b>{{'ControlHomeLight' | translate}}</b> <br />
          {{'ControlHomeLightText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/light-bulb-13-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Light system"
        />
      </div>
      <div class="svg svg4">
        <p class="text-block">
          <b>{{'ControlHomeSound' | translate}}</b> <br />
          {{'ControlHomeSoundText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/sound-system-with-big-speakers-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Sound System"
        />
      </div>
      <div class="svg svg5">
        <p class="text-block">
          <b>{{'ControlHomeGarage' | translate}}</b> <br />
          {{'ControlHomeGarageText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/garage-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Garage"
        />
      </div>
      <div class="svg svg6">
        <p class="text-block">
          <b>{{'ControlHomeLock' | translate}}</b> <br />
          {{'ControlHomeLockText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/lock-open-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Lock system"
        />
      </div>
      <div class="svg svg7">
        <p class="text-block">
          <b>{{'ControlHomeBattery' | translate}}</b> <br />
          {{'ControlHomeBatteryText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/battery-charging-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Battery system"
        />
      </div>
      <div class="svg svg8">
        <p class="text-block">
          <b>{{'ControlHomeAC' | translate}}</b> <br />
          {{'ControlHomeACText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/air-conditioner-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome AC System"
        />
      </div>
      <div class="svg svg9">
        <p class="text-block">
          <b>{{'ControlHomeCamera' | translate}}</b> <br />
          {{'ControlHomeCameraText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/camera-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Camera system"
        />
      </div>
      <div class="svg svg10">
        <p class="text-block">
          <b>{{'ControlHomeElectricity' | translate}}</b> <br />
          {{'ControlHomeElectricityText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/electricity-socket-circle-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Electricity system"
        />
      </div>
      <div class="svg svg11">
        <p class="text-block">
          <b>{{'ControlHomeShutter' | translate}}</b> <br />
          {{'ControlHomeShutterText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/window-blind-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome ShutterT system"
        />
      </div>
      <div class="svg svg12">
        <p class="text-block">
          <b>{{'ControlHomeIrrigation' | translate}}</b> <br />
          {{'ControlHomeIrrigationText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/irrigation-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Irrigation system"
        />
      </div>
      <div class="svg svg13">
        <p class="text-block">
          <b>{{'ControlHomeElectrical' | translate}}</b> <br />
          {{'ControlHomeElectricalText' | translate}}
        </p>
        <img
          loading="lazy"
          src="./assets/imgs/UI/website/Home/control-home/gardening-grass-svgrepo-com.svg"
          class="SvgIcon"
          alt="Zhome Electrical Cleaner"
        />
      </div>
    </div>
  </div>
</section>

<!-- Why Zhome -->
<section class="WhyZhomeSection">
  <div class="Why">
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/customer.jpg"
        alt="Cutomer Service"
      />
      <div class="Info">
        <h4>{{'FunctionsExpertOne' | translate}}</h4>
        <p>{{'FunctionsExpertOneText' | translate}}</p>
      </div>
    </div>
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/medal-quality-svgrepo-com.svg"
        alt="Guarantee"
      />
      <div class="Info">
        <h4>{{'FunctionsGuaranteeTwo' | translate}}</h4>
        <p>{{'FunctionsGuaranteeTwoText' | translate}}</p>
      </div>
    </div>
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/verified-svgrepo-com.svg"
        alt="Main Source"
      />
      <div class="Info">
        <h4>{{'FunctionsSourceThree' | translate}}</h4>
        <p style="max-height: 79px">
          {{'FunctionsSourceThreeText' | translate}}
        </p>
      </div>
    </div>
    <div class="Features">
      <img
        loading="lazy"
        src="./assets/imgs/UI/website/Home/About/shipping-fast-solid-svgrepo-com.svg"
        alt="Free Shipping"
      />
      <div class="Info">
        <h4>{{'FunctionsShippingFour' | translate}}</h4>
        <p>{{'FunctionsShippingFourText' | translate}}</p>
      </div>
    </div>
  </div>
</section>

<!-- Tool and Shop -->
<section>
  <div class="container">
    <div class="Build">
      <div
        class="Products-home"
        style="
          background-image: url(./assets/imgs/UI/website/Home/About/bence-boros-anapPhJFRhM-unsplash-3.png);
        "
      >
        <h3 class="fw-bold text-dark">
          {{'ShopTextHome' | translate}}
        </h3>
        <a routerLink="/shop" class="buttonBlack">{{'ShopNowButton' | translate}}</a>
      </div>
      <div
        class="Products-home"
        style="
          background-image: url(./assets/imgs/UI/website/Home/About/pexels-andrew-neel-2312369-3.png);
        "
      >
        <h3>
          {{'ToolTextHome' | translate}}
        </h3>
        <a routerLink="/tools">{{'DiscoverOurToolButton' | translate}}</a>
      </div>
    </div>
  </div>
</section>

<!-- Compitability -->
<section>
  <div class="container">
    <!-- Platforms -->
    <div class="Platfroms">
      <h3 class="platforms-text">{{'ZhomeCompability' | translate}}</h3>
      <div class="d-flex g-2 Platfroms-slider">
        @for (platform of platforms; track $index){

          <div class="Platform-home">
            <img
              loading="lazy"
              [src]="platform.image_url"
              [alt]="platform.name"
              [title]="platform.name"
            />
            <a routerLink="/shop/filters"  [queryParams]="{ platform: platform.id }">{{ platform.name }}</a>
          </div>

      }
      </div>
    </div>
  </div>
</section>

