/* Index page */
#StartYourSystem-Shop {
  margin-top: 66px;
  margin-bottom: 83px;
  padding: 40px;
  background-color: #dddddd3d;

  .heading {
    text-align: left;
    color: #343333;
    font-size: 40px;
  }
  .nav {
    justify-content: left;
    margin-top: 40px;
  }
  .container {
    max-width: 1129px;
  }
  .nav li a.active {
    border: none;
    border-bottom: 2px solid var(--mainColor);
    background-color: transparent;
  }
  .card {
    background-color: transparent;
    border: none;
  }
  .card .Box-Sizes {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    width: 100%;
  }
  .small-size {
    width: calc((100% - (4 * 28px)) / 5);
    height: auto;
  }
  .small-size img {
    background-size: cover;
    border-radius: 13px;
    height: 220px;
  }
  .small-size a {
    font-size: 17px;
    padding: 10px;
    display: block;
  }
  .owl-nav {
    display: none;
  }
}

#index-background {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 45px;
}
#index-background .slider-one {
  top: 0 !important;
}
#index-background .parent-home {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
  cursor: default;
  gap: 10px;
}
#index-background h1 {
  font-size: 55px;
  color: white;
  text-transform: uppercase;
}
#index-background p#Welcome {
  font-size: 18px;
  color: white;
  margin-bottom: 0;
}
#index-background p#welcome-text {
  color: white;
  width: 35%;
  display: block;
  align-self: center;
  font-size: 25px;
}
#index-background .parent-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#index-background .parent-buttons .DesignButton {
  color: white;
  padding: 14px 30px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid white;
}
#index-background .parent-buttons .ShopButton {
  color: white;
  padding: 14px 30px;
  background-color: var(--mainColor);
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid var(--mainColor);
  font-weight: bold;
}
#index-background .parent-buttons .DesignButton:hover {
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  color: white;
  transition: all 0.4s;
}
#index-background .parent-buttons .ShopButton:hover {
  background-color: transparent;
  color: var(--mainColor);
  transition: all 0.4s;
  border-color: white;
}
.carousel {
  width: 100%;
  margin: auto;
}

.slide {
  text-align: center;
}

.Brand img {
  width: 100px;
  height: 50px;
  filter: brightness(1.1);
  margin: auto;
  object-fit: contain;
}

#StartYourSystem {
  margin-top: 83px;
  margin-bottom: 83px;

  .heading {
    text-align: center;
    color: #343333;
    font-size: 51px;
  }
  .nav {
    justify-content: center;
    margin-top: 40px;
  }
  .nav li {
    padding: 0 14px;
  }
  .nav li a {
    color: black;
  }
  .nav li a.active {
    border: none;
    border-bottom: 2px solid black;
  }
  .card {
    border: none;
  }
  .card-body .Box-Sizes {
    display: grid;
    grid-template-areas:
      "Start1 Start2 Start3"
      "Start1 Start4 Start5";
    width: 100%;
    grid-template-rows: 50%;
    grid-template-columns: 42% 26% 26%;
    gap: 20px;
  }
  .box-1 {
    grid-area: Start1;
  }
  .box-2 {
    grid-area: Start2;
  }
  .box-3 {
    grid-area: Start3;
  }
  .box-4 {
    grid-area: Start4;
  }
  .box-5 {
    grid-area: Start5;
  }
  .small-size {
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 6px 6px 9px 2px #d8d8d8cc;
  }
  .small-size a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white !important;
  }
  .card .Big-size {
    background-size: cover;
    border-radius: 10px;
    background-position: center;
  }
  .card .Big-size a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
  }
  .card .Big-size a:hover,
  .small-size a:hover {
    color: #777777;
    transition: all 0.3s;
  }
  .tab-content .card-body {
    display: flex;
  }
  .swiper-container {
    display: none !important;
  }
}

.slider-one {
  position: relative;
  top: -76px;
  z-index: 0;
}
.slider-one .Background-black {
  background-color: black;
  filter: brightness(0.8);
}
.slider-one .owl-theme .owl-dots .owl-dot:hover span,
.slider-one .owl-theme .owl-dots .owl-dot.active span {
  border-color: var(--mainColor);
  background-color: var(--mainColor);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bottom-slider {
  display: flex;
  margin: 0 160px;
  gap: 56px;
  align-items: center;
}
.thm-btn:hover {
  background-color: var(--mainColor);
  color: #fff;
}
.slider-one__btn {
  padding: 12px 30px;
  border-radius: 35px;
}
[class*="slider-one__slider-"] {
  padding-top: 435px;
  /*padding-top: 260px;*/
  padding-bottom: 80px;
}
.slider-one__btn {
  background-color: #fff;
  color: #302e2f;
  margin-top: 12px;
  text-align: center;
}
.slider-one__title {
  margin: 0;
  color: #fff;
  font-size: 59px;
  line-height: 68px;
}
h2.Home-Text {
  width: 610px;
  font-size: 50px;
  color: #343333;
  cursor: default;
  /* margin-left: 73px; */
  margin-bottom: 52px;
  font-weight: bold;
  text-align: left;
}
div.Images-Home {
  display: flex;
  justify-content: center;
  gap: 20px;
}
div.Image-One {
  position: relative;
  display: inline-block;
}
div.Image-Two {
  position: relative;
  display: inline-block;
}
.Images-Home div.Image-One img {
  display: block;
  width: 650px;
  height: 436px;
  object-fit: cover;
  border-radius: 17px;
  /* margin-left: 3px; */
  margin-left: -8px;
}
.Images-Home div.Image-Two img {
  width: 327px;
  object-fit: cover;
  height: 436px;
  border-radius: 17px;
}
div.Text-under-images {
  display: flex;
  margin-top: 40px;
  gap: 57px;
  justify-content: center;
  cursor: default;
  flex-wrap: wrap;
}
.text-one {
  border-top: 1px solid #d6d6d6;
}
.text-one h3 {
  font-size: 20px;
  margin-top: 17px;
  color: black;
  cursor: default;
  font-weight: bold;
}
.text-one p {
  width: 297px;
  cursor: default;
}
.overlay-button,
.overlay-button-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Image-One:hover .overlay-button {
  transition-duration: 0.3s;
  opacity: 1;
}
.Image-Two:hover .overlay-button-two {
  opacity: 1;
  transition-duration: 0.3s;
}
.Image-One:hover img {
  filter: brightness(50%);
  transition-duration: 0.3s;
}
.Image-Two:hover img {
  filter: brightness(50%);
  transition-duration: 0.3s;
}

.overlay-button button,
.overlay-button-two button {
  padding: 12px 24px;
  background-color: white;
  border: none;
  color: black;
}
.overlay-button button:hover,
.overlay-button-two button:hover {
  background-color: var(--mainColor);
  color: white;
}
a.HomeImageInButton svg {
  cursor: pointer;
  font-size: 60px;
  color: white;
}
@media (min-width: 1200px) {
  .container.ControlHomeCont {
    max-width: 1140px;
  }
}

#StartYourSystem {
  margin-top: 83px;
  margin-bottom: 83px;
}
#StartYourSystem h1.heading {
  text-align: center;
  color: #343333;
  font-size: 51px;
}
#StartYourSystem ul.nav {
  justify-content: center;
  margin-top: 40px;
}
#StartYourSystem ul.nav li {
  padding: 0 14px;
}
#StartYourSystem ul.nav li a {
  color: black;
}
#StartYourSystem ul.nav li a.active {
  border: none;
  border-bottom: 2px solid black;
}
#StartYourSystem .card {
  border: none;
  /* margin-left: 16px; */
}
#StartYourSystem .card-body .Box-Sizes {
  display: grid;
  grid-template-areas:
    "Start1 Start2 Start3"
    "Start1 Start4 Start5";
  width: 100%;
  grid-template-rows: 50%;
  grid-template-columns: 42% 26% 26%;
  gap: 20px;
}

.box-1 {
  grid-area: Start1;
}

.box-2 {
  grid-area: Start2;
}

.box-3 {
  grid-area: Start3;
}

.box-4 {
  grid-area: Start4;
}

.box-5 {
  grid-area: Start5;
}

#StartYourSystem .small-size {
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  box-shadow: 6px 6px 9px 2px #d8d8d8cc;
}

#StartYourSystem .small-size a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white !important;
}

#StartYourSystem .card .Big-size {
  background-size: cover;
  border-radius: 10px;
  background-position: center;
}

#StartYourSystem .card .Big-size a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

#StartYourSystem .card .Big-size a:hover,
#StartYourSystem .small-size a:hover {
  color: #777777;
  transition: all 0.3s;
}

#StartYourSystem .tab-content .card-body {
  display: flex;
}

#StartYourSystem .swiper-container {
  display: none !important;
}

#StartYourSystem.card .Big-size {
  width: -webkit-fill-available;
  margin: 0;
  height: auto;
  background-size: cover;
  border-radius: 10px;
}
#StartYourSystem.card .Big-size a {
  display: flex;
  font-size: 38px;
  text-align: center;
  color: white;
  justify-content: center;
  height: -webkit-fill-available;
  align-items: center;
}
#StartYourSystem .card .Big-size a:hover {
  color: #777777;
  transition-duration: 0.3s;
}

#StartYourSystem .tab-content .card-body {
  display: flex;
}

#Boxes .More-boxes {
  display: grid;
  width: 100% !important;
  grid-template-areas:
    "Shop1 Shop2"
    "Shop3 Shop2"
    "Shop4 Shop5";
  grid-template-columns: 50%;
  gap: 10px;
}
#Boxes .box {
  min-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
}
#Boxes .box-1 {
  grid-area: Shop1;
}

#Boxes .box-2 {
  grid-area: Shop2;
}

#Boxes .box-3 {
  grid-area: Shop3;
}

#Boxes .box-4 {
  grid-area: Shop4;
}

#Boxes .box-5 {
  grid-area: Shop5;
}
#Boxes .box p {
  display: flex;
  font-size: 37px;
  padding: 15px;
  font-weight: bold;
}
#Boxes .box a {
  padding: 15px;
  border: 1px solid #154352;
  border-radius: 10px;
  color: #154352;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
}
#Boxes .box a:hover {
  transition: all 0.4s;
  background-color: #154352;
  color: white;
}
#Boxes .box .hoverhere:hover .overlay-button {
  opacity: 1;
}
.card-body .big-box {
  left: 34px;
  object-fit: cover;
  width: 500px;
  background-position: center;
  height: 441px;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  top: 0px;
}
.card-body .small-box {
  width: 200px;
  height: 200px;
  background-size: cover;
}
.card-body .big-box a {
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 41px;
  color: white;
  padding: 10px;
}
.card-body .small-box a {
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 41px;
  color: white;
  /* background-color: #0000007a; */
  padding: 10px;
}
.Button-shop-home {
  border: 1px solid var(--mainColor);
  border-radius: 14px;
  padding: 10px 32px;
  position: relative;
  background-color: var(--mainColor);
  color: white;
  margin: auto;
  display: block;
  width: 153px;
  text-align: center;
}
.Button-shop-home:hover {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border-color: black;
}
/* Testmonials */

section.testmonials {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: calc(min(63rem, 85%));
  margin: 0 175px;
}
@media screen and (min-width: 61.25rem) {
  section.testmonials {
    column-gap: 5rem;
  }
}
section.testmonials h2 {
  grid-column: span 12;
  text-transform: capitalize;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  /* margin-left: 73px; */
  text-align: center;
  font-weight: 100;
  color: #343333;
}
@media screen and (min-width: 61.25rem) {
  section.testmonials h2 {
    font-size: 51px;
    margin-bottom: 2rem;
  }
}
section.testmonials .tests {
  grid-column: span 12;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 61.25rem) {
  section.testmonials .tests {
    grid-column: span 5;
  }
}
section.testmonials .tests .testmo {
  cursor: pointer;
  padding: 2em;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2.188rem;
  align-items: center;
  transition: 0.3s;
  position: relative;
  border: 0.094rem solid transparent;
}
section.testmonials .tests .testmo img {
  display: block;
  /* width: 3.35rem;
  height: 3.35rem; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: grayscale(1);
  transition: 0.5s;
}
section.testmonials .tests .testmo > div h3 {
  text-transform: capitalize;
  font-size: 1.025rem;
}
section.testmonials .tests .testmo > div p {
  text-transform: capitalize;
  color: #767676;
  font-size: 0.9rem;
}
section.testmonials .tests .testmo.active {
  background: #fff;
  border: 0.094rem solid #0f172a14;
}
section.testmonials .tests .testmo.active .gradient {
  background-image: linear-gradient(
    to right,
    #4755690a,
    #9d0cb28a,
    #4343c899,
    #4755690a
  );
  width: 50%;
  height: 0.094rem;
  position: absolute;
  content: "";
  bottom: -0.063rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0.125rem 0.75rem #4343c84d;
}
section.testmonials .tests .testmo.active img {
  filter: grayscale(0);
}
section.testmonials .content {
  grid-column: span 12;
  position: relative;
  width: 100%;
  overflow: inherit;
  margin-top: 2rem;
}
@media screen and (min-width: 61.25rem) {
  section.testmonials .content {
    grid-column: span 7;
    margin-top: 0;
    height: auto;
  }
}
section.testmonials .content .contentBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
@media screen and (min-width: 61.25rem) {
  section.testmonials .content .contentBox {
    align-items: center;
  }
}
section.testmonials .content .contentBox .text {
  padding-bottom: 2rem;
}
@media screen and (min-width: 61.25rem) {
  section.testmonials .content .contentBox .text {
    padding-bottom: 0;
  }
}
section.testmonials .content .contentBox h2 {
  transition: 0.5s;
  opacity: 0;
}
section.testmonials .content .contentBox p {
  transition: 0.5s;
  opacity: 0;
  margin-top: 1.25rem;
}
section.testmonials .content .contentBox span {
  display: inline-block;
  transition: 0.5s;
  opacity: 0;
  margin-top: 0.625rem;
}
section.testmonials .content .contentBox span svg {
  width: 1.25rem;
  color: #eca633;
}
section.testmonials .content .contentBox.active h2 {
  opacity: 1;
  transition-delay: 0.5s;
}
section.testmonials .content .contentBox.active span {
  opacity: 1;
  transition-delay: 0.7s;
}
section.testmonials .content .contentBox.active p {
  opacity: 1;
  transition-delay: 0.9s;
}
.ControlHome {
  display: grid;
  margin-top: 120px;
  justify-content: center;
}
.ControlHome h2 {
  text-align: center;
  color: #343333;
  font-size: 51px;
  margin-bottom: 43px;
}
.ControlHome img.MainImage {
  width: 1100px;
  height: auto;
}
.ControlHome .svg1 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 531px;
  transform: translateY(219px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg1::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(56px);
  left: 29px;
}
.ControlHome .svg1 .text-block {
  bottom: -52%;
  left: 64px;
  width: 318px;
}
.ControlHome .svg2 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 496px;
  transform: translateY(336px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg2::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(56px);
  left: 27px;
}
.ControlHome .svg3 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 293px;
  transform: translateY(403px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg3::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(56px);
  left: 29px;
}
.ControlHome .svg4 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 663px;
  transform: translateY(534px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg4::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(16px);
  left: -12px;
}
.ControlHome .svg5 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 896px;
  transform: translateY(422px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg5::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(56px);
  left: 29px;
}
.ControlHome .svg5 .text-block {
  width: 319px;
}
.ControlHome .svg6 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 748px;
  transform: translateY(557px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg6::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-22px);
  left: 28px;
}
.ControlHome .svg7 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 1158px;
  transform: translateY(444px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg7::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(58px);
  left: 27px;
}
.svg7 .text-block {
  left: -313px;
}
.ControlHome .svg8 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 569px;
  transform: translateY(419px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg8::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(58px);
  left: 27px;
}
.ControlHome .svg9 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 192px;
  transform: translateY(386px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg9::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(23px);
  left: 68px;
}
.ControlHome .svg10 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 494px;
  transform: translateY(534px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg10::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(57px);
  left: 27px;
}
.ControlHome .svg11 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 233px;
  transform: translateY(242px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg11::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(64px);
  left: 31px;
}
.ControlHome .svg12 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 252px;
  transform: translateY(612px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg12::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(24px);
  left: -13px;
}
.ControlHome .svg13 {
  position: absolute;
  display: inline-block;
  background-color: #ffffffa6;
  left: 147px;
  transform: translateY(535px);
  border-radius: 35px;
  padding: 10px;
}
.ControlHome .svg13::before {
  content: "";
  background-color: white;
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(64px);
  left: 31px;
}

.SvgIcon {
  width: 40px;
  height: 40px;
}
.text-block {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 371px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
  border-radius: 7px;
  margin-bottom: 3px;
  z-index: 9;
}
.svg:hover {
  transition-duration: 0.3s;
  background-color: #ededed;
}
.svg:hover .text-block {
  display: block;
}

section.WhyZhomeSection {
  margin-top: 123px;
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-right: none;
  border-left: none;
}
.Why {
  display: flex;
  justify-content: center;
  gap: 26px;
  flex-wrap: wrap;
  margin: 20px 17px;
}
.Why .Features {
  display: flex;
  max-width: 294px;
  text-align: center;
  color: black;
  cursor: default;
  gap: 10px;
  justify-items: center;
  text-align: center;
}
.Why .Features img {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 0;
  opacity: 0.4;
}
.Info {
  display: grid;
  align-content: flex-start;
}
.Features h4 {
  font-size: 23px;
  font-weight: bold;
  text-align: left;
}
.Features p {
  font-size: 16px;
  color: gray;
  /* margin-left: 45px; */
  text-align: left;
}
.Build {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 49px;
  margin-top: 76px;
}
.Build .Products-home {
  background-position: right;
  background-size: cover;
  width: 478px;
  height: 531px;
  border-radius: 14px;
}
.Build .Products-home a {
  color: white;
  width: 184px;
  display: block;
  margin-top: 23px;
  margin: auto;
  padding: 12px;
  margin-top: 30px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 35px;
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
}
.Build .Products-home a:hover {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}
.Build .Products-home a.buttonBlack {
  background-color: black;
  border-color: black;
  color: white;
}
.Build .Products-home a.buttonBlack:hover {
  background-color: transparent;
  border-color: black;
  color: black;
}
.Build .Products-home h3 {
  text-align: center;
  color: white;
  font-size: 37px;
  margin-top: 50px;
  padding: 25px;
}

.Platfroms {
  display: flex;
  border-top: 1px solid #cdcdcd;
  width: auto;
  margin: auto;
  gap: 30px;
  margin-top: 46px;
}
.Platfroms h3 {
  margin-top: 20px;
  margin-right: 78px;
  font-size: 21px;
  color: #343333;
}
.Platfroms .Platform-home {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.Platfroms .Platform-home img {
  width: 30px;
  height: 30px;
  filter: brightness(1.1);
  object-fit: cover;
}
.Platfroms .Platform-home a {
  margin-bottom: 0;
  color: black;
  font-size: 13px;
}
.Platfroms .Platform-home a:hover {
  transition-duration: 0.3s;
  color: #1982b7;
}
