<main class="MainProposal">
  <div class="container">
    <div class="block-title text-center mt-5">
      <p class="block-title__tag-line text-center">{{'GetYourDesignButton' | translate}}</p>
    </div>

    <form [formGroup]="toolData" (ngSubmit)="sumbitToolData()" enctype="multipart/form-data">
      <div id="wizard" class="wizard clearfix vertical">

        <!-- Steps -->
        <div class="steps clearfix">
          <ul role="tablist">
            @for(num of steps; track $index){
              <li [ngClass]="{'done': num < step, 'current': num  === step, 'disabled': num  > step}" (click)="num  <= step ? goToStep(num) : null" role="tab"
                [attr.aria-disabled]="num > step"
                [attr.aria-selected]="num === step">
                <a [id]="'wizard-t-' + num" [attr.aria-controls]="'wizard-p-' + num">
                  <span class="number">{{ num }}</span>
                </a>
              </li>
            }
          </ul>
        </div>

        <!-- Content -->
        <div class="content clearfix">
            <!--Installed-->
            @if(step === 1){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step ' | translate}} 1 </h5>
                <h2 class="section-heading">{{'Step1Question' | translate}}</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna.
                </p>
                <div class="purpose-radios-wrapper">
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Installed"
                      id="Home"
                      class="purpose-radio-input installed"
                      value="Home"
                    />
                    <label for="Home" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-house Icon"></i>
                      </span>
                      <span class="label-text">{{'HomeQuestion1' | translate}}</span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Installed"
                      id="Flat"
                      class="purpose-radio-input installed"
                      value="Flat"
                    />
                    <label for="Flat" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-building-user Icon"></i>
                      </span>
                      <span class="label-text">{{'Flat' | translate}}</span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Installed"
                      id="Office"
                      class="purpose-radio-input installed"
                      value="Office"
                    />
                    <label for="Office" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-building Icon"></i>
                      </span>
                      <span class="label-text">{{'Office' | translate}}</span>
                    </label>
                  </div>
                </div>
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                </div>
              </section>
            }

            <!--Building Project-->
            @if(step === 2){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step' | translate}} 2</h5>
                <h2 class="section-heading">{{'Step2Question' | translate}}</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud.
                </p>
                <div class="purpose-radios-wrapper">
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="BuildingProject"
                      id="Finished"
                      class="purpose-radio-input Building"
                      value="Finished"
                    />
                    <label for="Finished" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-house Icon"></i>
                      </span>
                      <span class="label-text">{{'Finished' | translate}}</span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="BuildingProject"
                      id="SemiFinished"
                      class="purpose-radio-input Building"
                      value="Semi-Finished"
                    />
                    <label for="SemiFinished" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-paint-roller Icon"></i>
                      </span>
                      <span class="label-text">{{'Semi-Finished' | translate}}</span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="BuildingProject"
                      id="Under-Construction"
                      class="purpose-radio-input Building"
                      value="Under-Construction"
                    />
                    <label for="Under-Construction" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-person-digging Icon"></i>
                      </span>
                      <span class="label-text"> {{'UnderConstruction' | translate}}</span>
                    </label>
                  </div>
                </div>
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }

            <!--Rooms-->
            @if(step === 3){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step' | translate}} 3</h5>
                <h2 class="section-heading">{{'Step3Question' | translate}}</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud.
                </p>
                <div class="purpose-radios-wrapper">
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Rooms"
                      id="3"
                      class="purpose-radio-input RoomsInput"
                      value="3"
                    />
                    <label for="3" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-3 Icon"></i>
                      </span>
                      <span class="label-text">{{'ThreeRooms' | translate}} </span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Rooms"
                      id="4"
                      class="purpose-radio-input RoomsInput"
                      value="4"
                    />
                    <label for="4" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-4 Icon"></i>
                      </span>
                      <span class="label-text">{{'FourRooms' | translate}} </span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Rooms"
                      id="Other"
                      class="purpose-radio-input RoomsInput"
                      (click)="openPopup()"
                      value="Other"
                    />
                    <label for="Other" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-ellipsis Icon"></i>
                      </span>
                      <span class="label-text">{{'Other' | translate}} </span>
                    </label>
                  </div>
                </div>

                <!--PopUp-->
                @if(isPopupOpen == true){
                  <div id="Roomspopup" class="Roomspopup">
                    <div class="popup-content">
                      <span class="close" (click)="closePopup()">&times;</span>
                      <label for="otherInput mb-3">{{'OtherNumbers' | translate}}</label>
                      <input
                        type="text"
                        class="form-control purpose-radio-input RoomsInput"
                        id="otherInput"
                        formControlName="RoomsInput"
                      />
                      <a class="buttons" (click)="next()">{{'Next' | translate}}</a>
                    </div>
                  </div>
                }
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }

            <!--Categroies -->
            @if(step === 4){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step' | translate}} 4</h5>
                <h2 class="section-heading">
                  {{'Step4Question' | translate}}
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud.
                </p>
                <div class="purpose-radios-wrapper" formArrayName="Categories">
                  @for (category of categories; track $index) {
                    <div class="purpose-radio mb-3">
                      <input
                        type="checkbox"
                        [id]="category.id"
                        class="purpose-radio-input CategoriesInputs"
                        [formControlName]="$index"
                        [value]="category.value"

                      />
                                              <!-- formControlName="Categories"  [(ngModel)]="category.selected"-->

                      <label [for]="category.id" class="purpose-radio-label">
                        <span class="label-icon">
                          <i [class]="category.icon" class="Icon"></i>
                        </span>
                        <span class="label-text">{{ category.label | translate }}</span>
                      </label>
                    </div>
                  }
                </div>
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }

            <!--SystemType -->
            @if(step === 5){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step' | translate}} 5</h5>
                <h2 class="section-heading">{{'Step5Question' | translate}}</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud.
                </p>
                <div class="purpose-radios-wrapper">
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="SystemType"
                      id="Wired"
                      class="purpose-radio-input SystemTypeInput"
                      value="Wired"
                    />
                    <label for="Wired" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-plug Icon"></i>
                      </span>
                      <span class="label-text">{{'Wired' | translate}}</span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="SystemType"
                      id="Wireless"
                      class="purpose-radio-input SystemTypeInput"
                      value="Wireless"
                    />
                    <label for="Wireless" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-wifi Icon"></i>
                      </span>
                      <span class="label-text">{{'Wireless' | translate}}</span>
                    </label>
                  </div>
                </div>
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }

            <!--Platforms -->
            @if(step === 6){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step' | translate}} 6</h5>
                <h2 class="section-heading">{{'Step6Question' | translate}}</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud.
                </p>
                <div class="purpose-radios-wrapper Proposal-Platforms">
                  @for (platform of platforms; track $index) {
                    <div class="purpose-radio mb-3">
                        <input type="radio" formControlName="Platform" [id]="platform.Platform" class="purpose-radio-input PlatformsInputs" [value]="platform.Platform">
                        <label [for]="platform.Platform" class="purpose-radio-label">
                        <span class="label-icon">
                            <img [src]="platform.Logo" class="label-icon-default" [alt]="platform.Platform">
                        </span>
                        <span class="label-text">{{platform.Platform}}</span>
                        </label>
                    </div>
                  }
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Platform"
                      id="Any Platform"
                      class="purpose-radio-input PlatformsInputs"
                      value="Any Platform"
                    />
                    <label
                      for="Any Platform"
                      id="AnyPlatform"
                      class="purpose-radio-label justify-content-center"
                    >
                      <span class="label-text">{{'AnyPlatform' | translate}}</span>
                    </label>
                  </div>
                </div>
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }

            <!--Package -->
            @if(step === 7){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step ' | translate}} 7</h5>
                <h2 class="section-heading">{{'Step7Question' | translate}}</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad minim veniam, quis nostrud.
                </p>
                <div class="purpose-radios-wrapper">
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Package"
                      id="Luxury"
                      class="purpose-radio-input PackageInput"
                      value="Luxury"
                    />
                    <label for="Luxury" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-regular fa-gem"></i>
                      </span>
                      <span class="label-text">{{'Luxury' | translate}}</span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Package"
                      id="Comfort"
                      class="purpose-radio-input PackageInput"
                      value="Comfort"
                    />
                    <label for="Comfort" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-solid fa-star"></i>
                      </span>
                      <span class="label-text">{{'Comfort' | translate}}</span>
                    </label>
                  </div>
                  <div class="purpose-radio">
                    <input
                      type="radio"
                      formControlName="Package"
                      id="Standard"
                      class="purpose-radio-input PackageInput"
                      value="Standard"
                    />
                    <label for="Standard" class="purpose-radio-label">
                      <span class="label-icon">
                        <i class="fa-regular fa-face-smile-beam Icon"></i>
                      </span>
                      <span class="label-text">{{'Standard' | translate}}</span>
                    </label>
                  </div>
                </div>
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }

            <!--Contant -->
            @if(step === 8){

              <section>
                <h5 class="bd-wizard-step-title">{{'Step ' | translate}} 8</h5>
                <h2 class="section-heading">{{'Step8Question' | translate}}</h2>

                <div class="row mt-2">
                  <div class="col-md-5">
                    <label for="Name" class="sr-only">{{'FirstName' | translate}}</label>
                    <input
                      type="text"
                      id="Name"
                      formControlName="Name"
                      class="form-control"
                      placeholder="{{'FirstName' | translate}}"
                    />
                  </div>
                  <div class="col-md-5">
                    <label for="Email" class="sr-only">{{'EmailAddress' | translate}}</label>
                    <input
                      type="email"
                      formControlName="Email"
                      id="Email"
                      class="form-control"
                      placeholder="{{'EmailAddress' | translate}}"
                    />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-5">
                    <label for="Phone" class="sr-only">{{'PhoneNumber' | translate}}</label>
                    <input
                      type="number"
                      formControlName="Phone"
                      id="Phone"
                      class="form-control"
                      value=""
                      placeholder="{{'PhoneNumber' | translate}}"
                    />
                  </div>
                  <div class="col-md-5">
                    <label for="Address" class="sr-only">{{'Address' | translate}}</label>
                    <input
                      type="text"
                      formControlName="Address"
                      id="Address"
                      class="form-control"
                      value=""
                      placeholder="{{'Address' | translate}}"
                    />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-5">
                    <label for="Country" class="sr-only">{{'Country' | translate}}</label>
                    <select
                      formControlName="Country"
                      id="Country"
                      class="form-control countrypicker"
                      (change)="onCountryChange($event)"
                      data-flag="true"
                      style="padding: 0px 25px; color: #959aa6"
                    >
                      <option disabled selected hidden>{{'SelectCountry' | translate}}</option>
                      <option *ngFor="let country of countries" [value]="country.code">
                        <img [src]="country.flag" alt="{{ country.name }}" style="width: 20px; margin-right: 5px;">
                        {{ country.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-5">
                    <label for="City" class="sr-only">{{'City' | translate}}</label>
                    <select id="city" class="form-control" formControlName="City" [disabled]="isCitySelectDisabled" [(ngModel)]="selectedCity" style="padding: 0px 25px; color: #959aa6">
                      <option disabled selected hidden>{{'SelectCity' | translate}}</option>
                      <option *ngFor="let city of cities" [value]="city.name">
                        {{ city.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group mt-3" style="width: -webkit-fill-available">
                  <label for="formFile"
                    ><i class="fa-solid fa-house"></i>{{'UploadTheDesign' | translate}}
                  </label>
                  <div class="d-flex gap-4 mt-2">
                    <input
                      class="FileType form-control"
                      type="file"
                      formControlName="file"
                      id="formFile"
                      accept=".pdf, .png, .jpg, .jpeg"
                      style="padding: 10px 21px; width: 33%;height: fit-content;"
                    />
                    <img
                      src="assets/imgs/UI/website/Tools/AutocadHoe.jpg"
                      style="width: 177px; border-radius: 3px"
                      alt="Home Autocad"
                    />
                  </div>
                </div>
                <div class="d-flex gap-2 mt-3">
                  <a class="buttons" (click)="next()">Next</a>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }

            <!--Invoice -->
            @if(step === 9){
              <section>
                <h5 class="bd-wizard-step-title">{{'Step' | translate}} 9</h5>
                <h2 class="section-heading mb-5">{{'Step9Question' | translate}}</h2>

                <!-- Installed -->
                <h6 class="font-weight-bold" id="Installed" style="font-size: 22px"  *ngIf="toolData.value.Installed" >{{ toolData.value.Installed }}</h6>

                <!-- Building Type -->
                <p>{{'Status' | translate}} :
                  <span id="BuildingType" *ngIf="toolData.value.BuildingProject">{{ toolData.value.BuildingProject }}</span>
                </p>

                <!-- Rooms -->
                <p>
                  <span id="Rooms" *ngIf="toolData.value.Rooms">{{ toolData.value.Rooms }}</span>
                  {{'Rooms' | translate}}
                </p>

                <!-- System Type -->
                <p>
                  <span id="System" *ngIf="toolData.value.System">{{ toolData.value.System }}</span>
                  {{'System' | translate}}
                </p>

                <!-- Package -->
                <p>
                  <span id="Package" *ngIf="toolData.value.Package">{{ toolData.value.Package }}</span>
                  {{'Package' | translate}}
                </p>

                <!-- Platforms -->
                <p>{{'Platforms' | translate}} :
                  <span id="Platforms" *ngIf="toolData.value.Platforms">{{ toolData.value.Platforms }}</span>
                </p>

                <!-- Categories -->
                <p>{{ 'Categories' | translate }}:
                  <span *ngIf="toolData.value.Categories.value">{{ toolData.value.Categories.value }}</span>
                </p>



                <h6 class="font-weight-bold">{{'AccountDetails' | translate}}</h6>
                <p class="mb-4 text-black" style="font-size: 18px; font-weight: 600">
                  <span id="enteredName" *ngIf="toolData.value.Name">{{ toolData.value.Name }}</span>
                </p>
                <div class="d-grid">
                  <p class="mb-2">{{'Email' | translate}} : <span id="enteredEmail" *ngIf="toolData.value.Email">{{ toolData.value.Email }}</span></p>
                  <p class="mb-2">{{'Phone' | translate}} : <span id="enteredPhone" *ngIf="toolData.value.Phone">{{ toolData.value.Phone }}</span></p>
                  <p class="mb-2">{{'Address' | translate}} : <span id="enteredAddress" *ngIf="toolData.value.Address">{{ toolData.value.Address }}</span></p>
                  <p class="mb-2">{{'City' | translate}} : <span id="enteredCity" *ngIf="toolData.value.City">{{ toolData.value.City }}</span></p>
                  <p class="mb-2">{{'Country' | translate}} : <span id="enteredCountry" *ngIf="toolData.value.Country">{{ toolData.value.Country }}</span></p>
                </div>
                <div class="d-flex gap-2 mt-3">
                  <button type="submit" class="buttons">Save</button>
                  <a class="buttons" (click)="back()">Previous</a>
                </div>
              </section>
            }
        </div>
      </div>
    </form>
  </div>
</main>

