<main class="MainProposal">
  <div class="container">
    <div class="block-title text-center mt-5 pt-5">
      <p class="block-title__tag-line text-center">Get Your Design Button</p>
    </div>

    <form method="POST" id="MainForm" action="" enctype="multipart/form-data">
      <div id="wizard">
        <h3>Step 1 Title</h3>
        <!--Installed-->
        <section>
          <h5 class="bd-wizard-step-title">Step 1</h5>
          <h2 class="section-heading">
            Where should your smart home be installed ?
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <div class="purpose-radios-wrapper">
            <div class="purpose-radio">
              <input
                type="radio"
                name="Installed"
                id="Home"
                class="purpose-radio-input installed"
                value="Home"
              />
              <label for="Home" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-house Icon"></i>
                </span>
                <span class="label-text">Home</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="Installed"
                id="Flat"
                class="purpose-radio-input installed"
                value="Flat"
              />
              <label for="Flat" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-building-user Icon"></i>
                </span>
                <span class="label-text">Flat</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="Installed"
                id="Office"
                class="purpose-radio-input installed"
                value="Office"
              />
              <label for="Office" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-building Icon"></i>
                </span>
                <span class="label-text">Office</span>
              </label>
            </div>
          </div>
        </section>

        <h3>Step 2 Title</h3>
        <!--Building Project-->
        <section>
          <h5 class="bd-wizard-step-title">Step 2</h5>
          <h2 class="section-heading">Which building project is it?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud.
          </p>
          <div class="purpose-radios-wrapper">
            <div class="purpose-radio">
              <input
                type="radio"
                name="BuildingProject"
                id="Finished"
                class="purpose-radio-input Building"
                value="Finished"
              />
              <label for="Finished" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-house Icon"></i>
                </span>
                <span class="label-text">Finished</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="BuildingProject"
                id="SemiFinished"
                class="purpose-radio-input Building"
                value="Semi-Finished"
              />
              <label for="SemiFinished" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-paint-roller Icon"></i>
                </span>
                <span class="label-text">Semi-Finished</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="BuildingProject"
                id="Under-Construction"
                class="purpose-radio-input Building"
                value="Under-Construction"
              />
              <label for="Under-Construction" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-person-digging Icon"></i>
                </span>
                <span class="label-text"> Under Construction</span>
              </label>
            </div>
          </div>
        </section>

        <h3>Step 3 Title</h3>
        <!--Rooms-->
        <section>
          <h5 class="bd-wizard-step-title">Step 3</h5>
          <h2 class="section-heading">Number of Rooms</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud.
          </p>
          <div class="purpose-radios-wrapper">
            <div class="purpose-radio">
              <input
                type="radio"
                name="Rooms"
                id="3"
                class="purpose-radio-input RoomsInput"
                value="3"
              />
              <label for="3" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-3 Icon"></i>
                </span>
                <span class="label-text">ThreeRooms </span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="Rooms"
                id="4"
                class="purpose-radio-input RoomsInput"
                value="4"
              />
              <label for="4" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-4 Icon"></i>
                </span>
                <span class="label-text">FourRooms </span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="Rooms"
                id="Other"
                class="purpose-radio-input RoomsInput"
                onclick="openPopup()"
                value="Other"
              />
              <label for="Other" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-ellipsis Icon"></i>
                </span>
                <span class="label-text">Other </span>
              </label>
            </div>
          </div>

          <!--PopUp-->
          <div id="Roomspopup" class="Roomspopup">
            <div class="popup-content">
              <span class="close" (click)="closePopup()">&times;</span>
              <label for="otherInput mb-3">Other Numbers</label>
              <input
                type="text"
                class="form-control purpose-radio-input RoomsInput"
                id="otherInput"
                name="RoomsInput"
              />
              <ul role="menu" aria-label="Pagination">
                <li
                  aria-hidden="false"
                  aria-disabled="false"
                  class=""
                  style="display: list-item"
                >
                  <a
                    href="#next"
                    role="menuitem"
                    style="margin-top: 18px"

                    >Next</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </section>

        <h3>Step 4 Title</h3>
        <!--Categroies -->
        <section>
          <h5 class="bd-wizard-step-title">Step 4</h5>
          <h2 class="section-heading">
            What do you want to control with your smart home ?
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud.
          </p>
          <div class="purpose-radios-wrapper">
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="Lighting"
                class="purpose-radio-input CategoriesInputs"
                value="Lighting"
              />
              <label for="Lighting" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-lightbulb Icon"></i>
                </span>
                <span class="label-text">Lighting</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="Heating"
                class="purpose-radio-input CategoriesInputs"
                value="Heating"
              />
              <label for="Heating" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-fire Icon"></i>
                </span>
                <span class="label-text">Heating</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="Security"
                class="purpose-radio-input CategoriesInputs"
                value="Security"
              />
              <label for="Security" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-shield-halved Icon"></i>
                </span>
                <span class="label-text">Security</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="Entertainment"
                class="purpose-radio-input CategoriesInputs"
                value="Entertainment"
              />
              <label for="Entertainment" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-volume-high Icon"></i>
                </span>
                <span class="label-text">Entertainment</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="Shutters"
                class="purpose-radio-input CategoriesInputs"
                value="Shutters"
              />
              <label for="Shutters" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-house-chimney-window Icon"></i>
                </span>
                <span class="label-text">Shutters</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="GarageGates"
                class="purpose-radio-input CategoriesInputs"
                value="GarageGates"
              />
              <label for="GarageGates" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-warehouse Icon"></i>
                </span>
                <span class="label-text">Garage-Gates</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="AccessControl"
                class="purpose-radio-input CategoriesInputs"
                value="AccessControl"
              />
              <label for="AccessControl" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-house-signal Icon"></i>
                </span>
                <span class="label-text">AccessControl</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="checkbox"
                name="Categories[]"
                id="AcControl"
                class="purpose-radio-input CategoriesInputs"
                value="AcControl"
              />
              <label for="AcControl" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-snowflake Icon"></i>
                </span>
                <span class="label-text">AC-Control</span>
              </label>
            </div>
          </div>
        </section>

        <h3>Step 5 Title</h3>
        <!--SystemType -->
        <section>
          <h5 class="bd-wizard-step-title">Step 5</h5>
          <h2 class="section-heading">Type of System</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud.
          </p>
          <div class="purpose-radios-wrapper">
            <div class="purpose-radio">
              <input
                type="radio"
                name="SystemType"
                id="Wired"
                class="purpose-radio-input SystemTypeInput"
                value="Wired"
              />
              <label for="Wired" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-plug Icon"></i>
                </span>
                <span class="label-text">Wired</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="SystemType"
                id="Wireless"
                class="purpose-radio-input SystemTypeInput"
                value="Wireless"
              />
              <label for="Wireless" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-wifi Icon"></i>
                </span>
                <span class="label-text">Wireless</span>
              </label>
            </div>
          </div>
        </section>

        <h3>Step 6 Title</h3>
        <!--Platforms -->
        <section>
          <style>
            .wizard .Proposal-Platforms .purpose-radio .purpose-radio-label {
              height: 70px;
              flex-direction: row;
              align-items: center;
              gap: 10px;
              border: 1px solid #a6a6a6;
              filter: brightness(1.2);
              width: 290px;
              flex-wrap: wrap;
            }
            .Proposal-Platforms .purpose-radio span.label-icon {
              margin: 0 !important;
            }
          </style>
          <h5 class="bd-wizard-step-title">Step 6</h5>
          <h2 class="section-heading">Select Preferred Platforms</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud.
          </p>
          <div class="purpose-radios-wrapper Proposal-Platforms">
            <!-- @foreach ($platforms as $platform ) -->
            <!-- <div class="purpose-radio">
                                    <input type="radio" name="Platform" id="{{$platform->Platform}}" class="purpose-radio-input PlatformsInputs" value="{{$platform->Platform}}">
                                    <label for="{{$platform->Platform}}" class="purpose-radio-label">
                                    <span class="label-icon">
                                        <img src="{{asset("Admin/dist/img/web/Platforms/$platform->Logo")}}" class="label-icon-default" alt="{{$platform->Platform}}">
                                        <img src="{{asset("Admin/dist/img/web/Platforms/$platform->Logo")}}" class="label-icon-active" alt="{{$platform->Platform}}">
                                    </span>
                                    <span class="label-text">{{$platform->Platform}}</span>
                                    </label>
                                </div> -->
            <!-- @endforeach -->
            <div class="purpose-radio">
              <input
                type="radio"
                name="Platform"
                id="Any Platform"
                class="purpose-radio-input PlatformsInputs"
                value="Any Platform"
              />
              <label
                for="Any Platform"
                id="AnyPlatform"
                class="purpose-radio-label justify-content-center"
              >
                <span class="label-text">AnyPlatform</span>
              </label>
            </div>
          </div>
        </section>

        <h3>Step 7 Title</h3>
        <!--Package -->
        <section>
          <h5 class="bd-wizard-step-title">Step 7</h5>
          <h2 class="section-heading">Choose Preferred Budget</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud.
          </p>
          <div class="purpose-radios-wrapper">
            <div class="purpose-radio">
              <input
                type="radio"
                name="Package"
                id="Luxury"
                class="purpose-radio-input PackageInput"
                value="Luxury"
              />
              <label for="Luxury" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-regular fa-gem"></i>
                </span>
                <span class="label-text">Luxury</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="Package"
                id="Comfort"
                class="purpose-radio-input PackageInput"
                value="Comfort"
              />
              <label for="Comfort" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-solid fa-star"></i>
                </span>
                <span class="label-text">Comfort</span>
              </label>
            </div>
            <div class="purpose-radio">
              <input
                type="radio"
                name="Package"
                id="Standard"
                class="purpose-radio-input PackageInput"
                value="Standard"
              />
              <label for="Standard" class="purpose-radio-label">
                <span class="label-icon">
                  <i class="fa-regular fa-face-smile-beam Icon"></i>
                </span>
                <span class="label-text">Standard</span>
              </label>
            </div>
          </div>
        </section>

        <h3>Step 8 Title</h3>
        <!--Contant -->
        <section>
          <style>
            .flag-icon {
              width: 25px;
              margin-right: 5px;
            }

            .select2-selection__rendered {
              display: none;
            }
          </style>

          <h5 class="bd-wizard-step-title">Step 8</h5>
          <h2 class="section-heading">Enter your Account Details</h2>

          <!-- @if (Auth::guard('web')->check()) -->
          <input type="hidden" name="UserID" value="" />
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="Name" class="sr-only">FirstName</label>
              <input
                type="text"
                name="Name"
                id="Name"
                class="form-control"
                value=""
                placeholder="FirstName"
              />
            </div>
            <div class="col-md-5">
              <label for="Email" class="sr-only">EmailAddress</label>
              <input
                type="email"
                name="Email"
                id="Email"
                class="form-control"
                value=""
                placeholder="EmailAddress"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="Phone" class="sr-only">PhoneNumber</label>
              <input
                type="number"
                name="Phone"
                id="Phone"
                class="form-control"
                value=""
                placeholder="PhoneNumber"
              />
            </div>
            <div class="col-md-5">
              <label for="Address" class="sr-only">Address</label>
              <input
                type="text"
                name="Address"
                id="Address"
                class="form-control"
                value=""
                placeholder="Address"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="Country" class="sr-only">Country</label>
              <select
                name="Country"
                id="Country"
                class="form-control countrypicker"
                data-flag="true"
                style="padding: 0px 25px; color: #959aa6"
              >
                <option disabled selected hidden>SelectCountry</option>
              </select>
            </div>
            <div class="col-md-5">
              <label for="City" class="sr-only">City</label>
              <select
                name="City"
                id="City"
                class="form-control"
                style="padding: 0px 25px; color: #959aa6"
              >
                <option disabled selected hidden>SelectCity</option>
              </select>
            </div>
          </div>
          <!-- @else -->
          <input type="hidden" name="UnkownID" value="" />
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="Name" class="sr-only">FirstName</label>
              <input
                type="text"
                name="Name"
                id="Name"
                class="form-control"
                placeholder="FirstName"
              />
            </div>
            <div class="col-md-5">
              <label for="Email" class="sr-only">EmailAddress</label>
              <input
                type="email"
                name="Email"
                id="Email"
                class="form-control"
                placeholder="EmailAddress"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="Phone" class="sr-only">PhoneNumber</label>
              <input
                type="number"
                name="Phone"
                id="Phone"
                class="form-control"
                placeholder="PhoneNumber"
              />
            </div>
            <div class="col-md-5">
              <label for="Address" class="sr-only">Address</label>
              <input
                type="text"
                name="Address"
                id="Address"
                class="form-control"
                placeholder="Address"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="Country" class="sr-only">Country</label>
              <select
                name="Country"
                id="Country"
                class="form-control countrypicker"
                data-flag="true"
                style="padding: 0px 25px; color: #959aa6"
              >
                <option disabled selected hidden>SelectCountry</option>
              </select>
            </div>
            <div class="col-md-5">
              <label for="City" class="sr-only">City</label>
              <select
                name="City"
                id="City"
                class="form-control"
                style="padding: 0px 25px; color: #959aa6"
              >
                <option disabled selected hidden>SelectCity</option>
              </select>
            </div>
          </div>
          <!-- @endif -->

          <div class="form-group" style="width: -webkit-fill-available">
            <label for="formFile" class=""
              ><i class="fa-solid fa-house"></i>UploadTheDesign
            </label>
            <div class="row">
              <input
                class="FileType form-control"
                type="file"
                name="file"
                id="formFile"
                accept=".pdf, .png, .jpg, .jpeg"
                style="padding: 10px 21px; width: 33%"
              />
              <img
                src="../../assets/imgs/UI/website/Tools/AutocadHoe.jpg"
                style="width: 177px; border-radius: 3px"
                alt="Home Autocad"
              />
            </div>
          </div>

          <script>
            document
              .getElementById("formFile")
              .addEventListener("change", function () {
                var fileInput = this;
                var allowedExtensions = /(\.pdf|\.png|\.jpg|\.jpeg)$/i;

                if (!allowedExtensions.exec(fileInput.value)) {
                  alert(
                    "Invalid file type. Please select a PDF, PNG, JPG, or JPEG file."
                  );
                  fileInput.value = "";
                  return false;
                }
              });
          </script>
        </section>

        <h3>Step 9 Title</h3>
        <!--Invoice -->
        <section>
          <h5 class="bd-wizard-step-title">Step 9</h5>
          <h2 class="section-heading mb-5">Step9Question</h2>
          <h6
            class="font-weight-bold"
            id="Installed"
            style="font-size: 22px"
          ></h6>
          <!-- Installed -->
          <p>Status : <span id="BuildingType"></span></p>
          <!-- Building Type -->
          <p><span id="Rooms"></span>Rooms</p>
          <!-- Rooms -->
          <p><span id="System"></span> System</p>
          <!-- System Type -->
          <p><span id="Package"></span> Package</p>
          <!-- Package -->
          <p>Platforms : <span id="Platforms"></span></p>
          <!-- Platforms -->
          <p>Categories : <span id="Categories"></span></p>
          <!-- Categories -->

          <h6 class="font-weight-bold">AccountDetails</h6>
          <p class="mb-4 text-black" style="font-size: 18px; font-weight: 600">
            <span id="enteredName"></span>
          </p>
          <div class="d-grid">
            <p class="mb-2">Email : <span id="enteredEmail"></span></p>
            <p class="mb-2">Phone : <span id="enteredPhone"></span></p>
            <p class="mb-2">Address : <span id="enteredAddress"></span></p>
            <p class="mb-2">City : <span id="enteredCity"></span></p>
            <p class="mb-2">Country : <span id="enteredCountry"></span></p>
          </div>
        </section>
      </div>
    </form>
  </div>
</main>

<!--Submit form-->
<script>
  $(document).ready(function () {
    var finishLink = document.querySelector('a[href="#finish"]');
    finishLink.id = "finishButton";

    document
      .getElementById("finishButton")
      .addEventListener("click", function () {
        document.getElementById("MainForm").submit();
      });
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  $(document).ready(function () {
    $("#Country").select2({
      templateResult: formatCountry,
      templateSelection: formatCountrySelection,
      escapeMarkup: function (m) {
        return m;
      },
    });

    $("#City").select2();

    function formatCountry(country) {
      if (!country.id) {
        return country.text;
      }

      var flagCode = country.element.value.toLowerCase();
      var flagUrl = `https://flagcdn.com/w20/${flagCode}.png`;
      var flag = `<img class="flag-icon" src="${flagUrl}" />`;
      return flag + " " + country.text;
    }

    function formatCountrySelection(country) {
      if (!country.id) {
        return country.text;
      }

      var flagCode = $(country.element).data("flag");
      var flagUrl = `https://flagcdn.com/w20/${flagCode}.png`;
      var flag = `<img class="flag-icon" src="${flagUrl}" />`;
      return flag + " " + country.text;
    }

    var selectedCountries = [
      "eg",
      "us",
      "gb",
      "fr",
      "de",
      "es",
      "it",
      "ca",
      "au",
    ];

    $.ajax({
      url: "https://restcountries.com/v2/all",
      method: "GET",
      success: function (response) {
        response.forEach(function (country) {
          if (selectedCountries.includes(country.alpha2Code.toLowerCase())) {
            var flagCode = country.alpha2Code.toLowerCase();
            var flagUrl = `https://flagcdn.com/w20/${flagCode}.png`;
            var option = $("<option>", {
              value: country.name,
              text: country.name,
              "data-flag": flagCode,
            }).html(
              `<img class="flag-icon" src="${flagUrl}" />` + " " + country.name
            );

            $("#Country").append(option);
          }
        });

        $("#Country").trigger("change");
      },
    });

    $("#Country").change(function () {
      var selectedCountry = $(this).val();
      var cities = getCityListForCountry(selectedCountry);

      $("#City").html(
        '<option value="" disabled selected>Select City</option>' +
          cities
            .map((city) => '<option value="' + city + '">' + city + "</option>")
            .join("")
      );

      $("#City").trigger("change");
    });

    function getCityListForCountry(countryCode) {
      const cities = {
        "United States of America": [
          "New York",
          "Los Angeles",
          "Chicago",
          "Houston",
          "Phoenix",
        ],
        Egypt: [
          "Cairo",
          "Giza",
          "Alexandria",
          "Redsea",
          "South Sinai",
          "North Sinai",
          "Marsa Alm",
        ],
        "United Kingdom of Great Britain and Northern Ireland": [
          "London",
          "Birmingham",
          "Manchester",
          "Leeds",
          "Glasgow",
        ],
        France: ["Paris", "Marseille", "Bordeaux", "Lyon", "Nice"],
        Canda: ["Toronto", "Vancouver", "Montreal", "Ottawa", "Calgary"],
        Italy: [
          "Florence",
          "Milan",
          "Naples",
          "Rome",
          "Venice",
          "Genoa",
          "Verona",
        ],
        Australia: [
          "Sydney",
          "Melbourne",
          "Brisbane",
          "Perth",
          "Canberra",
          "Darwin",
        ],
        Spain: ["Madrid", "Seville", "Barcelona", "Valencia", "Malaga"],
        Germany: ["Berlin", "Hamburg", "Munich", "Cologne", "Frankfurt"],
      };
      return cities[countryCode] || [];
    }
  });
  document.addEventListener("DOMContentLoaded", function () {
    var errorMessagesDiv = document.getElementById("errorMessages");

    if (errorMessagesDiv) {
      setTimeout(function () {
        errorMessagesDiv.style.display = "none";
      }, 5000);
    }
  });
</script>
