
  <router-outlet></router-outlet>

    <section class="profile-background site-banner padding-large" style="background: url('assets/imgs/UI/website/Profile/Background.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title text-white">{{'Profile' | translate}}</h1>
                    <div class="breadcrumbs">
                    <span class="item">
                        <a routerLink="/home" class="text-white">{{'Home' | translate}} /</a>
                    </span>
                    <span class="item text-white">{{'Profile' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--UnVerified Email-->
    @if(user.email_verified_at){
        <section>
            <div class="container mt-3">
                <div class="alert alert-warning text-center">
                    {{'ActivationText' | translate}}
                </div>
            </div>
        </section>
    }

    <section>
        <div class="container py-5">
            <div class="row RowReverseInArabic">
                <div class="col-lg-4">
                    <!-- Side Card -->
                    <div class="card mb-4" style="border-radius: 14px;">
                        <div class="card-body text-center">
                            <img src="assets/dist/img/avatar.png" alt="User Avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{user.Name}}</h5>
                            <p class="text-muted mb-1">{{user.Phone ? "0" + user.Phone : " Edit Phone Number " }}</p>
                            <p class="text-muted mb-4">{{user.Address ? user.Address : "Edit to add Address"}}</p>
                        </div>
                    </div>
                    <!-- Side Nav -->
                    <div class="card mb-4 mb-lg-0"  style="border-radius: 14px;">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3" role="tablist">
                                <li class="list-group-item d-flex justify-content-center align-items-center nav-item p-3" role="presentation">
                                    <a
                                      class="nav-link profile-link mb-0"
                                      [class.active]="activeTab === 'settings'"
                                      (click)="selectTab('settings')"
                                      role="tab"
                                      aria-selected="activeTab === 'settings'"
                                    >
                                        {{'Settings' | translate}}
                                    </a>
                                </li>
                                <li class="list-group-item d-flex justify-content-center align-items-center nav-item p-3" role="presentation">
                                    <a
                                      class="nav-link profile-link mb-0"
                                      [class.active]="activeTab === 'orders'"
                                      (click)="selectTab('orders')"
                                      role="tab"
                                      aria-selected="activeTab === 'orders'"
                                    >
                                      {{'Orders' | translate}}
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 tab-content">
                    <!-- Info Card -->
                    @if(activeTab === 'settings'){
                      <div class="card mb-4 tab-pane fade show active" id="Settings" style="border-radius: 14px;">
                              <div class="card-body">
                                  <div class="row RowReverseInArabic">
                                      <div class="col-sm-3">
                                          <p class="mb-0">{{'FullName' | translate}}</p>
                                      </div>
                                      <div class="col-sm-9">
                                          <p class="text-muted mb-0">{{user.Name}}</p>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row RowReverseInArabic">
                                      <div class="col-sm-3">
                                          <p class="mb-0">{{'Email' | translate}}</p>
                                      </div>
                                      <div class="col-sm-9 RowReverseInArabic d-flex align-items-center flex-wrap gap-4">
                                          <p class="text-muted mb-0">{{user.email}}</p>
                                          @if(user.email_verified_at){
                                              <span class="badge badge-warning" style="background-color: #b0860e;">{{'unverified' | translate}}</span>
                                          }
                                          @else{
                                              <span class="badge badge-success">{{'verified' | translate}}</span>
                                          }

                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row RowReverseInArabic">
                                      <div class="col-sm-3">
                                          <p class="mb-0">{{'Phone' | translate}}</p>
                                      </div>
                                      <div class="col-sm-9">
                                          <p class="text-muted mb-0">{{user.Phone ? "0" + user.Phone : " Edit Phone Number " }}</p>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row RowReverseInArabic">
                                      <div class="col-sm-3">
                                          <p class="mb-0">{{'Address' | translate}}</p>
                                      </div>
                                      <div class="col-sm-9">
                                          <p class="text-muted mb-0">{{user.Address ? user.Address : "Edit to add Address"}}</p>
                                      </div>
                                  </div>
                                  <hr>
                                  <p class="mb-0 text-center">{{'ControlyourAccount' | translate}}</p>
                                  <div class="row RowReverseInArabic">
                                      <div class="col-sm-12 mt-15 d-flex ControlProfile justify-content-center flex-wrap mt-2 gap-3">
                                          <a routerLink="edit" class="btn btn-success">{{'UpdateyourInformation' | translate}}</a>
                                          <button (click)="deactivate()" class="btn btn-danger">{{'DeactivateAccount' | translate}}</button>
                                          <button (click)="delete()"  class="btn btn-danger">{{'DeleteAccount' | translate}}</button>
                                      </div>
                                  </div>
                              </div>
                      </div>
                    }

                    <!--  Orders Card-->
                  @if(activeTab === 'orders'){
                    <div class="card mb-4 " id="PastOrders" style="border-radius: 14px;">
                        <div class="card-body">

                            <!-- Statistics for all -->
                            <div class="row">
                                <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
                                    <div class="card NumbersCard mb-4">
                                        <div class="card-body p-3">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="numbers">
                                                        <p class="text-sm mb-0 text-uppercase font-weight-bold" style="font-size: 25px;">{{user.Name}} {{'Orders' | translate}} </p>
                                                        <h5 class="font-weight-bolder text-center" >
                                                            {{profileData.data.orderCount}}
                                                        </h5>
                                                        <p class="mb-0 text-center" style="font-size: 16px;font-weight: 700;">
                                                            {{profileData.data.orderStatistics.MinOrderDate}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle d-flex justify-content-center w-100 align-items-center h-100">
                                                        <i class="fa fa-box-open text-lg opacity-10" style="font-size: 55px;color: #3a3a3a;" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            <!--Track Order-->

                            <h1 class="sub-header">{{'TrackOrder' | translate}}</h1>
                            <!-- <div class="card">
                                <div class="Success-invoice">
                                    <div class="invoice text-center">
                                    <p>Order ID [ {{$order->ID}} ]</p>
                                    <p>Ordered in  {{date('d-M Y', strtotime($order->created_at))}} </p>
                                    <div class="Invoice-items">
                                        @foreach($SelectOrder as $Invoice)
                                            <div class="d-flex align-items-center">
                                                <img src="{{asset("Admin/dist/img/webProducts/MainImage/$order->MainImage")}}" class="InvoiceProductImg" alt="Product Image">
                                                    <ul>
                                                        <li>{{ ucfirst(strtolower($order->Name)) }}</li>
                                                        <li>x{{ 'x' . $order->Quantity }}</li>
                                                        <li>{{'Pice' | translate}} . $invoce->Total . "EGP"}}</li>
                                                        @if($Invoice['WithInstallation'] != 0)
                                                            <li>{{'InstallationPrice' | translate}} . $invoce->InstallationCost . "EGP"}} </li>
                                                        @endif
                                                    </ul>
                                                </div>
                                        @endforeach
                                    </div> -->

                                        <!-- <p>{{'DeliveryFees' | translate}} . $order->DeliveryCost}}</p>
                                        <p> {{'EstimatedArrivalDate' | translate}} . date('d-M h:i A', strtotime($order->DeliveryEstimatedArrivalTime)) }}</p>
                                        <div class="Invoice-totals"> -->
                                            <!--the user used a promocode-->
                                        <!-- @if($order->PromoCodeID)
                                            <p>{{'PromoUsed' | translate}} . $PromocodeUsed->Promocode}}</p>
                                            <p>{{'Total' | translate}} . $PromocodeUsed->Total . "EGP"}}</p>
                                        @else
                                            <p>{{'Total' | translate}} . $TotalSum->Total . "EGP"}}</p>
                                        @endif

                                        </div>
                                    </div> -->
                                <!-- </div>
                            </div> -->
                            <hr>

                            <!-- Purchased -->
                          @if(profileData.data.userProducts){
                            <h1 class="sub-header">{{'YourPastOrders' | translate}} </h1>
                            <div class="row">
                                <div class="related-product__carousel">
                                  <owl-carousel-o [options]="ProductsSlider">
                                    @for(product of profileData.data.userProducts ; track product.ID){
                                      <ng-template carouselSlide>
                                        <app-product-card [product]="product"></app-product-card>
                                      </ng-template>
                                    }
                                  </owl-carousel-o>
                                </div>
                            </div>
                          }

                            <hr>

                            <!-- Dicover Our Products Slider -->
                            <h1 class="sub-header mt-2 pt-4">{{'DiscoverourProducts' | translate}}</h1>
                            <div class="related-product__carousel">
                              <owl-carousel-o [options]="ProductsSlider">
                                @for(product of products ; track product.ID){
                                  <ng-template carouselSlide>
                                    <app-product-card [product]="product"></app-product-card>
                                  </ng-template>
                                }
                              </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                  }
                </div>
            </div>
        </div>
    </section>

