<!-- <section>
  <div class="container-shop" id="shop-background">
    <div
      class="background-image"
      style="background-image: url(assets/imgs/UI/website/Shop/AlexaImage2.jpg)"
    ></div>
    <div class="content parent-home">
      <h1>
        Experience Seamless Living with Our Range of Smart Home Technologies
      </h1>
    </div>
  </div>
</section> -->
<section>
  <div class="row p-0 m-0">
      <div class="col-md-9 main-img p-0 m-0">
        <owl-carousel-o [options]="ShopSlider">
          @for (bundle of shopData.All_Bundles; track $index) {
          <ng-template carouselSlide>
            <img [src]="bundle.MainImage" class="w-100" [alt]="bundle.Name">
          </ng-template>
          }
        </owl-carousel-o>

      </div>
      <div class="col-md-3 side-imgs p-0 m-0">
        <img src="assets/imgs/UI/website/Shop/Escritorio.jpg" class="w-100" alt="">
        <img src="assets/imgs/UI/website/Shop/r-architecture-T6d96Qrb5MY-unsplash2.png" class="w-100" alt="">
      </div>
  </div>
</section>

<!-- All Categories -->
<section>
  <div class="container">
    <h1 id="ShopByCategory"> {{'Categories' | translate}}</h1>
    <div class="categories-shop">
      <owl-carousel-o [options]="CategorySlider">
        @for (category of shopData.All_Categories; track $index) {
        <ng-template carouselSlide>
          <div class="category-shop">
            <a [routerLink]="['/shop/filters']">
              <img [src]="category.MainImage" [alt]="category.Category" />
            </a>
            <a [routerLink]="['/shop/filters']">
              {{ category.Category }}
            </a>
          </div>
        </ng-template>
        }
        @empty {
          <i class="fa-solid fa-spinner"></i>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>


<section id="StartYourSystem-Shop">
  <div class="container">
    <h2 class="heading"> {{'BestProduct' | translate}}</h2>
    <ul class="nav nav-tabs nav-primary" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          [ngClass]="{ active: activeTab === 'All' }"
          (click)="selectTab('All')"
          role="tab"
          [attr.aria-selected]="activeTab === 'All'"
        >
        {{'All' | translate}}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          [ngClass]="{ active: activeTab === 'Recommended' }"
          (click)="selectTab('Recommended')"
          role="tab"
          [attr.aria-selected]="activeTab === 'Recommended'"
        >
          {{ 'Recommendition' | translate }}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          [ngClass]="{ active: activeTab === 'MostPopular' }"
          (click)="selectTab('MostPopular')"
          role="tab"
          [attr.aria-selected]="activeTab === 'MostPopular'"
        >
          {{ 'MostPopular' | translate }}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          [ngClass]="{ active: activeTab === 'OnSale' }"
          (click)="selectTab('OnSale')"
          role="tab"
          [attr.aria-selected]="activeTab === 'OnSale'"
        >
          {{ 'OnSale' | translate }}
        </a>
      </li>
    </ul>
    <div class="tab-content py-3">
      <!-- Recommended -->
      <div
        class="tab-pane fade"
        [ngClass]="{ 'show active': activeTab === 'Recommended' }"
        [hidden]="activeTab !== 'Recommended'"
        role="tabpanel"
      >
        <div class="wrapper">
          <div class="card">
            <div class="card-body pl-0">
              <div class="related-product__carousel">
                <owl-carousel-o [options]="ProductsSlider">
                  @for (product of shopData.Category1_to_show.Products; track $index) {
                  <ng-template carouselSlide>
                    <app-product-card [product]="product"></app-product-card>
                  </ng-template>
                  }
                  @empty {
                  <i class="fa-solid fa-spinner"></i>
                  }
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- All -->
      <div
        class="tab-pane fade"
        [ngClass]="{ 'show active': activeTab === 'All' }"
        [hidden]="activeTab !== 'All'"
        role="tabpanel"
      >
        <div class="wrapper">
          <div class="card">
            <div class="card-body pl-0">
              <div class="related-product__carousel">
                <owl-carousel-o [options]="ProductsSlider">
                  @for (product of shopData.Category2_to_show.Products; track $index) {
                  <ng-template carouselSlide>
                    <app-product-card [product]="product"></app-product-card>
                  </ng-template>
                  }
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MostPopular -->
      <div
        class="tab-pane fade"
        [ngClass]="{ 'show active': activeTab === 'MostPopular' }"
        [hidden]="activeTab !== 'MostPopular'"
        role="tabpanel"
      >
        <div class="wrapper">
          <div class="card">
            <div class="card-body pl-0">
              <div class="related-product__carousel">
                <owl-carousel-o [options]="ProductsSlider">
                  @for (product of shopData.Brand_to_show.Products; track $index) {
                  <ng-template carouselSlide>
                    <app-product-card [product]="product"></app-product-card>
                  </ng-template>
                  }
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- On Sale -->
      <div
        class="tab-pane fade"
        [ngClass]="{ 'show active': activeTab === 'OnSale' }"
        [hidden]="activeTab !== 'OnSale'"
        role="tabpanel"
      >
        <div class="wrapper">
          <div class="card">
            <div class="card-body pl-0">
              <div class="related-product__carousel">
                <owl-carousel-o [options]="ProductsSlider">
                  @for (product of shopData.All_Products_On_Sale; track $index) {
                  <ng-template carouselSlide>
                    <app-product-card [product]="product"></app-product-card>
                  </ng-template>
                  }
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Boxes">
  <!-- Select Bundles-->
  <div class="container">
    <div class="More-boxes">
      <div
        class="box box-1"
        style="
          background-image: url(assets/imgs/UI/website/Shop/Escritorio.jpg);
        "
      >
        <p>{{ 'ExploreCollection' | translate }}</p>
        <a class="Button" routerLink="/categories"> {{ 'DiscoverMore' | translate }}</a>
      </div>
      <div
        class="box hoverhere box-2"
        style="
          background-image: url(assets/imgs/UI/website/Shop/AlexaImage2.jpg);
        "
      >
        <div class="overlay-button" style="width: 85%">
          <div class="Info-bundle">
            <h3>{{ bundle.Name }}</h3>
            <p>{{ bundle.brand.Brand }}</p>
          </div>
          <a>Read More</a>
        </div>
      </div>
      <div
        class="box hoverhere box-3"
        style="
          background-image: url(assets/imgs/UI/website/Shop/Escritorio.jpg);
        "
      >
        <div class="overlay-button" style="width: 85%">
          <div class="Info-bundle">
            <h3>{{ bundle.Name }}</h3>
            <p>{{ bundle.brand.Brand }}</p>
          </div>
          <a>Read More</a>
        </div>
      </div>
      <div
        class="box box-4"
        style="
          background-image: url(assets/imgs/UI/website/Shop/LightZhome.jpg);
          flex: 0.6;
        "
      >
        <p>Find Your Perfect Smart Home Setup Here</p>
        <a class="Button" routerLink="/tools">Get Your Design</a>
      </div>
      <div
        class="box hoverhere box-5"
        style="
          background-image: url(assets/imgs/UI/website/Shop/james-mcdonald-74nIYjsOY88-unsplash.jpg);
        "
      >
        <div class="overlay-button" style="width: 85%">
          <div class="Info-bundle">
            <h3>{{ bundle.Name }}</h3>
            <p>{{ bundle.brand.Brand }}</p>
          </div>
          <a>Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Promocode -->
@if(shopData.Promocode){
  <section>
    <div class="container">
      <div class="promocode" style="background-image: url('./assets/imgs/UI/website/Shop/pexels-eric-anada-1495580.jpg')">
          <div class="promoInfo">
              <h2>{{'FreshSale' | translate}}</h2>
              <p>{{'SaveUpTo' | translate}} {{shopData.Promocode.Save + "%"}} </p>
              <h3>{{'WithPromo' | translate}}</h3><br>
              <span>{{shopData.Promocode.Promocode}}</span>
          </div>
          <div class="countdown" id="countdown">
              <div class="num">
                  <span id="Days">{{ timeLeft.days }}</span>
                  <p>{{'DaysSale' | translate}}</p>
              </div>
              <div class="num">
                  <span id="Hours">{{ timeLeft.hours }}</span>
                  <p>{{'HoursSale' | translate}}</p>
              </div>
              <div class="num" >
                  <span id="Minutes">{{ timeLeft.minutes }}</span>
                  <p>{{'MinutesSale' | translate}}</p>
              </div>
              <div class="num">
                  <span id="Seconds">{{ timeLeft.seconds }}</span>
                  <p>{{'SecondsSale' | translate}}</p>
              </div>
          </div>
      </div>
    </div>
  </section>
}
<!-- Products With Sale -->

@if(productsOnSale){
<section>
  <div class="container">
    <div class="category-Name mt-5">
      <h3>{{ 'FreshSaleText' | translate }}</h3>
      <a>{{ 'DiscoverMore' | translate }}<i class="fa fa-arrow-right ml-2"></i></a>
    </div>
    <div class="related-product__carousel mt-3 mb-5">
      <owl-carousel-o [options]="ProductsSlider">
        @for (product of productsOnSale; track $index) {
        <ng-template carouselSlide>
          <div class="item">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>
} 
@else {
  <div class="m-4"></div>
}

<!-- Sub Categories of one category and thier product -->
<section>
  <div class="container Category-selected-shop">
    <!-- Category and Sub of that Category -->

    <section>
      <div class="boxes-shop SubCategory-OnlineShop">
        <div class="category-Name">
          <h3>
            {{ category1.Category }}
            <br />
            <span>{{ 'Category' | translate }}</span>
          </h3>
          <a routerLink=""
            >{{ 'DiscoverMore' | translate }}<i class="fa fa-arrow-right ml-2"></i
          ></a>
        </div>

        @if(shopData.Category1_to_show.Category.subcategories){
        <div class="Subs mt-3">
          @for (subcategory of shopData.Category1_to_show.Category.subcategories ; track $index) {
          <a class="ToTheSubPage">
            <div
              class="box-shop SubCategory-OnlineShop-Circled"
              [style]="'background-image: url(' + subcategory.image + ')'"
            ></div>
            <p>
              {{ subcategory.SubName }}
            </p>
          </a>
          }
        </div>
        }
      </div>
    </section>

    <!-- Product From The Selected Category -->
    <section>
      <div class="related-product__carousel mt-5 mb-5 pb-3">
        <owl-carousel-o [options]="ProductsSlider">
          @for (product of shopData.Category1_to_show.Products; track $index) {
          <ng-template carouselSlide>
            <div class="item">
              <app-product-card [product]="product"></app-product-card>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </section>
  </div>
</section>

<!-- Bundles -->
<section>
  <div class="container">
    <!-- Select Bundles -->
    <h2 class="Home-Text">{{ 'BundlesMadeforYou' | translate }}</h2>
    <div class="Bundles Images-Home">
      @for (bundle of shopData.All_Bundles; track $index) {

      <div class="Bundle-Shop Image-One">
        <img [src]="bundle.MainImage" class="BigWidth" [alt]="bundle.Name" />
        <div class="overlay-button" style="width: 250px">
          <div class="Info-bundle">
            <h3>
              {{ bundle.Name }}
            </h3>
            <p>{{ bundle.brand.Brand }}</p>
          </div>
          <a [routerLink]="['/product', bundle.ID]" class="btn btn-info"
            >Read More</a
          >
        </div>
      </div>

      }
    </div>
  </div>
</section>

<!-- Sub Categories of one category and thier product -->
<section>
  <div class="container Category-selected-shop">
    <!-- Category and Sub of that Category -->
    <section>
      <div class="boxes-shop SubCategory-OnlineShop">
        <div class="category-Name">
          <h3>
            {{ category2.Category }}
            <br />
            <span>{{ 'Category' | translate }}</span>
          </h3>
          <a routerLink=""
            >{{ 'DiscoverMore' | translate }}<i class="fa fa-arrow-right ml-2"></i
          ></a>
        </div>
        @if(shopData.Category2_to_show.Category.subcategories){
        <div class="Subs mt-3">
          @for (subcategory of shopData.Category2_to_show.Category.subcategories ; track $index) {

          <a class="ToTheSubPage">
            <div
              class="box-shop SubCategory-OnlineShop-Circled"
              [style]="'background-image: url(' + subcategory.image + ')'"
            ></div>
            <p>
              {{ subcategory.SubName }}
            </p>
          </a>
          }
        </div>
        }
      </div>
    </section>

    <!-- Product From The Selected Category -->
    <section>
      <div class="related-product__carousel mt-5 mb-5 pb-3">
        <owl-carousel-o [options]="ProductsSlider">
          @for (product of shopData.Category2_to_show.Products; track $index) {
          <ng-template carouselSlide>
            <div class="item">
              <app-product-card [product]="product"></app-product-card>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </section>
  </div>
</section>

<!-- Fixed attach for bundles -->
<section>
  <div
    class="Fixed-bundle item slider-one__slider-1"
    style="
      background-image: url(assets/imgs/UI/website/Shop/bence-boros-anapPhJFRhM-unsplash.jpg);
    "
  >
    <div class="bottom-slider">
      <a href="" class="thm-btn slider-one__btn">{{ 'ExploreBundles' | translate }}</a>
      <h2 class="slider-one__title">
        {{'PackagesAndBundles' | translate }}
        <br />
        {{ 'Matches' | translate }}
      </h2>
    </div>
  </div>
</section>

<!-- one Brand and thier product-->
<section>
  <div class="container mt-5 pt-3">
    <!-- Product From The Selected Brand -->
    <section>
      <div class="Category-Product mt-4 justify-content-between">
        <h3>{{ brand.Brand + " Products" }}</h3>
        <a >{{ 'DiscoverMore' | translate }}<i class="fa fa-arrow-right ml-2"></i></a>
      </div>
      <div class="related-product__carousel mt-5 mb-5">
        <owl-carousel-o [options]="ProductsSlider">
          @for (product of shopData.Brand_to_show.Products ; track $index) {
          <ng-template carouselSlide>
            <div class="item">
              <app-product-card [product]="product"></app-product-card>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </section>
  </div>
</section>

<!-- Tool -->
<section>
  <div class="container">
    <div class="Cards-contact mt-5 pt-4">
      <div class="card-contact-left align-items-center">
        <a routerLink="/tools">
          <img
            src="../../../../assets/imgs/UI/website/Shop/r-architecture-T6d96Qrb5MY-unsplash2.png"
            class="ProposalProduct"
            alt="Design Your Home"
          />
        </a>
        <div class="ToolOnlineShop">
          <h3>{{ 'ToolOnlineShop' | translate }}</h3>
          <div>
            <a routerLink="/tools" class="cta ShopNowButton" id="BuildHomeCta">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                id="HomeIcon"
                height="15"
                width="17"
                viewBox="0 0 576 512"
              >
                <!-- <path transform="translate(30)"  id="Path_10" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></path> -->
              </svg>
              <span class="hover-underline-animation">{{ 'BuildYourHomeButton' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 pt-2">
  <div class="Brand shop-slider-brands">
    <owl-carousel-o [options]="BrandsSlider">
      @for (brand of shopData.All_Brands; track $index){
      <ng-template carouselSlide>
        <img

          [src]="brand.Logo"
          [alt]="brand.Brand"
          [title]="brand.Brand"
        />
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</section>
