<!-- Search  -->
<div class="search-popup">
  <div class="search-popup__overlay custom-cursor__overlay">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
  </div>
  <div class="search-popup__inner">
    <form action="#" class="search-popup__form">
      <input type="text" name="search" placeholder="" autocomplete="off" />
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>

<!-- Scroll to Top -->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
  <i class="fa fa-arrow-turn-up"></i>
</a>

<!-- Footer -->
<section class="MainFooter">
  <div class="Footer">
    <div class="left-footer">
      <!-- Logo -->
      <h2>Zhome</h2>
      <h3>{{'AlwaysInControl' | translate}}</h3>
      <div class="text-footer">
        <p>01122334434</p>
        <p>{{'FindusIn' | translate}} Egypt - Emarites</p>
      </div>

      <p class="Download">{{'DownloadApp' | translate}}</p>
      <button>
        <i class="fa-brands fa-android"></i>
        Android
      </button>
      <button>
        <i class="fa-brands fa-apple"></i>
        IOS
      </button>
    </div>

    <div class="right-footer mr-0">
      <h3>{{'Subscription' | translate}}</h3>
      <p>{{'SubscriptionText' | translate}}</p>
      <div class="subscriptions">
        <input
          type="text"
          class="form-control"
          id="inputEmail"
          name="Email"
          placeholder="{{'EmailPlaceholder' | translate}}"
          required
        />
      </div>

      <div class="list">
        <ul>
          <li class="First">Zhome</li>
          <li>
            <a routerLink="/shop">{{'Shop' | translate}}</a>
          </li>
          <li>
            <a routerLink="/categories">{{'Categories' | translate}}</a>
          </li>
          <li>
            <a routerLink="/platforms">{{'Platforms' | translate}}</a>
          </li>
          <li>
            <a routerLink="/brands">{{'Brands' | translate}}</a>
          </li>
        </ul>
        <ul>
          <li class="First">{{'About' | translate}}</li>
          <li>
            <a routerLink="/about">{{'Zhome' | translate}}</a>
          </li>
          <li>
            <a routerLink="/services">{{'Services' | translate}}</a>
          </li>
          <li>
            <a routerLink="/contact">{{'ContactUs' | translate}}</a>
          </li>
          <li>
            <a routerLink="/about">{{'WhyZhome' | translate}}</a>
          </li>
        </ul>
        <ul>
          <li class="First">
            @if (true){ User } @else if (false){ Admin } @else{ User }
          </li>
          <li>
            @if(!isLoggedIn) {
            <a routerLink="/login">  {{'JoinUs' | translate}}</a>
            } @else if (isLoggedIn){
            <a routerLink="/profile">  {{'Profile' | translate}}</a>
            } @else{
            <a routerLink="/profile">  {{'Profile' | translate}}</a>
            }
          </li>
          <li>
            <a routerLink="/cart"> {{'Cart' | translate}} </a>
          </li>
          <li>
            <a routerLink="/tools">  {{'Tools' | translate}}</a>
          </li>
          <li>
            <a routerLink="/shop/filters">{{'Products' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="Lang">
      @if(currentLang === 'ar'){
        <a id="langSwitchBtn" (click)="switchLang('en')" class="lang-switch-btn">
          <img
            class="lang-flag"
            src="../../assets/imgs/UI/website/Footer/united-kingdom.png"
            alt="English"
          />
          <span class="lang-name">English</span>
        </a>
      }
      @else if (currentLang === 'en') {
        <a id="langSwitchBtn" (click)="switchLang('ar')" class="lang-switch-btn">
          <img
            class="lang-flag"
            src="../../assets/imgs/UI/website/Footer/egypt.png"
            alt="Arabic"
          />
          <span class="lang-name">Arabic</span>
        </a>
      }

    </div>
    <div class="copy">
      <p>Copyright 2024 Zhome. {{'CopyRights' | translate}}</p>
    </div>
    <div class="Icons">
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</section>
