/* You can add global styles to this file, and also import other style files */
:root{
    --mainColor : #154352 ;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ol,
ul,
div {
  font-family: "Open Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul{
    list-style: none;
}

/* Icon */
a.ZhomeName{
    color: white !important;
    background-color: var(--MainColor);
    font-size: 23px;
    width: 120px;
    text-align: center;
    height: 91px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}